.aipe-kurssi
  div
    h1(ng-bind="kurssi.nimi || 'nimeton' | kaanna")

    div(ng-if="kurssi.koodi")
      h2(kaanna="'koodi'")
      p {{kurssi.koodi.arvo}}

    div(ng-if="kurssi.kuvaus")
      h2(kaanna="'kuvaus'")
      termisto-tekstikentta(tekstikentta="kurssi.kuvaus")

    div(ng-if="kurssi.tavoitteet.length > 0")
      h2(kaanna="'liitetyt-tavoitteet'")
      .table-responsive
        table.table.table-striped
          tr(ng-repeat="tavoite in oppiaine.tavoitteet | filter:tavoitteetFilter")
            td(kaanna="tavoite.tavoite")
