h1(kaanna="'laaja-alaisen-osaamisen-alueet'")
div(ng-repeat='osaaminen in laajaalaiset | orderBy:osaaminenSort')
  h2(ng-bind-html='osaaminen.nimi | kaanna | unsafe')
  p(ng-bind-html='osaaminen.kuvaus | kaanna | unsafe')
