div
  h1.peruste-otsikko(ng-bind-html='peruste.nimi | kaanna | unsafe')
  .alert.alert-info(ng-if="peruste.tila !== 'valmis'")
    h4(kaanna="'perusteen-esikatselu'")
    p(kaanna="'laadinnan-esikatselu-info'")
  murupolku
  .clearfix
  #sivunavi-sisalto-wrapper(ng-class="{'sivunavi-hidden': !isNaviVisible()}")
    .esitys
      .sivunavi-navigaatio
        ep-lukio-sivunavigaatio(on-section-change='onSectionChange', header='navi.header', sections='navi.sections', show-one='navi.showOne')
      .sivunavi-clear
      .sivunavi-sisalto
        .row
          .col-md-12
            ep-lukio-tabs(simple-legend='true', tab-urls='tabConfig')
            #esitysPrintSisalto(ui-view='')
