<h1 esitys-sivu-otsikko="tekstikappale.nimi">
  <span ng-bind-html="tekstikappale.nimi | kaanna | unsafe"></span>
</h1>
<termisto-tekstikentta tekstikentta="tekstikappale.teksti"></termisto-tekstikentta>

<div ng-repeat="lapsi in lapset" id="{{lapsi.$osa.id}}">
  <h2 ng-bind="lapsi.$osa.nimi | kaanna"></h2>
  <termisto-tekstikentta tekstikentta="lapsi.$osa.teksti"></termisto-tekstikentta>

  <div ng-repeat="alilapsi in lapsi.lapset" id="{{alilapsi.$osa.id}}">
    <h3 ng-bind="alilapsi.$osa.nimi | kaanna"></h3>
    <termisto-tekstikentta tekstikentta="alilapsi.$osa.teksti"></termisto-tekstikentta>

    <div ng-repeat="alialilapsi in alilapsi.lapset" id="{{alialilapsi.$osa.id}}">
      <h4 ng-bind="alialilapsi.$osa.nimi | kaanna"></h4>
      <termisto-tekstikentta tekstikentta="alialilapsi.$osa.teksti"></termisto-tekstikentta>
    </div>
  </div>
</div>

<div class="prevnext-wrapper" ng-if="links.prev || links.next">
  <div class="prevnext">
    <a class="prev chevron" ng-if="links.prev" ui-sref="^.tekstikappale({tekstikappaleId: links.prev.$osa.id})">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="prev" ng-if="links.prev" ui-sref="^.tekstikappale({tekstikappaleId: links.prev.$osa.id})">
      <span ng-bind-html="links.prev.label | kaanna | unsafe"></span>
    </a>
    <a class="next" ng-if="links.next" ui-sref="^.tekstikappale({tekstikappaleId: links.next.$osa.id})">
      <span ng-bind-html="links.next.label | kaanna | unsafe"></span>
    </a>
    <a class="next chevron" ng-if="links.next" ui-sref="^.tekstikappale({tekstikappaleId: links.next.$osa.id})">
      <span class="glyphicon glyphicon-chevron-right"></span>
  </div>
</div>
