.tavoitteet-aihekokonaisuudet(ui-view='')
div(ng-show="stateIs('root.lukio.oppiaine.kurssi')")
  h1.oppiaine-nimi(id='{{kurssi.id}}', esitys-sivu-otsikko='kurssi.nimi')
    span(ng-bind='kurssi.nimi | kaanna')
    |     (
    span(ng-bind='kurssi.koodiArvo')
    | )
  // FIXME: Tyylit omaan tiedostoon
  .kurssikuvaus-pakollinen(ng-show="kurssi.tyyppi === 'PAKOLLINEN' && oppiaine.pakollinenKurssiKuvaus", ng-bind-html='oppiaine.pakollinenKurssiKuvaus | kaanna | unsafe')
  .kurssikuvaus-syventava(ng-show="kurssi.tyyppi === 'VALTAKUNNALLINEN_SYVENTAVA' && oppiaine.syventavaKurssiKuvaus", ng-bind-html='oppiaine.syventavaKurssiKuvaus | kaanna | unsafe')
  .kurssikuvaus-soveltava(ng-show="kurssi.tyyppi === 'VALTAKUNNALLINEN_SOVELTAVA' && oppiaine.soveltavaKurssiKuvaus", ng-bind-html='oppiaine.soveltavaKurssiKuvaus | kaanna | unsafe')
  div(style='margin-bottom: 10px')
  .lukio-kurssi-list
    div(ng-show='kurssi.kuvaus | kaanna')
      termisto-tekstikentta(tekstikentta='kurssi.kuvaus')
    div(ng-show='kurssi.tavoitteet.teksti | kaanna')
      h2.osio-otsikko(ng-bind='kurssi.tavoitteet.otsikko | kaanna')
      termisto-tekstikentta(tekstikentta='kurssi.tavoitteet.teksti')
    div(ng-show='kurssi.keskeisetSisallot.teksti | kaanna')
      h2.osio-otsikko(ng-bind='kurssi.keskeisetSisallot.otsikko | kaanna')
      termisto-tekstikentta(tekstikentta='kurssi.keskeisetSisallot.teksti')
    div(ng-show='kurssi.tavoitteetJaKeskeisetSisallot.teksti | kaanna')
      h2.osio-otsikko(ng-bind='kurssi.tavoitteetJaKeskeisetSisallot.otsikko | kaanna')
      termisto-tekstikentta(tekstikentta='kurssi.tavoitteetJaKeskeisetSisallot.teksti')
