<h1 class="oppiaine-nimi" esitys-sivu-otsikko="valittuOppiaine.oppiaine.nimi">
  <span kaanna="valittuOppiaine.nimi"></span>
</h1>

<div class="clearfix"></div>

<div ng-if="filterKurssit(kurssit,0).length" class="kurssi-list">
  <h2 ng-bind-html="'pakolliset-kurssit' | kaanna | unsafe"></h2>
  <div ng-repeat="kurssi in filterKurssit(kurssit, 0)">
    <span class="colorlabel pakollinen"></span>
    <span class="spacer-small"></span>
    <span class="kurssi-soveltava oppiaine-kurssi-list" ng-bind="kurssi.nimi | kaanna"></span>
  </div>
</div>

<div ng-if="filterKurssit(kurssit,1).length" class="kurssi-list">
  <h2 ng-bind-html="'syventava-kurssit' | kaanna | unsafe"></h2>
  <div ng-repeat="kurssi in filterKurssit(kurssit, 1)">
    <span class="colorlabel syventava"></span>
    <span class="spacer-small"></span>
    <a class="kurssi-soveltava oppiaine-kurssi-list" ng-bind="kurssi.nimi | kaanna"></a>
  </div>
</div>

<div ng-if="filterKurssit(kurssit,2).length" class="kurssi-list">
  <h2 ng-bind-html="'soveltava-kurssit' | kaanna | unsafe"></h2>
  <div ng-repeat="kurssi in filterKurssit(kurssit, 2)">
    <span class="colorlabel soveltava"></span>
    <span class="spacer-small"></span>
    <a class="kurssi-soveltava oppiaine-kurssi-list" ng-bind="kurssi.nimi | kaanna"></a>
  </div>
</div>

<div ng-if="valittuOppiaine.pakollinenKurssiKuvaus">
  <h2 kaanna="'pakolliset-kurssit'"></h2>
  <div ng-hide="!valittuOppiaine.pakollinenKurssiKuvaus || !hasContent(valittuOppiaine.pakollinenKurssiKuvaus)">
    <termisto-tekstikentta tekstikentta="valittuOppiaine.pakollinenKurssiKuvaus  || '-'"></termisto-tekstikentta>
  </div>
</div>

<div ng-if="valittuOppiaine.soveltavaKurssiKuvaus">
  <h2 kaanna="'soveltava-kurssit'"></h2>
  <div ng-hide="!valittuOppiaine.soveltavaKurssiKuvaus || !hasContent(valittuOppiaine.pakollinenKurssiKuvaus)">
    <termisto-tekstikentta tekstikentta="valittuOppiaine.soveltavaKurssiKuvaus  || '-'"></termisto-tekstikentta>
  </div>
</div>

<div ng-if="valittuOppiaine.syventavaKurssiKuvaus">
  <h2 kaanna="'syventava-kurssit'"></h2>
  <div ng-hide="!valittuOppiaine.pakollinenKurssiKuvaus || !hasContent(valittuOppiaine.pakollinenKurssiKuvaus)">
    <termisto-tekstikentta tekstikentta="valittuOppiaine.syventavaKurssiKuvaus  || '-'"></termisto-tekstikentta>
  </div>
</div>

<div ng-if="valittuOppiaine.tavoitteet">
  <h2 ng-bind-html="valittuOppiaine.tavoitteet.otsikko | kaanna | unsafe"></h2>
  <div ng-hide="!valittuOppiaine.tavoitteet || !hasContent(valittuOppiaine.tavoitteet)">
    <termisto-tekstikentta tekstikentta="valittuOppiaine.tavoitteet.teksti  || '-'"></termisto-tekstikentta>
  </div>
</div>

<div ng-if="valittuOppiaine.arviointi">
  <h2 ng-bind-html="valittuOppiaine.arviointi.otsikko | kaanna | unsafe"></h2>
  <div ng-hide="!valittuOppiaine.arviointi || !hasContent(valittuOppiaine.arviointi)">
    <termisto-tekstikentta tekstikentta="valittuOppiaine.arviointi.teksti  || '-'"></termisto-tekstikentta>
  </div>
</div>


<div ng-if="oppimaarat.length > 0" class="oppimaarat">
  <h2 kaanna="'oppimaarat'"></h2>

<div ng-repeat="oppimaara in oppimaarat">
  <h2 ng-bind-html="oppimaara.nimi | kaanna | unsafe"></h2>

  <div ng-if="filterKurssit(oppimaara.kurssit,0).length" class="kurssi-list">
    <h2 ng-bind-html="'pakolliset-kurssit' | kaanna | unsafe"></h2>
    <div ng-repeat="kurssi in filterKurssit(oppimaara.kurssit, 0)">
      <span class="colorlabel pakollinen"></span>
      <span class="spacer-small"></span>
      <span class="kurssi-soveltava oppiaine-kurssi-list" ng-bind="kurssi.nimi | kaanna"></span>
    </div>
  </div>

  <div ng-if="filterKurssit(oppimaara.kurssit,1).length" class="kurssi-list">
    <h2 ng-bind-html="'syventava-kurssit' | kaanna | unsafe"></h2>
    <div ng-repeat="kurssi in filterKurssit(oppimaara.kurssit, 1)">
      <span class="colorlabel syventava"></span>
      <span class="spacer-small"></span>
      <a class="kurssi-soveltava oppiaine-kurssi-list" ng-bind="kurssi.nimi | kaanna"></a>
    </div>
  </div>

  <div ng-if="filterKurssit(oppimaara.kurssit,2).length"class="kurssi-list">
    <h2 ng-bind-html="'soveltava-kurssit' | kaanna | unsafe"></h2>
    <div ng-repeat="kurssi in filterKurssit(oppimaara.kurssit, 2)">
      <span class="colorlabel soveltava"></span>
      <span class="spacer-small"></span>
      <a class="kurssi-soveltava oppiaine-kurssi-list" ng-bind="kurssi.nimi | kaanna"></a>
    </div>
  </div>

  <div ng-if="oppimaara.pakollinenKurssiKuvaus">
    <h2 kaanna="'pakolliset-kurssit'"></h2>
    <div ng-hide="!oppimaara.pakollinenKurssiKuvaus || !hasContent(oppimaara.pakollinenKurssiKuvaus)">
      <termisto-tekstikentta tekstikentta="oppimaara.pakollinenKurssiKuvaus  || '-'"></termisto-tekstikentta>
    </div>
  </div>

  <div ng-if="oppimaara.soveltavaKurssiKuvaus">
    <h2 kaanna="'soveltava-kurssit'"></h2>
    <div ng-hide="!oppimaara.soveltavaKurssiKuvaus || !hasContent(oppimaara.pakollinenKurssiKuvaus)">
      <termisto-tekstikentta tekstikentta="oppimaara.soveltavaKurssiKuvaus  || '-'"></termisto-tekstikentta>
    </div>
  </div>

  <div ng-if="oppimaara.syventavaKurssiKuvaus">
    <h2 kaanna="'syventava-kurssit'"></h2>
    <div ng-hide="!oppimaara.pakollinenKurssiKuvaus || !hasContent(oppimaara.pakollinenKurssiKuvaus)">
      <termisto-tekstikentta tekstikentta="oppimaara.syventavaKurssiKuvaus  || '-'"></termisto-tekstikentta>
    </div>
  </div>

  <div ng-if="oppimaara.tavoitteet">
    <h2 ng-bind-html="oppimaara.tavoitteet.otsikko | kaanna | unsafe"></h2>
    <div ng-hide="!oppimaara.tavoitteet || !hasContent(oppimaara.tavoitteet)">
      <termisto-tekstikentta tekstikentta="oppimaara.tavoitteet.teksti  || '-'"></termisto-tekstikentta>
    </div>
  </div>

  <div ng-if="oppimaara.arviointi">
    <h2 ng-bind-html="oppimaara.arviointi.otsikko | kaanna | unsafe"></h2>
    <div ng-hide="!oppimaara.arviointi || !hasContent(valittuOppiaine.arviointi)">
      <termisto-tekstikentta tekstikentta="oppimaara.arviointi.teksti  || '-'"></termisto-tekstikentta>
    </div>
  </div>
</div>
</div>

<h1 class="oppiaine-nimi" esitys-sivu-otsikko="kurssit">
  <span ng-bind="'Kurssit' | kaanna"></span>
</h1>

<div ng-repeat="kurssi in kurssit" class="lukio-kurssi-list">
  <h3 id="kurssi.id" esitys-sivu-otsikko="kurssi.nimi">
    <span ng-bind-html="kurssi.nimi | kaanna | unsafe"></span>
  </h3>

  <h4 ng-bind="'keskeiset-sisallot' | kaanna"></h4>
  <termisto-tekstikentta tekstikentta="kurssi.keskeisetSisallot"></termisto-tekstikentta>

  <h4 ng-bind="'tavoitteet-ja-keskeiset-sisallot' | kaanna"></h4>
  <termisto-tekstikentta tekstikentta="kurssi.tavoitteetJaKeskeisetSisallot"></termisto-tekstikentta>

  <h4 ng-bind="'tavoitteet' | kaanna"></h4>
  <termisto-tekstikentta tekstikentta="kurssi.tavoitteet"></termisto-tekstikentta>

</div>


<pre>{{valittuOppiaine | json}}</pre>
<pre>{{oppimaarat | json}}</pre>
<pre>{{kurssit | json}}</pre>
