<div class="perusopetus">
  <div ng-repeat="item in section.items" class="tekstisisalto" ng-class="section.naviClasses(item)"
      ng-hide="!item.$matched || item.root || (!search.term && (item.$hidden || item.$impHidden))">
      <a ng-if="item.url" ng-click="setIndex(item.idx)" ng-href="{{item.url}}">
        <span ep-highlight="search.term" ng-bind="item.label | kaanna">{{ item.label | kaanna }}</span>
      </a>
      <a ng-if="item.$kurssi" ng-click="scrollToKurssi(item.$id)">
      <span ep-highlight="search.term" ng-bind="item.label | kaanna"></span>
      </a>
  </div>
</div>
