h4(ng-show='$first') {{tavoite.nimi | kaanna}}
h4 {{tavoite.pakollinen && 'pakolliset-osaamistavoitteet' || 'valinnaiset-osaamistavoitteet' | kaanna}}, {{tavoite.laajuus}} {{yksikko|kaanna}}
.leipateksti(ng-bind-html='tavoite.tavoitteet | kaanna | unsafe')
div(ng-if='hasArviointi(tavoite)')
  h4(kaanna="'osaamisen-arviointi'")
  div(ng-repeat='kohdealue in tavoite.arviointi.arvioinninKohdealueet')
    .arviointi
      .arviointi-otsikko(ng-hide="kohdealue.otsikko.fi === 'automaattinen' || kohdealue.otsikko.fi === 'Nimetön' || reformiTutke2")
        h4 {{ kohdealue.otsikko | kaanna }}
      .arviointi-sisalto
        div(ng-repeat='kohde in kohdealue.arvioinninKohteet')
          h4 {{ kohde.otsikko | kaanna }}
          b(ng-show="reformiTutke2") {{ kohde.selite | kaanna }}
          table.table.table-striped
            tr(ng-repeat="okriteeri in kohde.osaamistasonKriteerit | orderBy:'_osaamistaso'")
              td.arviointi-okriteeri(ng-class='{yksiportainen: $first && $last}')
                span(ng-if='!($first && $last)') {{ arviointiasteikot[kohde._arviointiAsteikko][okriteeri._osaamistaso].otsikko | kaanna }}
              td
                ul
                  li(ng-repeat='kriteeri in okriteeri.kriteerit') {{ kriteeri | kaanna }}
.leipateksti(ng-bind-html='tavoite.tunnustaminen | kaanna | unsafe')
.ammattitaitovaatimukset
  div(ng-repeat="ammattitaitovaatimus in tavoite.ammattitaitovaatimuksetLista")
    .box-panel
      .box-panel-title
        h3
          span(ng-if="ammattitaitovaatimus.otsikko" ng-bind="ammattitaitovaatimus.otsikko | kaanna")
      .box-panel-content
        .vaatimuksen-kohteet
          div(ng-repeat='vaatimuksenKohde in ammattitaitovaatimus.vaatimuksenKohteet')
            .vaatimuksen-kohde
              h4
                span(ng-if='vaatimuksenKohde.otsikko', ng-bind='vaatimuksenKohde.otsikko | kaanna')
              p
                span(ng-if='vaatimuksenKohde.selite', ng-bind='vaatimuksenKohde.selite | kaanna')
              div
                ul
                  li(ng-repeat='vaatimus in vaatimuksenKohde.vaatimukset')
                    span(ng-bind='vaatimus.selite | kaanna')
                    span  ({{ vaatimus.ammattitaitovaatimusKoodi }})
