h1(esitys-sivu-otsikko='tekstikappale.nimi')
  span(ng-bind-html='tekstikappale.nimi | kaanna | unsafe')
termisto-tekstikentta(tekstikentta='tekstikappale.teksti')
div(ng-repeat='lapsi in lapset')
  ep-tekstiotsikko(level='2', model='lapsi', link-var='linkVar')
  termisto-tekstikentta(tekstikentta='lapsi.$osa.teksti')
  div(ng-repeat='alilapsi in lapsi.lapset')
    ep-tekstiotsikko(level='3', model='alilapsi', link-var='linkVar')
    termisto-tekstikentta(tekstikentta='alilapsi.$osa.teksti')
    div(ng-repeat='alialilapsi in alilapsi.lapset')
      ep-tekstiotsikko(level='4', model='alialilapsi', link-var='linkVar')
      termisto-tekstikentta(tekstikentta='alialilapsi.$osa.teksti')
.visible-xs
  .row
    .col-xs-6
      a.prev(ng-if='links.prev', ui-sref='^.tekstikappale({tekstikappaleId: links.prev.$osa.id})')
        span(ng-bind-html='links.prev.label | kaanna | unsafe')
    .col-xs-6
      a.next(ng-if='links.next', ui-sref='^.tekstikappale({tekstikappaleId: links.next.$osa.id})')
        span(ng-bind-html='links.next.label | kaanna | unsafe')
  .row
    .col-xs-6
      a.prev.chevron(ng-if='links.prev', ui-sref='^.tekstikappale({tekstikappaleId: links.prev.$osa.id})')
        span.glyphicon.glyphicon-chevron-left
    .col-xs-6
      a.next.chevron(ng-if='links.next', ui-sref='^.tekstikappale({tekstikappaleId: links.next.$osa.id})')
        span.glyphicon.glyphicon-chevron-right
.prevnext-wrapper.hidden-xs(ng-if='links.prev || links.next')
  .prevnext
    a.prev.chevron(ng-if='links.prev', ui-sref='^.tekstikappale({tekstikappaleId: links.prev.$osa.id})')
      span.glyphicon.glyphicon-chevron-left
    a.prev(ng-if='links.prev', ui-sref='^.tekstikappale({tekstikappaleId: links.prev.$osa.id})')
      span(ng-bind-html='links.prev.label | kaanna | unsafe')
    a.next(ng-if='links.next', ui-sref='^.tekstikappale({tekstikappaleId: links.next.$osa.id})')
      span(ng-bind-html='links.next.label | kaanna | unsafe')
    a.next.chevron(ng-if='links.next', ui-sref='^.tekstikappale({tekstikappaleId: links.next.$osa.id})')
      span.glyphicon.glyphicon-chevron-right
