<!-- partials/esitys/tiedot.html -->

<h1 esitys-sivu-otsikko="'perusteen-tiedot'"><span kaanna="'perusteen-tiedot'"></span></h1>

<div class="row row-margin">
  <div class="col-xs-6 col-sm-4" ng-if="!!peruste.nimi">
    <strong>
      <span kaanna="'perusteen-nimi'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span ng-bind="(peruste.nimi || 'nimetön') | kaanna"></span>
  </div>
</div>


<div class="row row-margin">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'maarayksen-diaarinumero'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span ng-bind="peruste.diaarinumero"></span>
  </div>
</div>


<div class="row row-margin">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'maarayksen-paatospaivamaara'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span pvm="peruste.paatospvm"></span>
  </div>
</div>


<div ng-if="peruste.maarayskirje && peruste.maarayskirje.url" class="row row-margin">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'maarayskirje'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <a ng-href="{{ peruste.maarayskirje.url | kaanna }}">{{ peruste.maarayskirje.url | kaanna }}</a>
  </div>
</div>


<div class="row row-margin" ng-if="peruste.korvattavatDiaarinumerot && peruste.korvattavatDiaarinumerot.length > 0">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'korvattavat-perusteet'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8 esitys-korvattavat">
    <ul>
      <li ng-repeat="diaari in peruste.korvattavatDiaarinumerot">
        <span ng-bind=diaari></span>
      </li>
    </ul>
  </div>
</div>


<div class="row row-margin" ng-if="peruste.korvattavatDiaarinumerot && peruste.korvattavatDiaarinumerot.length > 0 && !!peruste.siirtymaPaattyy">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'siirtyman-paattyminen'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span pvm="peruste.siirtymaPaattyy"></span>
  </div>
</div>


<div class="row row-margin" ng-if="peruste.koulutukset.length !== 0">
  <div class="col-xs-12 col-sm-4">
    <strong>
      <span kaanna="'peruste-koulutukset'"></span>
    </strong>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="koulutukset" ng-if="peruste.koulutukset.length > 0">
      <div class="koulutus" ng-repeat="koulutus in peruste.koulutukset">
        <div class="row row-margin">
          <div class="col-xs-6">
            <strong>
              <span kaanna="'koulutuksen-nimi'"></span>
            </strong>
          </div>
          <div class="col-xs-6">
            <span>{{koulutus.nimi| kaanna}}</span>
          </div>
        </div>

        <div class="row row-margin">
          <div class="col-xs-6">
            <strong>
              <span kaanna="'perusteen-koodi'"></span>
            </strong>
          </div>
          <div class="col-xs-6">
            <span>{{koulutus.koulutuskoodiArvo}}</span>
          </div>
        </div>

        <!-- Poistettu käytöstä -->
        <!-- <div class="row row-margin"> -->
        <!--   <div class="col-xs-6"> -->
        <!--     <strong> -->
        <!--       <span kaanna="'haku-koulutusala'"></span> -->
        <!--     </strong> -->
        <!--   </div> -->
        <!--   <div class="col-xs-6"> -->
        <!--     <span>{{koulutusalaNimi(koulutus.koulutusalakoodi).nimi | kaanna}}</span> -->
        <!--   </div> -->
        <!-- </div> -->

        <!--<div class="row">
          <div class="col-xs-6">
            <strong>
              <span kaanna="'haku-opintoala'"></span>
            </strong>
          </div>
          <div class="col-xs-6">
            <span>{{opintoalaNimi(koulutus.opintoalakoodi).nimi | kaanna}}</span>
          </div>
        </div>-->
      </div>
    </div>
  </div>
</div>


<div class="row row-margin" ng-show="showOsaamisalat()" ng-if="peruste.osaamisalat.length > 0">
  <div class="col-xs-12 col-sm-4">
    <strong>
      <span kaanna="'osaamisalat'"></span>
    </strong>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="table-responsive">
      <table class="table aligned tutkintonimikkeet">
        <thead>
          <tr>
            <th>
              <span kaanna="'nimi'">Nimi</span>
            </th>
            <th>
              <span kaanna="'koodi'" >Koodi</span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="oa in peruste.osaamisalat" class="ng-scope">
            <td ng-bind="oa.nimi | kaanna"></td>
            <td ng-bind="oa.arvo"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="row row-margin" ng-if="koodisto.length > 0">
  <div class="col-xs-12 col-sm-4">
    <strong>
      <span kaanna="'tutkintonimikkeet'"></span>
    </strong>
  </div>
  <div class="col-xs-12 col-sm-8">
    <div class="table-responsive">
      <table ng-if="koodisto.length > 0" class="table aligned tutkintonimikkeet">
        <thead>
          <tr>
            <th kaanna="'osaamisala'"></th>
            <th kaanna="'tutkintonimike'"></th>
            <th kaanna="'tutkinnonosa'"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="koodi in koodisto">
            <td><span ng-show="koodi.osaamisalaArvo">{{ koodi.$osaamisalaNimi | kaanna }} ({{ koodi.osaamisalaArvo }})</span></td>
            <td>{{ koodi.$tutkintonimikeNimi | kaanna }} ({{ koodi.tutkintonimikeArvo }})</td>
            <td><span ng-show="koodi.tutkinnonOsaArvo">{{ koodi.$tutkinnonOsaNimi | kaanna }} ({{ koodi.tutkinnonOsaArvo }})</span></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div ng-if="koodisto.length === 0" kaanna="'ei-tutkintonimikkeita'"></div>
  </div>
</div>


<div class="row row-margin" ng-if="!!peruste.kuvaus">
  <div class="col-xs-12 col-sm-4">
    <strong>
      <span kaanna="'tiivistelma'"></span>
    </strong>
  </div>
  <div class="col-xs-12 col-sm-8">
    <termisto-tekstikentta tekstikentta="peruste.kuvaus"></termisto-tekstikentta>
  </div>
</div>

<div class="row row-margin" ng-if="!!dokumenttiUrl">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'dokumentti-osoite'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <a ng-href="{{ dokumenttiUrl }}">{{ dokumenttiUrl }}</a>
    <span>{{ dokumenttiUrl }}</span>
  </div>
</div>

<div class="row row-margin" ng-if="!!peruste.voimassaoloAlkaa">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'voimaantulo-pvm'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span pvm="peruste.voimassaoloAlkaa"></span>
  </div>
</div>

<div class="row row-margin" ng-if="!!peruste.voimassaoloLoppuu">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'voimassaolo-paattymispvm'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span pvm="peruste.voimassaoloLoppuu"></span>
  </div>
</div>

<div class="clearfix"></div>
