.tutkinnonosa-wrapper
  h1(esitys-sivu-otsikko='tutkinnonOsaViite.nimi')
    | {{tutkinnonOsaViite.nimi | kaanna}}{{tutkinnonOsaViite.laajuus ? ', ' : ''}}
    span(ng-show='tutkinnonOsaViite.laajuus') {{tutkinnonOsaViite.laajuus}} {{yksikko | kaanna}}
  div(ng-if='tutkinnonOsa.koodiArvo')
    strong(kaanna="'koodi'")
    | : {{tutkinnonOsa.koodiArvo}}
  div(ng-if='tutkinnonOsaViite.jarjestys')
    strong(kaanna="'tutkinnonosa-jarjestysnumero'")
    | : {{tutkinnonOsaViite.jarjestys}}
  div.to-vapaat-tekstit(ng-show='tutkinnonOsa.vapaatTekstit.length > 0')
    div(ng-repeat='vt in tutkinnonOsa.vapaatTekstit')
      h3
        a(href='', ng-click='vt.$$open = !vt.$$open')
          span(ng-hide='vt.$$open', icon-role='chevron-right')
          span(ng-show='vt.$$open', icon-role='chevron-down')
          span(ng-bind-html='vt.nimi | kaanna')
      div(uib-collapse='!vt.$$open', ng-bind-html='vt.teksti | kaanna')
  div(ng-if="tutkinnonOsa.tyyppi !== 'tutke2'", ng-repeat='k in fieldKeys | orderBy: fieldOrder')
    div(ng-if="k === 'arviointi'")
      div(ng-show='tutkinnonOsa.arviointi.arvioinninKohdealueet')
        h3(kaanna="'arviointi'")
        div(ng-repeat='kohdealue in tutkinnonOsa.arviointi.arvioinninKohdealueet')
          .arviointi
            .arviointi-otsikko
              h4 {{kohdealue.otsikko | kaanna}}
            .arviointi-sisalto
              div(ng-repeat='kohde in kohdealue.arvioinninKohteet')
                h4 {{kohde.otsikko | kaanna}}
                h5 {{kohde.selite || '' | kaanna}}
                .table-responsive
                  table.table.table-striped
                    tr(ng-repeat="okriteeri in kohde.osaamistasonKriteerit | orderBy: '_osaamistaso'")
                      td.arviointi-okriteeri
                        span
                          | {{arviointiasteikot[kohde._arviointiAsteikko][okriteeri._osaamistaso].otsikko | kaanna}}
                      td
                        ul
                          li(ng-repeat='kriteeri in okriteeri.kriteerit') {{kriteeri | kaanna}}
      div(ng-show='(!tutkinnonOsa.arviointi.arvioinninKohdealueet || tutkinnonOsa.arviointi.arvioinninKohdealueet.length === 0) && tutkinnonOsa.arviointi.lisatiedot')
        h3(kaanna="'arviointi'")
        div(ng-bind-html='tutkinnonOsa.arviointi.lisatiedot | kaanna | unsafe')
    div(ng-if="k === 'geneerinenArviointiasteikko' && hasGeneerinenArviointi()")
      h3(kaanna="'arviointi'")
      div
        .arviointi
          .arviointi-sisalto
            div
              h5 {{tutkinnonOsa.geneerinenArviointiasteikko.kohde | kaanna}}
              .table-responsive
                table.table.table-striped
                  tr(ng-repeat="osaamistasonKriteeri in tutkinnonOsa.geneerinenArviointiasteikko.osaamistasonKriteerit | orderBy: '_osaamistaso'")
                    td.arviointi-okriteeri
                      span
                        | {{arviointiasteikot[tutkinnonOsa.geneerinenArviointiasteikko._arviointiAsteikko][osaamistasonKriteeri._osaamistaso].otsikko | kaanna}}
                    td
                      ul
                        li(ng-repeat='kriteeri in osaamistasonKriteeri.kriteerit') {{kriteeri | kaanna}}


    div(ng-if="k === 'ammattitaitovaatimukset2019' && tutkinnonOsa[k]")
      h3 {{k | kaanna}}
      div(ng-if="tutkinnonOsa.ammattitaitovaatimukset2019.kohde && tutkinnonOsa.ammattitaitovaatimukset2019.vaatimukset.length > 0"
          kaanna="tutkinnonOsa.ammattitaitovaatimukset2019.kohde")
      ul
        li(ng-repeat="vaatimus in tutkinnonOsa.ammattitaitovaatimukset2019.vaatimukset") {{vaatimus.vaatimus | kaanna}}
          span(ng-if="vaatimus.koodi && vaatimus.koodi.arvo")  ({{vaatimus.koodi.arvo}})
      div(ng-repeat="kohdealue in tutkinnonOsa.ammattitaitovaatimukset2019.kohdealueet")
        div
          strong(kaanna="kohdealue.kuvaus")
        div(ng-if="tutkinnonOsa.ammattitaitovaatimukset2019.kohde" kaanna="tutkinnonOsa.ammattitaitovaatimukset2019.kohde")
        ul
          li(ng-repeat="kohdealuevaatimus in kohdealue.vaatimukset") {{kohdealuevaatimus.vaatimus | kaanna}}
            span(ng-if="kohdealuevaatimus.koodi && kohdealuevaatimus.koodi.arvo")  ({{kohdealuevaatimus.koodi.arvo}})

    div(ng-if="k !== 'arviointi' && k !== 'ammattitaitovaatimukset2019' && k !== 'geneerinenArviointiasteikko' && tutkinnonOsa[k]")
      h3 {{k | kaanna}}
      termisto-tekstikentta(tekstikentta='tutkinnonOsa[k]')
  div(ng-if="tutkinnonOsa.tyyppi === 'tutke2' || tutkinnonOsa.tyyppi === 'reformi_tutke2'")
    termisto-tekstikentta(tekstikentta='tutkinnonOsa.kuvaus')
    div.osa-alueet
      span
        b(kaanna="'osa-alueet'")
      span :&nbsp;
      span(ng-repeat='osaalue in tutkinnonOsa.osaAlueet | filter:osaAlueFilter')
        span(ng-if='!$first') &nbsp;|&nbsp;
        a.action-link(ng-click="goToAnchor('osaalue', osaalue.id)") {{osaalue.nimi | kaanna}}
    div(ng-repeat='osaalue in tutkinnonOsa.osaAlueet | filter:osaAlueFilter')
      h3(id='osaalue{{osaalue.id}}') {{osaalue.nimi | kaanna}}
      div(ng-if='osaalue.koodi && osaalue.koodi.arvo')
        strong(kaanna="'koodi'")
        | : {{osaalue.koodi.arvo}}
      div(ng-repeat='osaamistavoitteet in osaalue.$groups.grouped')
        div(ng-repeat='tavoite in osaamistavoitteet | filter:osaAlueFilter', ng-include="'eperusteet-esitys/views/osaamistavoite.html'")
      div(ng-repeat='tavoite in osaalue.$groups.ungrouped', ng-include="'eperusteet-esitys/views/osaamistavoite.html'")
      div(ng-if='osaalue.valmaTelmaSisalto', ng-include="'eperusteet-esitys/views/valmatelma.html'")
  div(ng-if='tutkinnonOsa.valmaTelmaSisalto', ng-include="'eperusteet-esitys/views/valmatelma.html'")
