.perusopetus
  .tekstisisalto(ng-repeat='item in section.items', ng-class='section.naviClasses(item)', ng-hide='item.root || item.$hidden')
    a(ng-href='{{item.url}}')
      span {{ item.label | kaanna }}
