html
  body
    h1.oppiaine-nimi(esitys-sivu-otsikko='valittuOppiaine.oppiaine.nimi')
      span(ng-bind='valittuOppiaine.oppiaine.nimi | kaanna')
    .vuosiluokkavalitsin(ng-if='valittuOppiaine.oppiaine.vuosiluokkakokonaisuudet.length > 1')
      ul.nav.nav-pills
        li(ng-repeat='(id, kokonaisuus) in valittuOppiaine.vuosiluokkakokonaisuudet', ng-class='{active: activeVlkId == kokonaisuus._vuosiluokkaKokonaisuus }')
          a.vlktab.action-link(ng-if='!inSisallot', ui-sref='^.vlkoppiaine({vlkId: kokonaisuus._vuosiluokkaKokonaisuus})')
            | {{ vuosiluokkakokonaisuudetMap[kokonaisuus._vuosiluokkaKokonaisuus].nimi | kaanna }}
          |       
          a.vlktab.action-link(ng-if='inSisallot', ui-sref='^.sisallot({valittu: kokonaisuus._vuosiluokkaKokonaisuus})')
            | {{ vuosiluokkakokonaisuudetMap[kokonaisuus._vuosiluokkaKokonaisuus].nimi | kaanna }}
    .clearfix
    div
      div(ng-if='oppimaarat.length > 0')
        h2(kaanna="'oppimaarat'")
        |     
        ul
          li(ng-repeat='oppimaara in oppimaarat')
            a(ng-if='!inSisallot', ui-sref='^.vlkoppiaine({oppiaineId: oppimaara.id})', ng-bind='oppimaara.nimi | kaanna')
            |         
            a(ng-if='inSisallot', ui-sref='^.sisallot({oppiaineId: oppimaara.id})', ng-bind='oppimaara.nimi | kaanna')
      |   
      div(ng-hide='filterSisalto.tehtava || !hasContent(valittuOppiaine.oppiaine.tehtava)')
        h2(ng-bind-html='valittuOppiaine.oppiaine.tehtava.otsikko | kaanna | unsafe')
        |     
        termisto-tekstikentta(tekstikentta="valittuOppiaine.oppiaine.tehtava.teksti || '-'")
      |   
      div(ng-show='valittuOppiaine.vlks')
        h2
          | {{ vuosiluokkakokonaisuudetMap[valittuOppiaine.vlks._vuosiluokkaKokonaisuus].nimi | kaanna }}
        |     
        hr
      |   
      div(ng-hide='filterSisalto.tehtava || !hasContent(valittuOppiaine.vlks.tehtava)')
        h3(ng-bind-html='valittuOppiaine.vlks.tehtava.otsikko | kaanna | unsafe')
        |     
        termisto-tekstikentta(tekstikentta="valittuOppiaine.vlks.tehtava.teksti || '-'")
      |   
      div(ng-hide='filterSisalto.tyotavat || !hasContent(valittuOppiaine.vlks.tyotavat)')
        h3(ng-bind-html='valittuOppiaine.vlks.tyotavat.otsikko | kaanna | unsafe')
        |     
        termisto-tekstikentta(tekstikentta="valittuOppiaine.vlks.tyotavat.teksti || '-'")
      |   
      div(ng-hide='filterSisalto.ohjaus || !hasContent(valittuOppiaine.vlks.ohjaus)')
        h3(ng-bind-html='valittuOppiaine.vlks.ohjaus.otsikko | kaanna | unsafe')
        |     
        termisto-tekstikentta(tekstikentta="valittuOppiaine.vlks.ohjaus.teksti || '-'")
      |   
      div(ng-hide='filterSisalto.arviointi || !hasContent(valittuOppiaine.vlks.arviointi)')
        h3(ng-bind-html='valittuOppiaine.vlks.arviointi.otsikko | kaanna | unsafe')
        |     
        termisto-tekstikentta(tekstikentta="valittuOppiaine.vlks.arviointi.teksti || '-'")
      |   
      div(ng-hide='filterSisalto.sisaltoalueet || !valittuOppiaine.vlks.sisaltoalueinfo')
        h3 {{ valittuOppiaine.vlks.sisaltoalueinfo.otsikko | kaanna }}
        |       
        termisto-tekstikentta(tekstikentta="valittuOppiaine.vlks.sisaltoalueinfo.teksti || '-'")
      |   
      div(ng-hide='filterSisalto.sisaltoalueet || !valittuOppiaine.vlks.sisaltoalueet || valittuOppiaine.vlks.sisaltoalueet.length === 0')
        div(ng-repeat='sa in valittuOppiaine.vlks.sisaltoalueet')
          h4.sparse {{ sa.nimi | kaanna }}
          |       
          termisto-tekstikentta(tekstikentta="sa.kuvaus || '-'")
      |   
      div(ng-hide='filterSisalto.tavoitteet || valittuOppiaine.vlks.tavoitteet.length === 0', ng-if='valittuOppiaine.vlks._vuosiluokkaKokonaisuus')
        h3(kaanna="'perusopetus-tavoitteet'")
        |     
        div(tavoitteet='valittuOppiaine.vlks', oppiaine='valittuOppiaine', osaamiset='osaamiset', vuosiluokka='valittuOppiaine.sisallot')
