<div ng-if="!wrongState()">
  <oppiaine-legend></oppiaine-legend>
  <h1 class="oppiaine-nimi" esitys-sivu-otsikko="kurssit">
    <span ng-bind="kurssi.nimi | kaanna"></span>
    (<span ng-bind="kurssi.lokalisoituKoodi | kaanna"></span>)
    <span ng-class="addkurssityyppiIcon(kurssi)" class="icon"></span>
  </h1>
  <div ng-if="kurssi.kuvaus | kaanna">
    <h3 class="panel-title osio-otsikko"> <!--ng-bind="'kurssi-kuvaus-header' | kaanna"--></h3>
    <termisto-tekstikentta tekstikentta="kurssi.kuvaus"></termisto-tekstikentta>
  </div>

  <div ng-if="kurssi.tavoitteet.teksti | kaanna">
    <h3 class="panel-title osio-otsikko" ng-bind="kurssi.tavoitteet.otsikko | kaanna"></h3>
    <termisto-tekstikentta tekstikentta="kurssi.tavoitteet.teksti"></termisto-tekstikentta>
  </div>

  <div ng-if="kurssi.keskeinenSisalto.teksti | kaanna">
    <h3 class="panel-title osio-otsikko" ng-bind="kurssi.keskeinenSisalto.otsikko | kaanna"></h3>
    <termisto-tekstikentta tekstikentta="kurssi.keskeinenSisalto.teksti"></termisto-tekstikentta>
  </div>

  <div ng-if="kurssi.tavoitteetJaKeskeinenSisalto.teksti | kaanna">
    <h3 class="panel-title osio-otsikko" ng-bind="kurssi.tavoitteetJaKeskeinenSisalto.otsikko | kaanna"></h3>
    <termisto-tekstikentta tekstikentta="kurssi.tavoitteetJaKeskeinenSisalto.teksti"></termisto-tekstikentta>
  </div>
</div>

<div class="tavoitteet-aihekokonaisuudet" ui-view></div>
