html
  body
    .perusopetus
      .tekstisisalto(ng-repeat='item in section.items', ng-class='section.naviClasses(item)', ng-hide='!item.$matched || item.root || (!search.term && (item.$hidden || item.$impHidden))')
        a(ng-href='{{item.url}}')
          span.truncate(ep-highlight='search.term', ng-bind='item.label | kaanna') {{ item.label | kaanna }}
          |       
          span.pull-right(ng-class='addIconClass(item)')
