div(ng-controller='YlanavigaatioController')
  .row
    .col-md-12.opintopolku-header
      .inner-container
        // opintopolku päävalikko
        ul
          li
            a(ng-href='{{urls.opintopolku[kieli]}}', kaanna="'opintopolku'")
          li.active
            span(kaanna="'eperusteet-otsikko'")
        // kielivalitsin
        .header-kielenvaihto.hidden-xs
          a(href='', ng-click="vaihdaKieli('sv')", ng-show="kieli === 'fi'") P&aring; svenska
          a(href='', ng-click="vaihdaKieli('fi')", ng-show="kieli === 'sv'") Suomeksi
  // opintopolku valikko
  .row
    .col-md-12.hidden-xs.ylanavigaatio
      .inner-container
        .ylanavi-container(role='navigation')
          ul.ylanavi-list
            li(ui-sref-active='active')
              a(ui-sref='root.etusivu')
                img(src='images/md/ikoni-eperusteet.png', ng-if="state.includes('root.etusivu.**')")
                img(src='images/md/ikoni-eperusteet-valkoinen.png', ng-if="!state.includes('root.etusivu.**')")
            li(ui-sref-active='active')
              a(ui-sref='root.esiopetus', kaanna="'navi.esiopetus'")
            li(ng-class="isPerusopetus() ? 'active' : ''")
              a(ui-sref='root.perusopetus', kaanna="'navi.perusopetus'")
            li(ng-show='lukioPerusteExists', ng-class="isLukioopetus() ? 'active' : ''")
              a(ui-sref='root.lukio', kaanna="'navi.lukiokoulutus'")
            li(ng-class="isAmPerus() ? 'active' : ''")
              a(ui-sref='root.selaus.ammatillinenperuskoulutus', kaanna="'navi.ammatillinenperuskoulutus'")
            li(ng-class="isAmAikuis() ? 'active' : ''")
              a(ui-sref='root.selaus.ammatillinenaikuiskoulutus', kaanna="'navi.ammatillinenaikuiskoulutus'")
            //
              <li ng-class="isValmatelma() ? 'active' : ''">
              <a ui-sref="root.selaus.valmentavakoulutus" kaanna="'navi.valmentavakoulutus'"></a>
              </li>
            li(ng-class="isOps() ? 'active' : ''")
              a(ui-sref='root.selaus.ops', kaanna="'navi.opetussuunnitelmat'")
          .clearfix
  // opintopolku alivalikko
  .row(ng-show='isPerusopetus()')
    .col-md-12.hidden-xs.ylanavigaatio-sub
      .inner-container
        .ylanavi-container-sub(role='navigation')
          ul.ylanavi-list.ylanavi-list-sub
            li(ui-sref-active='active')
              a(ui-sref='root.perusopetus', kaanna="'navi.perusopetus'")
            li(ui-sref-active='active')
              a(ui-sref='root.perusvalmistava', kaanna="'navi.pvalmistava'")
            li(ui-sref-active='active')
              a(ui-sref='root.lisaopetus', kaanna="'navi.lisaopetus'")
  // opintopolku mobiilivalikko
  .row
    .col-md-12.visible-xs.ylanavigaatio
      nav.navbar.navbar-ylanavigaatio-mobile.navbar-static-top(role='navigation')
        .navbar-header
          .navbar-brand(ng-show='navCollapsed', ng-bind='valittuOsioNimi')
          .navbar-brand(ng-show='!navCollapsed', kaanna="'navi.valikkon-otsikko'")
          button#valikko-nappi.navbar-toggle.collapsed(type='button', ng-click='navCollapse()')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #ylanavigaatio-collapse.collapse.navbar-collapse(uib-collapse='navCollapsed', off-click='navCollapse()', off-click-filter='#valikko-nappi', off-click-if='!navCollapsed')
          .container-fluid
            ul.nav.navbar-nav
              li(ui-sref-active='active')
                a(ui-sref='root.etusivu', kaanna="'navi.etusivu'", ng-click='navCollapse()')
              li(ui-sref-active='active')
                a(ui-sref='root.esiopetus', kaanna="'navi.esiopetus'", ng-click='navCollapse()')
              li(ui-sref-active='active')
                a(ui-sref='root.perusopetus', kaanna="'navi.perusopetus'", ng-click='navCollapse()')
              li(ng-show='lukioPerusteExists', ui-sref-active='active')
                a(ui-sref='root.lukio', kaanna="'navi.lukiokoulutus'")
              li(ui-sref-active='active')
                a(ui-sref='root.lisaopetus', kaanna="'navi.lisaopetus'", ng-click='navCollapse()')
              li(ng-class="isAmPerus() ? 'active' : ''")
                a(ui-sref='root.selaus.ammatillinenperuskoulutus', kaanna="'navi.ammatillinenperuskoulutus'", ng-click='navCollapse()')
              li(ng-class="isAmAikuis() ? 'active' : ''")
                a(ui-sref='root.selaus.ammatillinenaikuiskoulutus', kaanna="'navi.ammatillinenaikuiskoulutus'", ng-click='navCollapse()')
              li(ui-sref-active='active')
                a(ui-sref='root.selaus.ops', kaanna="'navi.opetussuunnitelmat'", ng-click='navCollapse()')
              li
                a.kieli(href='', ng-click="vaihdaKieli('sv')", ng-show="kieli === 'fi'") P&aring; svenska
                a.kieli(href='', ng-click="vaihdaKieli('fi')", ng-show="kieli === 'sv'") Suomeksi
