<div ng-controller="YlanavigaatioController">
  <div class="row">
    <div class="col-md-12 opintopolku-header">
      <div class="inner-container">

        <!-- opintopolku päävalikko -->
        <ul>
          <li>
            <a ng-href="{{urls.opintopolku[kieli]}}" kaanna="'opintopolku'"></a>
          </li>
          <li class="active">
            <span kaanna="eperusteet-otsikko"></span>
          </li>
        </ul>

        <!-- kielivalitsin -->
        <div class="header-kielenvaihto hidden-xs">
          <a href="" ng-click="vaihdaKieli('sv')" ng-show="kieli === 'fi'">På svenska</a>
          <a href="" ng-click="vaihdaKieli('fi')" ng-show="kieli === 'sv'">Suomeksi</a>
        </div>
      </div>

    </div>
  </div>

  <!-- opintopolku valikko -->
  <div class="row">
    <div class="col-md-12 hidden-xs ylanavigaatio">
      <div class="inner-container">
        <div class="ylanavi-container" role="navigation">
          <ul class="ylanavi-list">
            <li ui-sref-active="active">
              <a ui-sref="root.etusivu" kaanna="'navi.etusivu'" ng-click="valittuTila = 1"></a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="root.esiopetus" kaanna="'navi.esiopetus'"></a>
            </li>
            <li ng-class="isPerusopetus() ? 'active' : ''">
              <a ui-sref="root.perusopetus" kaanna="'navi.perusopetus'"></a>
            </li>
            <li ng-class="isAmPerus() ? 'active' : ''">
              <a ui-sref="root.selaus.ammatillinenperuskoulutus" kaanna="'navi.ammatillinenperuskoulutus'"></a>
            </li>
            <li ng-class="isAmAikuis() ? 'active' : ''">
              <a ui-sref="root.selaus.ammatillinenaikuiskoulutus" kaanna="'navi.ammatillinenaikuiskoulutus'"></a>
            </li>
            <li ng-class="isValmatelma() ? 'active' : ''">
              <a ui-sref="root.selaus.valmentavakoulutus" kaanna="'navi.valmentavakoulutus'"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- opintopolku alivalikko -->
  <div class="row" ng-show="isPerusopetus()">
    <div class="col-md-12 hidden-xs ylanavigaatio-sub">
      <div class="inner-container">
        <div class="ylanavi-container-sub" role="navigation">
          <ul class="ylanavi-list">
            <li ui-sref-active="active">
              <a ui-sref="root.perusopetus" kaanna="'navi.perusopetus'"></a>
            </li>
            <li ui-sref-active="active">
              <a ui-sref="root.lisaopetus" kaanna="'navi.lisaopetus'"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- opintopolku mobiilivalikko -->
  <div class="row">
    <div class="col-md-12 visible-xs ylanavigaatio">
      <nav class="navbar navbar-ylanavigaatio-mobile navbar-static-top" role="navigation">
        <div class="navbar-header">

          <div class="navbar-brand" ng-show="navCollapsed" kaanna="valittuOsio()">
          </div>
          <div class="navbar-brand" ng-show="!navCollapsed" kaanna="'navi.valikkon-otsikko'">
          </div>

          <button id="valikko-nappi" type="button" class="navbar-toggle collapsed" ng-click="navCollapse()">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div id="ylanavigaatio-collapse" class="collapse navbar-collapse" collapse="navCollapsed"
             off-click="navCollapse()" off-click-filter="#valikko-nappi" off-click-if="!navCollapsed">
          <div class="container-fluid">
            <ul class="nav navbar-nav">
              <li ui-sref-active="active">
                <a ui-sref="root.etusivu" kaanna="'navi.etusivu'" ng-click="navCollapse()"></a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="root.esiopetus" kaanna="'navi.esiopetus'" ng-click="navCollapse()"></a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="root.perusopetus" kaanna="'navi.perusopetus'" ng-click="navCollapse()"></a>
              </li>
              <li ui-sref-active="active">
                <a ui-sref="root.lisaopetus" kaanna="'navi.lisaopetus'" ng-click="navCollapse()"></a>
              </li>
              <li ng-class="isAmPerus() ? 'active' : ''">
                <a ui-sref="root.selaus.ammatillinenperuskoulutus"
                   kaanna="'navi.ammatillinenperuskoulutus'"
                   ng-click="navCollapse()"></a>
              </li>
              <li ng-class="isAmAikuis() ? 'active' : ''">
                <a ui-sref="root.selaus.ammatillinenaikuiskoulutus"
                   kaanna="'navi.ammatillinenaikuiskoulutus'"
                   ng-click="navCollapse()"></a>
              </li>
              <li>
                <a href="" ng-click="vaihdaKieli('sv')" ng-show="kieli === 'fi'" class="kieli">På svenska</a>
                <a href="" ng-click="vaihdaKieli('fi')" ng-show="kieli === 'sv'" class="kieli">Suomeksi</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>
