div(ng-controller='YlanavigaatioController')
  .row
    .col-md-12.opintopolku-header
      .inner-container
        // Opintopolku päävalikko
        ul
          li
            a(ng-href='{{urls.opintopolku[kieli]}}', kaanna="'opintopolku'")
          li
            a(ng-href='{{urls.omaopintopolku[kieli]}}', kaanna="'oma-opintopolku'")
          li.active
            a(ui-sref='root.etusivu', kaanna="'eperusteet-otsikko'")
        // kielivalitsin
        .header-kielenvaihto.hidden-xs
          a(href='', ng-click="vaihdaKieli('fi')", ng-show="kieli !== 'fi'") Suomeksi
          span(ng-show="kieli !== 'sv' && kieli !== 'fi'") |
          a(href='', ng-click="vaihdaKieli('sv')", ng-show="kieli !== 'sv'") På svenska
          span(ng-show="kieli !== 'en'") |
          a(href='', ng-click="vaihdaKieli('en')", ng-show="kieli !== 'en'") In English

  // Opintopolku valikko
  .row
    .col-md-12.hidden-xs.ylanavigaatio
      .inner-container
        .ylanavi-container(role='navigation')
          ul.ylanavi-list
            li(ui-sref-active='active')
              a(ui-sref='root.etusivu')
                img(src='images/md/ikoni-eperusteet.png', ng-show="state.includes('root.etusivu.**')", alt="etusivu")
                img(src='images/md/ikoni-eperusteet-valkoinen.png', ng-hide="state.includes('root.etusivu.**')", alt="etusivu")
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_20', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_20' ? 'active' : ''")
              a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_20[0].id })', kaanna="'navi.varhaiskasvatus'")
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_15', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_15' ? 'active' : ''")
              a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_15[0].id })', kaanna="'navi.esiopetus'")
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_16', ng-class="isPerusopetus() ? 'active' : ''")
              a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_16[0].id })', kaanna="'navi.perusopetus'")
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_999907', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_999907' ? 'active' : ''")
              a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_999907[0].id })', kaanna="'navi.tpo'")
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_2', ng-class="isLukioopetus() ? 'active' : ''")
              a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_2[0].id })', kaanna="'navi.lukiokoulutus'")
            li(ng-class="isAmmatillinen() ? 'active' : ''")
              a(ui-sref='root.selaus.koostenakyma({ perusteluokitus: "ammatillinenkoulutus" })', kaanna="'navi.ammatillinenkoulutus'")
          .clearfix

  // Opintopolku perusopetus alivalikko
  .row(ng-show='isPerusopetus()')
    .col-md-12.hidden-xs.ylanavigaatio-sub
      .inner-container
        .ylanavi-container-sub(role='navigation')
          ul.ylanavi-list.ylanavi-list-sub
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_16', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_16' ? 'active' : ''")
              a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_16[0].id })', kaanna="'navi.perusopetus'")
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_22', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_22' ? 'active' : ''")
              a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_22[0].id })', kaanna="'navi.pvalmistava'")
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_6', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_6' ? 'active' : ''")
              a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_6[0].id })', kaanna="'navi.lisaopetus'")
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_17', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_17' ? 'active' : ''")
              a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_17[0].id })', kaanna="'navi.aipe'")

  // Opintopolku tpo alivalikko
  .row(ng-show="selectedKoulutustyyppi === 'koulutustyyppi_999907'")
    .col-md-12.hidden-xs.ylanavigaatio-sub
      .inner-container
        .ylanavi-container-sub(role='navigation')
          ul.ylanavi-list.ylanavi-list-sub
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_999907',
               ng-repeat="tpoPeruste in perusteetGroupByTyyppi.koulutustyyppi_999907",
               ng-class="selectedPerusteId == tpoPeruste.id ? 'active' : ''")
              a(ui-sref='root.kooste({ perusteId: tpoPeruste.id })', kaanna='tpoPeruste.nimi')

  // Opintopolku lukio alivalikko
  .row(ng-show='isLukioopetus()')
    .col-md-12.hidden-xs.ylanavigaatio-sub
      .inner-container
        .ylanavi-container-sub(role='navigation')
          ul.ylanavi-list.ylanavi-list-sub
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_2', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_2' ? 'active' : ''")
              a(ui-sref="root.kooste({perusteId: perusteetGroupByTyyppi.koulutustyyppi_2[0].id})", kaanna="'navi.lukiokoulutus'")
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_23', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_23' ? 'active' : ''")
              a(ui-sref="root.kooste({perusteId: perusteetGroupByTyyppi.koulutustyyppi_23[0].id})", kaanna="'koulutustyyppi_23'")
            li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_14', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_14' ? 'active' : ''")
              a(ui-sref="root.kooste({perusteId: perusteetGroupByTyyppi.koulutustyyppi_14[0].id})", kaanna="'koulutustyyppi_14'")

  // Opintopolku mobiilivalikko
  .row
    .col-md-12.visible-xs.ylanavigaatio
      nav.navbar.navbar-ylanavigaatio-mobile.navbar-static-top(role='navigation')
        .navbar-header
          a.ylanavigaatio-ikonilinkki(ui-sref='root.etusivu')
            img(src='images/md/ikoni-eperusteet-valkoinen.png', alt="etusivu")
          a.navbar-brand(ng-show='navCollapsed', ui-sref='root.etusivu', kaanna="'eperusteet-otsikko'")
          .navbar-brand(ng-show='!navCollapsed', kaanna="'navi.valikkon-otsikko'")
          button#valikko-nappi.navbar-toggle.collapsed(type='button', ng-click='navCollapse()')
            span.icon-bar
            span.icon-bar
            span.icon-bar
        #ylanavigaatio-collapse.collapse.navbar-collapse(uib-collapse='navCollapsed', off-click='navCollapse()', off-click-filter='#valikko-nappi', off-click-if='!navCollapsed')
          .container-fluid
            ul.nav.navbar-nav
              li(ui-sref-active='active')
                a(ui-sref='root.etusivu', kaanna="'navi.etusivu'", ng-click='navCollapse()')
              li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_20', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_20' ? 'active' : ''")
                a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_20[0].id })', kaanna="'navi.varhaiskasvatus'", ng-click='navCollapse()')
              li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_15', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_15' ? 'active' : ''")
                a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_15[0].id })', kaanna="'navi.esiopetus'", ng-click='navCollapse()')
              li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_16', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_16' ? 'active' : ''")
                a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_16[0].id })', kaanna="'navi.perusopetus'", ng-click='navCollapse()')
              li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_22', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_22' ? 'active' : ''")
                a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_22[0].id })', kaanna="'navi.pvalmistava'", ng-click='navCollapse()')
              li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_6', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_6' ? 'active' : ''")
                a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_6[0].id })', kaanna="'navi.lisaopetus'", ng-click='navCollapse()')
              li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_17', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_17' ? 'active' : ''")
                a(ui-sref='root.kooste({ perusteId: perusteetGroupByTyyppi.koulutustyyppi_17[0].id })', kaanna="'navi.aipe'", ng-click='navCollapse()')
              li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_999907',
                 ng-repeat="tpoPeruste in perusteetGroupByTyyppi.koulutustyyppi_999907",
                 ng-class="selectedPerusteId == tpoPeruste.id ? 'active' : ''")
                a(ui-sref="root.kooste({perusteId: tpoPeruste.id})", kaanna="tpoPeruste.nimi", ng-click='navCollapse()')
              li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_2', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_2' ? 'active' : ''")
                a(ui-sref="root.kooste({perusteId: perusteetGroupByTyyppi.koulutustyyppi_2[0].id})", kaanna="'navi.lukiokoulutus'", ng-click='navCollapse()')
              li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_23', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_23' ? 'active' : ''")
                a(ui-sref="root.kooste({perusteId: perusteetGroupByTyyppi.koulutustyyppi_23[0].id})", kaanna="'koulutustyyppi_23'", ng-click='navCollapse()')
              li(ng-show='perusteetGroupByTyyppi.koulutustyyppi_14', ng-class="selectedKoulutustyyppi === 'koulutustyyppi_14' ? 'active' : ''")
                a(ui-sref="root.kooste({perusteId: perusteetGroupByTyyppi.koulutustyyppi_14[0].id})", kaanna="'koulutustyyppi_14'", ng-click='navCollapse()')
              li(ng-class="isAmmatillinen() ? 'active' : ''")
                a(ui-sref='root.selaus.koostenakyma({ perusteluokitus: "ammatillinenkoulutus" })', kaanna="'navi.ammatillinenkoulutus'", ng-click='navCollapse()')
              li
                a.kieli(href='', ng-click="vaihdaKieli('sv')", ng-show="kieli !== 'sv'") P&aring; svenska
                a.kieli(href='', ng-click="vaihdaKieli('fi')", ng-show="kieli !== 'fi'") Suomeksi
                //a.kieli(href='', ng-click="vaihdaKieli('fi')", ng-show="kieli !== 'en'") In English
