<h1 class="peruste-otsikko" kaanna="'paikalliset-opetussuunnitelmat'"></h1>

<div class="sisalto-box">

  <!-- Hakuvalinnat -->
  <div class="panel panel-default">
    <div class="clearfix"></div>
    <form class="panel-body">

      <!-- Haku -->
      <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <label for="ops-nimi" kaanna="'opetussuunnitelman-nimi'"></label>
            <div class="input-group">
              <div class="input-group-addon" icon-role="search"></div>
              <input id="ops-nimi" type="text" class="form-control"
                     ng-model="hakuparametrit.nimi" ng-change="hakuMuuttui()">
            </div>
          </div>
        </div>

        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" ng-model="tarkennettuHaku" ng-change="hakuMuuttui()">
                <span kaanna="'tarkennettu-haku'"></span>
              </label>
            </div>
          </div>
        </div>
      </div>

      <!-- Koulutustyyppi -->
      <div class="row" ng-show="tarkennettuHaku">
        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <label for="haku-tyyppi" kaanna="'koulutustyyppi'"></label>
            <select id="haku-tyyppi" ng-model="hakuparametrit.tyyppi" class="form-control" ng-change="hakuMuuttui()">
              <option value="" kaanna="'kaikki-koulutustyypit'"></option>
              <option ng-repeat="tyyppi in koulutustyypit" value="{{tyyppi}}"
                      kaanna="tyyppi"></option>
            </select>
          </div>
        </div>
      </div>

      <!-- Kunta / Paikkakunta / Koulutuksenjärjestäjä -->
      <div class="row" ng-show="tarkennettuHaku">
        <div class="col-md-6 col-xs-12">
          <div class="form-group">
            <label for="avainsana" kaanna="'oppilaitos-organisaatio-paikkakunta'"></label>
            <input id="avainsana" type="text" class="form-control"
                   ng-model="hakuparametrit.avainsana" ng-change="hakuMuuttui()">
          </div>
        </div>
      </div>

    </form>
  </div>

  <p><span kaanna="'haku-tulosten-maara'"></span> {{kokonaismaara}}</p>

  <!-- Hakutulokset taulukko -->
  <div class="table-responsive">
    <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>
          <a class="ops-hakutulokset-otsikko" ng-click="sorter.set('nimi')">
            <span kaanna="'opetussuunnitelma'"></span>
            <span ng-show="sorter.key === 'nimi'" class="glyphicon"
                  ng-class="sorter.desc ? 'glyphicon-sort-by-alphabet-alt' : 'glyphicon-sort-by-alphabet'"></span>
          </a>
        </th>
        <th>
          <a class="ops-hakutulokset-otsikko" ng-click="sorter.set('oppilaitos')">
            <span kaanna="'oppilaitos'"></span>
            <span ng-show="sorter.key === 'oppilaitos'" class="glyphicon"
                  ng-class="sorter.desc ? 'glyphicon-sort-by-alphabet-alt' : 'glyphicon-sort-by-alphabet'"></span>
          </a>
        </th>
        <th>
          <a class="ops-hakutulokset-otsikko" ng-click="sorter.set('organisaatio')">
            <span kaanna="'organisaatio'"></span>
            <span ng-show="sorter.key === 'organisaatio'" class="glyphicon"
                  ng-class="sorter.desc ? 'glyphicon-sort-by-alphabet-alt' : 'glyphicon-sort-by-alphabet'"></span>
          </a>
        </th>
        <th>
          <a class="ops-hakutulokset-otsikko" ng-click="sorter.set('paikkakunta')">
            <span kaanna="'paikkakunta'"></span>
            <span ng-show="sorter.key === 'paikkakunta'" class="glyphicon"
                  ng-class="sorter.desc ? 'glyphicon-sort-by-alphabet-alt' : 'glyphicon-sort-by-alphabet'"></span>
          </a>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="ops in opsit | orderBy:sorter.fn:sorter.desc | slice:opsitAlku:opsitLoppu"
          class="ops-hakutulokset">
        <td class="ops-td-nimi">
          <a ui-sref="root.ops.{{koulutustyypitLinkit[ops.koulutustyyppi]}}.tiedot({ opsId: ops.id })">
          <span kaanna="ops.nimi"></span>
          </a>
        </td>
        <td class="ops-td-oppilaitos">
          <!--<span kaanna="palautaAlinOrganisaatio(ops.organisaatiot)"></span>-->
          <div ng-repeat="org in ops.organisaatiot | filter:{tyypit:'oppilaitos'} | orderBy:nimiSort">
            <span kaanna="org.nimi"></span>
            <br ng-if="!$last">
          </div>
        </td>
        <td class="ops-td-organisaatio">
          <!--<span kaanna="palautaAlinOrganisaatio(ops.organisaatiot)"></span>-->
          <div ng-repeat="org in ops.organisaatiot | filter:{tyypit:'koulutustoimija'} | orderBy:nimiSort">
            <span kaanna="org.nimi"></span>
            <br ng-if="!$last">
          </div>
        </td>
        <td class="ops-td-paikkakunta">
          <!--<div ng-repeat="kunta in ops.kunnat">
            <span kaanna="kunta.nimi"></span>
          </div>-->
          <div ng-repeat="kunta in ops.kunnat | orderBy:nimiSort">
            <span kaanna="kunta.nimi"></span>
            </span><br ng-if="!$last">
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Hakusivut -->
  <pagination ng-model="nykyinenSivu" ng-change="vahdaSivua()"
              total-items="kokonaismaara" items-per-page="sivukoko"></pagination>
</div>
