h1.peruste-otsikko(kaanna="'paikalliset-opetussuunnitelmat'")
.sisalto-box
  // Hakuvalinnat
  .panel.panel-default
    .clearfix
    form.panel-body
      // Haku
      .row
        .col-md-6.col-xs-12
          .form-group
            label(for='ops-nimi', kaanna="'opetussuunnitelman-nimi'")
            .input-group
              .input-group-addon(icon-role='search')
              input#ops-nimi.form-control(type='text', ng-model='hakuparametrit.nimi', ng-change='hakuMuuttui()')
        .col-md-6.col-xs-12
          .form-group(style='margin-top: 30px;')
            .checkbox
              label
                input(type='checkbox', ng-model='tarkennettuHaku', ng-change='hakuMuuttui()')
                span(kaanna="'tarkennettu-haku'")
      // Koulutustyyppi
      .row(ng-show='tarkennettuHaku')
        .col-md-6.col-xs-12
          .form-group
            label(for='haku-tyyppi', kaanna="'koulutustyyppi'")
            select#haku-tyyppi.form-control(ng-model='hakuparametrit.tyyppi', ng-change='hakuMuuttui()')
              option(value='', kaanna="'kaikki-koulutustyypit'")
              option(ng-repeat='tyyppi in koulutustyypit', value='{{tyyppi}}', ng-bind='tyyppi | kaanna')
      // Kunta / Paikkakunta / Koulutuksenjärjestäjä
      .row(ng-show='tarkennettuHaku')
        .col-md-6.col-xs-12
          .form-group
            label(for='avainsana', kaanna="'oppilaitos-organisaatio-paikkakunta'")
            input#avainsana.form-control(type='text', ng-model='hakuparametrit.avainsana', ng-change='hakuMuuttui()')
  p
    span(kaanna="'loydettyjen-opsien-maara'")
    | : {{kokonaismaara}}
  // Hakutulokset taulukko
  .table-responsive
    table.table.table-condensed.table-striped
      thead
        tr
          th
            a.ops-hakutulokset-otsikko(ng-click="sorter.set('nimi')")
              span(kaanna="'opetussuunnitelma'")
              span.glyphicon(ng-show="sorter.key === 'nimi'", ng-class="sorter.desc ? 'glyphicon-sort-by-alphabet-alt' : 'glyphicon-sort-by-alphabet'")
          th
            a.ops-hakutulokset-otsikko(ng-click="sorter.set('oppilaitos')")
              span(kaanna="'oppilaitos'")
              span.glyphicon(ng-show="sorter.key === 'oppilaitos'", ng-class="sorter.desc ? 'glyphicon-sort-by-alphabet-alt' : 'glyphicon-sort-by-alphabet'")
          th
            a.ops-hakutulokset-otsikko(ng-click="sorter.set('organisaatio')")
              span(kaanna="'organisaatio'")
              span.glyphicon(ng-show="sorter.key === 'organisaatio'", ng-class="sorter.desc ? 'glyphicon-sort-by-alphabet-alt' : 'glyphicon-sort-by-alphabet'")
          th
            a.ops-hakutulokset-otsikko(ng-click="sorter.set('paikkakunta')")
              span(kaanna="'paikkakunta'")
              span.glyphicon(ng-show="sorter.key === 'paikkakunta'", ng-class="sorter.desc ? 'glyphicon-sort-by-alphabet-alt' : 'glyphicon-sort-by-alphabet'")
      tbody
        tr.ops-hakutulokset(ng-repeat='ops in opsit | orderBy:sorter.fn:sorter.desc | slice:opsitAlku:opsitLoppu')
          td.ops-td-nimi
            a(ui-sref='root.ops.{{getKtLinkki(ops)}}.tiedot({ opsId: ops.id })')
              span(ng-bind='ops.nimi | kaanna')
          td.ops-td-oppilaitos
            // <span kaanna="palautaAlinOrganisaatio(ops.organisaatiot)"></span>
            div(ng-repeat="org in ops.organisaatiot | filter:{tyypit:'oppilaitos'} | orderBy:nimiSort")
              span(ng-bind='org.nimi | kaanna')
              br(ng-if='!$last')
          td.ops-td-organisaatio
            // <span kaanna="palautaAlinOrganisaatio(ops.organisaatiot)"></span>
            div(ng-repeat="org in ops.organisaatiot | filter:{tyypit:'koulutustoimija'} | orderBy:nimiSort")
              span(ng-bind='org.nimi | kaanna')
              br(ng-if='!$last')
          td.ops-td-paikkakunta
            //
              <div ng-repeat="kunta in ops.kunnat">
              <span ng-bind="kunta.nimi | kaanna"></span>
              </div>
            div(ng-repeat='kunta in ops.kunnat | orderBy:nimiSort')
              span(ng-bind='kunta.nimi | kaanna')
              br(ng-if='!$last')
  // Hakusivut
  ul(uib-pagination ng-model='nykyinenSivu', ng-change='vahdaSivua()', total-items='kokonaismaara', items-per-page='sivukoko')
