<p class="vuosiluokkailmoitus alert alert-info" ng-show="noYleistavoitteet() && missingVlk()" kaanna="'oppiaineella-ei-vuosiluokkasisaltoja'"></p>

<div ng-show="!vlk.vuosiluokat.length && !noYleistavoitteet()">
  <h3 ng-bind-html="'tavoitteet-ja-sisallot' | kaanna | unsafe"></h3>
  <div termisto-viitteet="vlk.yleistavoitteet.teksti" ng-bind-html="vlk.yleistavoitteet.teksti | kaanna | unsafe"></div>
</div>

<div ng-show="!missingVlk()">

  <h2 class="vuosiluokka-otsikko" ng-bind="vuosiluokka | kaanna"></h2>

  <h3 kaanna="'tavoitteet'"></h3>
  <accordion ng-repeat="sa in sisalto" class="sivunavi-box">
    <accordion-group is-open="status.open">
      <accordion-heading>
        <div ng-class="{'opened-oppiaine': status.open}">
          <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
          <h4 class="tavoite-otsikko" ng-bind-html="sa.$tavoite | kaanna | unsafe"></h4>
        </div>
      </accordion-heading>
      <termisto-tekstikentta tekstikentta="sa.tavoite"></termisto-tekstikentta>
      <div class="listat">
        <div class="lista">
          <h4 kaanna="'sisaltoalueet'"></h4>
          <ul>
            <li ng-repeat="sisaltoalue in sa.sisaltoalueet | orderBy:nimiOrder">
              <h5 class="sisaltoalue-label" ng-bind="sisaltoalue.sisaltoalueet.nimi | kaanna"></h5>
              <div class="panel panel-default">
                <div class="panel-body" ng-class="{'esitys-peruste':!sisaltoalue.omaKuvaus && !sisaltoalue.sisaltoalueet.kuvaus}">
                  <termisto-tekstikentta tekstikentta="sisaltoalue.omaKuvaus"></termisto-tekstikentta>
                  <termisto-tekstikentta ng-show="!sisaltoalue.omaKuvaus" tekstikentta="sisaltoalue.sisaltoalueet.kuvaus"></termisto-tekstikentta>
                  <termisto-tekstikentta ng-show="!sisaltoalue.omaKuvaus && !sisaltoalue.sisaltoalueet.kuvaus"
                                         perusteteksti="perustenSisaltoMap[sisaltoalue.sisaltoalueet.tunniste].kuvaus"></termisto-tekstikentta>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="lista">
          <h4 kaanna="'laaja-alaiset-osaamiset'"></h4>
          <ul>
            <li ng-repeat="laajaalainen in sa.$laajaalaiset | orderBy:nimiOrder">
              <span ng-bind="laajaalainen.nimi | kaanna"></span>
            </li>
          </ul>
        </div>
      </div>
      <div class="arviointi" ng-show="sa.$arvioinninkohteet.length > 0">
        <h4 kaanna="'arviointi-vuosiluokan-paatteeksi'"></h4>
        <table class="table table-bordered kriteerit">
          <tr>
            <th width="30%" kaanna="'arvioinnin-kohde'"></th>
            <th kaanna="'arvion-hyva-osaaminen'"></th>
          </tr>
          <tr ng-repeat="kohde in sa.$arvioinninkohteet">
            <td ng-bind="kohde.arvioinninKohde | kaanna"></td>
            <td ng-bind="kohde.hyvanOsaamisenKuvaus | kaanna"></td>
          </tr>
        </table>
      </div>
    </accordion-group>
  </accordion>
</div>

<h2 ng-show="sisaltoAlueet.length" ng-bind-html="'keskeiset-sisaltoalueet' | kaanna"></h2>
<div ng-repeat="alue in sisaltoAlueet" class="tavoite">
  <h4 class="tavoite-otsikko" ng-bind-html="alue[0].nimi | kaanna | unsafe"></h4>
  <div class="esitys-peruste" termisto-viitteet="alue[0].kuvaus" ng-bind-html="alue[0].kuvaus | kaanna | unsafe"></div>
  <div class="esitys-paikallinen" termisto-viitteet="alue[1].kuvaus" ng-bind-html="alue[1].kuvaus | kaanna | unsafe"></div>
</div>
