p.vuosiluokkailmoitus.alert.alert-info(ng-if='noYleistavoitteet() && missingVlk()', kaanna="'oppiaineella-ei-vuosiluokkasisaltoja'")
div(ng-if='!vlk.vuosiluokat.length && !noYleistavoitteet()')
  h3(ng-bind-html="'tavoitteet-ja-sisallot' | kaanna | unsafe")
  div(termisto-viitteet='vlk.yleistavoitteet.teksti', ng-bind-html='vlk.yleistavoitteet.teksti | kaanna | unsafe')
div(ng-if='!missingVlk()')
  h2.vuosiluokka-otsikko(ng-bind='vuosiluokka | kaanna')
  h3(kaanna="'tavoitteet'")
  span(ng-if="vapaaTeksti" ng-bind-html='vapaaTeksti | kaanna | unsafe')
  uib-accordion.tavoitteet-box(ng-repeat='sa in sisalto')
    div(uib-accordion-group, is-open='status.open')
      uib-accordion-heading
        div(ng-class="{'opened-oppiaine': status.open}")
          i.pull-left.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
          h4.tavoite-otsikko(ng-bind-html='sa.$tavoite | kaanna | unsafe')
      termisto-tekstikentta(tekstikentta='sa.tavoite')
      .listat
        .lista
          h3(kaanna="'sisaltoalueet'")
          ul
            li(ng-if='!sisaltoalue.sisaltoalueet.piilotettu', ng-repeat='sisaltoalue in sa.sisaltoalueet | orderBy:nimiOrder')
              h3.sisaltoalue-label(ng-bind='sisaltoalue.sisaltoalueet.nimi | kaanna')
              .panel.panel-default
                .panel-body(ng-class="{'esitys-peruste':!sisaltoalue.omaKuvaus && !sisaltoalue.sisaltoalueet.kuvaus}")
                  termisto-tekstikentta(tekstikentta='sisaltoalue.omaKuvaus')
                  termisto-tekstikentta(ng-if='!sisaltoalue.omaKuvaus', tekstikentta='sisaltoalue.sisaltoalueet.kuvaus')
                  termisto-tekstikentta(ng-if='!sisaltoalue.omaKuvaus && !sisaltoalue.sisaltoalueet.kuvaus', perusteteksti='perustenSisaltoMap[sisaltoalue.sisaltoalueet.tunniste].kuvaus')
              div(ng-if='sisaltoalue.omaKuvaus || sisaltoalue.sisaltoalueet.kuvaus')
                uib-accordion.peruste-box
                  .panel-default(uib-accordion-group, is-open='status.avoin')
                    uib-accordion-heading
                      div
                        i.pull-left.glyphicon(ng-class="{'glyphicon-chevron-down': status.avoin, 'glyphicon-chevron-right': !status.avoin}")
                        h4(ng-bind-html="'nayta-perusteen-teksti' | kaanna | unsafe")
                    termisto-tekstikentta(perusteteksti='perustenSisaltoMap[sisaltoalue.sisaltoalueet.tunniste].kuvaus')
        .lista(ng-if='sa.tavoitteistaJohdetutOppimisenTavoitteet')
          h3(kaanna="'tavoitteista-johdetut-oppimisen-tavoitteet'")
          span(ng-bind-html='sa.tavoitteistaJohdetutOppimisenTavoitteet | kaanna | unsafe')
        .lista
          h3(kaanna="'laaja-alaisen-osaamisen-alueet'")
          ul
            li(ng-repeat='laajaalainen in sa.$laajaalaiset | orderBy:nimiOrder')
              span(ng-bind='laajaalainen.nimi | kaanna')
              span(ohje='false', ohje-click-anywhere='false', teksti='laajaalaiset[laajaalainen.tunniste].kuvaus', otsikko='laajaalainen.nimi', suunta='bottom')
                span.label.label-default(kaanna="'peruste'")
              span(ng-if='paikalliset[laajaalainen.tunniste].teksti', ohje='false', ohje-click-anywhere='false', teksti='paikalliset[laajaalainen.tunniste].teksti', otsikko='laajaalainen.nimi', suunta='bottom')
                span.label.label-warning(kaanna="'paikallinen'")
      h4(kaanna="'arvioinnin-kohde'")
      p(kaanna="arvioinninKohteenTeksti(sa) || 'ei-asetettu'")
      .tavoitteet-arviointi(ng-if='sa.$arvioinninkohteet.length > 0')
        h4(kaanna="'arviointi-vuosiluokan-paatteeksi'")
        table.table.table-bordered.kriteerit
          tr
            th(width='35%', kaanna="'osaamisen-kuvaus'" ng-hide='osaamisenKuvauksetTyhjia(sa.$arvioinninkohteet)')
            th(kaanna="'arvion-kuvaus'")
          tr.peruste-arviointi-text(ng-repeat='kohde in sa.$arvioinninkohteet | orderBy:"-arvosana"')
            td(ng-hide='osaamisenKuvauksetTyhjia(sa.$arvioinninkohteet)')
              span(ng-if="kohde.arvosana") {{'osaamisen-kuvaus-arvosanalle_' + kohde.arvosana | kaanna}}
              span(ng-if="!kohde.arvosana")
            td(ng-bind='kohde.osaamisenKuvaus | kaanna')
      div(ng-if='sa.vapaaTeksti')
        span(ng-bind-html='sa.vapaaTeksti | kaanna | unsafe')
h2(ng-if='sisaltoAlueet.length', ng-bind-html="'keskeiset-sisaltoalueet' | kaanna")
.tavoite(ng-repeat='alue in sisaltoAlueet')
  h3.tavoite-otsikko(ng-bind-html='alue[0].nimi | kaanna | unsafe')
  .esitys-peruste(termisto-viitteet='alue[0].kuvaus', ng-bind-html='alue[0].kuvaus | kaanna | unsafe')
  .esitys-paikallinen(termisto-viitteet='alue[1].kuvaus', ng-bind-html='alue[1].kuvaus | kaanna | unsafe')
