<h1 kaanna="oppiaine.nimi"></h1>

<div esitys-teksti="oppiaine.tehtava" esitys-peruste="peruste.tehtava" show-peruste="true"></div>

<div ng-show="vlkTabit.length" class="vuosiluokka-valinta">
  <ul>
    <li ng-repeat="vlk in vlkTabit" ng-class="{active: addActiveClass(vlk.id)}">
      <a ui-sref=".vlk({vlkId: vlk.id, vluokkakokonaisuus: vlk.vlkId})"
         kaanna="vlk.nimi"></a>
    </li>
  </ul>
</div>

<div ng-show="vlktTabit.length === 0" class="vuosiluokka-valinta">
  <p class="vuosiluokkailmoitus alert alert-info" kaanna="'oppiaineella-ei-vuosiluokkasisaltoja'"></p>
</div>

<div ui-view></div>
