<div esitys-teksti="oppiaine.tehtava" esitys-peruste="perusteOppiaine.tehtava" show-peruste="true"></div>

<p class="vuosiluokkailmoitus alert alert-info" ng-if="!activeVuosiluokka" kaanna="'oppiaineella-ei-vuosiluokkasisaltoja'"></p>

<div ng-repeat="vlk in oppiaine.vuosiluokkakokonaisuudet | filter:vlkFilter | orderBy:vlkSort track by vlk._vuosiluokkakokonaisuus">
  <h2 class="vlk-otsikko" kaanna="vlkMap[vlk._vuosiluokkakokonaisuus].vuosiluokkakokonaisuus.nimi"></h2>

  <div ng-if="oppiaine.tyyppi === 'yhteinen'">
    <div esitys-teksti="vlk.tehtava" esitys-peruste="perusteOppiaineVlkMap[vlk._vuosiluokkakokonaisuus].tehtava" show-peruste="true"></div>

    <div esitys-teksti="vlk.tyotavat" esitys-peruste="perusteOppiaineVlkMap[vlk._vuosiluokkakokonaisuus].tyotavat" show-peruste="true"></div>
    <div esitys-teksti="vlk.ohjaus" esitys-peruste="perusteOppiaineVlkMap[vlk._vuosiluokkakokonaisuus].ohjaus" show-peruste="true"></div>
    <div esitys-teksti="vlk.arviointi" esitys-peruste="perusteOppiaineVlkMap[vlk._vuosiluokkakokonaisuus].arviointi" show-peruste="true"></div>
  </div>

  <div ng-if="oppiaine.tyyppi !== 'yhteinen'">
    <h3 ng-bind-html="vlk.tehtava.otsikko | kaanna | unsafe"></h3>
    <div termisto-viitteet="vlk.tehtava.teksti" ng-bind-html="vlk.tehtava.teksti | kaanna | unsafe"></div>
    <h3 ng-bind-html="vlk.tyotavat.otsikko | kaanna | unsafe"></h3>
    <div termisto-viitteet="vlk.tyotavat.teksti" ng-bind-html="vlk.tyotavat.teksti | kaanna | unsafe"></div>
    <h3 ng-bind-html="vlk.ohjaus.otsikko | kaanna | unsafe"></h3>
    <div termisto-viitteet="vlk.ohjaus.teksti" ng-bind-html="vlk.ohjaus.teksti | kaanna | unsafe"></div>
    <h3 ng-bind-html="vlk.arviointi.otsikko | kaanna | unsafe"></h3>
    <div termisto-viitteet="vlk.arviointi.teksti" ng-bind-html="vlk.arviointi.teksti | kaanna | unsafe"></div>
  </div>

  <div ng-if="vuosiluokat.length > 0" class="vuosiluokka-valinta">
    <span kaanna="'vuosiluokka'"></span>
    <ul>
      <li ng-repeat="vuosiluokka in vuosiluokat | orderBy:'vuosiluokka'" ng-class="{active: isActive(vuosiluokka)}">
        <a ui-sref="^.oppiaine({vuosiluokka: vuosiluokka.vuosiluokka})" kaanna="vuosiluokka.vuosiluokka"></a>
      </li>
    </ul>
  </div>

  <div ng-repeat="vuosiluokka in vlk.vuosiluokat | filter:vuosiluokkaFilter | orderBy:'vuosiluokka' track by vuosiluokka.vuosiluokka">
    <h2 class="vuosiluokka-otsikko" ng-bind="('vuosiluokka' | kaanna) + ' ' + vuosiluokka.$numero"></h2>

    <div ng-if="oppiaine.tyyppi === 'yhteinen'">
      <h3 kaanna="'tavoitteet'"></h3>

      <accordion ng-repeat="tunniste in vuosiluokkaSisallot[vlk._vuosiluokkakokonaisuus][vuosiluokka.vuosiluokka].tunnisteet"
                 ng-init="vs = vuosiluokkaSisallot[vlk._vuosiluokkakokonaisuus][vuosiluokka.vuosiluokka]" class="sivunavi-box">
        <accordion-group is-open="status.open">
          <accordion-heading>
            <div ng-class="{'opened-oppiaine': status.open}">
              <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
              <h4 class="tavoite-otsikko" ng-bind-html="vs.tavoiteMap[tunniste].$tavoite | kaanna | unsafe"></h4>
            </div>
          </accordion-heading>
          <div class="listat">
            <div class="lista">
              <h4 kaanna="'sisaltoalueet'"></h4>
              <ul>
                <li ng-repeat="sisaltoalue in vs.tavoiteMap[tunniste].$sisaltoalueet | orderBy:nimiOrder">
                  <span ng-bind="sisaltoalue.nimi | kaanna"></span>
                </li>
              </ul>
            </div>
            <div class="lista">
              <h4 kaanna="'laaja-alaiset-osaamiset'"></h4>
              <ul>
                <li ng-repeat="laajaalainen in vs.tavoiteMap[tunniste].$laajaalaiset | orderBy:nimiOrder">
                  <span ng-bind="laajaalainen.nimi | kaanna"></span>
                </li>
              </ul>
            </div>
          </div>
          <div class="arviointi" ng-show="vs.tavoiteMap[tunniste].$arvioinninkohteet.length > 0">
            <h4 kaanna="'arviointi-vuosiluokan-paatteeksi'"></h4>
            <table class="table table-bordered kriteerit">
              <tr>
                <th width="30%" kaanna="'arvioinnin-kohde'"></th>
                <th kaanna="'arvion-hyva-osaaminen'"></th>
              </tr>
              <tr ng-repeat="kohde in vs.tavoiteMap[tunniste].$arvioinninkohteet">
                <td ng-bind="kohde.arvioinninKohde | kaanna"></td>
                <td ng-bind="kohde.hyvanOsaamisenKuvaus | kaanna"></td>
              </tr>
            </table>
          </div>
        </accordion-group>
      </accordion>

      <h3 ng-if="!vuosiluokkaSisallot[vlk._vuosiluokkakokonaisuus][vuosiluokka.vuosiluokka].perusteOpVlk.sisaltoalueinfo.otsikko"
          kaanna="'sisaltoalueet'"></h3>
      <h3 ng-if="vuosiluokkaSisallot[vlk._vuosiluokkakokonaisuus][vuosiluokka.vuosiluokka].perusteOpVlk.sisaltoalueinfo.otsikko"
          kaanna="vuosiluokkaSisallot[vlk._vuosiluokkakokonaisuus][vuosiluokka.vuosiluokka].perusteOpVlk.sisaltoalueinfo.otsikko"></h3>

      <div esitys-teksti="" esitys-peruste="vuosiluokkaSisallot[vlk._vuosiluokkakokonaisuus][vuosiluokka.vuosiluokka].perusteOpVlk.sisaltoalueinfo" show-peruste="true" hide-otsikko="true"></div>
      <div ng-repeat="tunniste in vuosiluokkaSisallot[vlk._vuosiluokkakokonaisuus][vuosiluokka.vuosiluokka].sisaltoaluetunnisteet"
           ng-init="vs = vuosiluokkaSisallot[vlk._vuosiluokkakokonaisuus][vuosiluokka.vuosiluokka]" class="tavoite">
        <h4 class="tavoite-otsikko" ng-bind-html="vs.perusteSisaltoalueet[tunniste].nimi | kaanna | unsafe"></h4>
        <div class="esitys-peruste" termisto-viitteet="vs.perusteSisaltoalueet[tunniste].kuvaus" ng-bind-html="vs.perusteSisaltoalueet[tunniste].kuvaus | kaanna | unsafe"></div>
        <div class="esitys-paikallinen" termisto-viitteet="vs.sisaltoaluemuokattavat[tunniste].teksti" ng-bind-html="vs.sisaltoaluemuokattavat[tunniste].teksti | kaanna | unsafe"></div>
      </div>

    </div>

    <div ng-if="oppiaine.tyyppi !== 'yhteinen'">
      <div ng-repeat="tavoite in vuosiluokkaSisallot[vlk._vuosiluokkakokonaisuus][vuosiluokka.vuosiluokka].valinnaisenTekstiosat">
        <h4 ng-bind-html="tavoite.otsikko | kaanna | unsafe"></h4>
        <div termisto-vitteet="tavoite.teksti" ng-bind-html="tavoite.teksti | kaanna | unsafe"></div>
      </div>
    </div>

  </div>

</div>
