div
  h1.peruste-otsikko(ng-bind-html='ops.nimi | kaanna | unsafe')
  .alert.alert-info(ng-if="ops.tila !== 'julkaistu'")
    a.palata-btn.btn.btn-primary.pull-right(ng-click='returnToYlops()', ng-bind="'palata-ops-tyokaluun' | kaanna")
    h4(kaanna="'ops-esikatselu'")
    p(kaanna="'esikatselu-varoitus'")
  murupolku
  .clearfix
  #sivunavi-sisalto-wrapper(ng-class="{'sivunavi-hidden': !isNaviVisible()}")
    .esitys
      .sivunavi-navigaatio
        ep-lukio-sivunavigaatio(on-section-change='onSectionChange', header='navi.header', sections='navi.sections', show-one='navi.showOne')
      .sivunavi-clear
      .sivunavi-sisalto.perusopetus
        .row
          .col-md-12
            #esitysPrintSisalto(ui-view='')
