h1(esitys-sivu-otsikko='tekstikappale.nimi')
  span(ng-bind-html='tekstikappale.nimi | kaanna | unsafe')
termisto-tekstikentta(tekstikentta='tekstikappale.teksti')
div(ng-repeat='lapsi in lapset')
  ops-tekstiotsikko(level='2', model='lapsi', link-var='linkVar')
  termisto-tekstikentta(tekstikentta='lapsi.tekstiKappale.teksti')
  div(ng-repeat='alilapsi in lapsi.lapset')
    ops-tekstiotsikko(level='3', model='alilapsi', link-var='linkVar')
    termisto-tekstikentta(tekstikentta='alilapsi.tekstiKappale.teksti')
    div(ng-repeat='alialilapsi in alilapsi.lapset')
      ops-tekstiotsikko(level='4', model='alialilapsi', link-var='linkVar')
      termisto-tekstikentta(tekstikentta='alialilapsi.tekstiKappale.teksti')
