<!-- partials/esitys/tiedot.html -->

<h1 esitys-sivu-otsikko="'opetussuunnitelman-tiedot'"><span kaanna="'opetussuunnitelman-tiedot'"></span></h1>

<div class="row row-margin">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'opetussuunnitelman-nimi'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span kaanna="ops.nimi || 'nimetön'"></span>
  </div>
</div>


<div class="row row-margin">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'maarayksen-diaarinumero'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span ng-bind="ops.perusteenDiaarinumero"></span>
  </div>
</div>

<div class="row row-margin">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'koulutus-tyyppi'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span ng-bind="ops.koulutustyyppi | kaanna"></span>
  </div>
</div>

<div class="row row-margin">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'kunnat'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8 esitys-korvattavat">
    <ul>
      <li ng-repeat="kunta in ops.kunnat">
        <span>{{kunta.nimi | kaanna}}</span>
      </li>
    </ul>
  </div>
</div>

<div class="row row-margin">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'organisaatiot'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8 esitys-korvattavat">
    <ul>
      <li ng-repeat="org in ops.organisaatiot">
        <span>{{org.nimi | kaanna}}</span>&nbsp;<span ng-repeat="tyypi in org.tyypit">&nbsp;({{tyypi}})</span>
      </li>
    </ul>
  </div>
</div>

<div class="row row-margin">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'luotu'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span pvm="ops.luotu"></span>
  </div>
</div>

<div class="row row-margin">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'muokattu'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span pvm="ops.muokattu"></span>
  </div>
</div>

<div class="row row-margin">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'tila'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span ng-bind="ops.tila | kaanna"></span>
  </div>
</div>


<div class="row row-margin" ng-if="!!ops.paatospaivamaara">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'paatospaivamaara'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span pvm="ops.paatospaivamaara"></span>
  </div>
</div>

<div class="row row-margin">
  <div class="col-xs-6 col-sm-4">
    <strong>
      <span kaanna="'pohja'"></span>
    </strong>
  </div>
  <div class="col-xs-6 col-sm-8">
    <span ng-bind="ops.pohja.nimi | kaanna"></span>
  </div>
</div>


<div class="row row-margin" ng-show="!!ops.kuvaus">
  <div class="col-xs-12 col-sm-4">
    <strong>
      <span kaanna="'tiivistelma'"></span>
    </strong>
  </div>
  <div class="col-xs-12 col-sm-8">
    <termisto-tekstikentta tekstikentta="ops.kuvaus"></termisto-tekstikentta>
  </div>
</div>


<div class="clearfix"></div>
