<h1 class="oppiaine-nimi" esitys-sivu-otsikko="valittuOppiaine.oppiaine.nimi">
  <span kaanna="oppiaine.nimi"></span>
</h1>

<div>
  <div ng-if="oppimaarat.length > 0">
    <h2 kaanna="'oppimaarat'"></h2>
    <ul>
      <li ng-repeat="oppimaara in oppimaarat">
        <a ui-sref="root.ops.perus.vuosiluokka.oppiaine({oppiaineId: oppimaara.id})" ng-bind="oppimaara.nimi | kaanna"></a>
      </li>
    </ul>
  </div>

  <div ng-hide="!hasContent(oppiaine.tehtava)">
    <h2 ng-bind-html="oppiaine.tehtava.otsikko | kaanna | unsafe"></h2>
    <termisto-tekstikentta tekstikentta="oppiaine.tehtava.teksti || '-'"></termisto-tekstikentta>
  </div>

  <div ng-hide="!hasContent(oppiaine.tyotavat)">
    <h3 ng-bind-html="oppiaine.tyotavat.otsikko | kaanna | unsafe"></h3>
    <termisto-tekstikentta tekstikentta="oppiaine.tyotavat.teksti || '-'"></termisto-tekstikentta>
  </div>

  <div ng-hide="!hasContent(oppiaine.ohjaus)">
    <h3 ng-bind-html="ohjaus.otsikko | kaanna | unsafe"></h3>
    <termisto-tekstikentta tekstikentta="oppiaine.ohjaus.teksti || '-'"></termisto-tekstikentta>
  </div>

  <div ng-hide="!hasContent(oppiaine.arviointi)">
    <h3 ng-bind-html="oppiaine.arviointi.otsikko | kaanna | unsafe"></h3>
    <termisto-tekstikentta tekstikentta="oppiaine.arviointi.teksti || '-'"></termisto-tekstikentta>
  </div>

  <div ng-hide="!oppiaine.sisaltoalueinfo">
    <h3>{{ oppiaine.sisaltoalueinfo.otsikko | kaanna }}</h3>
    <termisto-tekstikentta tekstikentta="oppiaine.sisaltoalueinfo.teksti || '-'"></termisto-tekstikentta>
  </div>

  <div ng-hide="!oppiaine.sisaltoalueet || valittuOppiaine.oppiaine.sisaltoalueet.length === 0">
    <div ng-repeat="sa in oppiaine.sisaltoalueet">
      <h4 class="sparse">{{ sa.nimi | kaanna }}</h4>
      <termisto-tekstikentta tekstikentta="sa.kuvaus || '-'"></termisto-tekstikentta>
    </div>
  </div>

  <div ng-hide="oppiaine.tavoitteet.length === 0"
       ng-if="oppiaine._vuosiluokkaKokonaisuus">
    <h3 kaanna="'perusopetus-tavoitteet'"></h3>
    <div tavoitteet="oppiaine" oppiaine="oppiaine" osaamiset="osaamiset" vuosiluokka="oppiaine.sisallot"></div>
  </div>
</div>

<pre>{{oppiaine | json}}</pre>
