h1(ng-bind='oppiaine.nimi | kaanna')
div(ng-show='oppiaine.kohdealueet.length > 0')
  h2(kaanna="'kohdealueet'")
  ul
    li(ng-repeat='ka in oppiaine.kohdealueet')
      span(ng-bind='ka.nimi | kaanna')
div(esitys-teksti='oppiaine.tehtava', esitys-peruste='perusteOppiaine.tehtava', show-peruste='true')
h2.vlk-otsikko(ng-bind='currentVlkCategory | kaanna')
div(ng-show="oppiaine.tyyppi === 'yhteinen'")
  div(show-all='true', esitys-teksti='vlk.tehtava', esitys-peruste='perusteOppiaineVlkMap[vlk._vuosiluokkakokonaisuus].tehtava')
  div(show-all='true', esitys-teksti='vlk.tyotavat', esitys-peruste='perusteOppiaineVlkMap[vlk._vuosiluokkakokonaisuus].tyotavat')
  div(show-all='true', esitys-teksti='vlk.ohjaus', esitys-peruste='perusteOppiaineVlkMap[vlk._vuosiluokkakokonaisuus].ohjaus')
  div(show-all='true', esitys-teksti='vlk.arviointi', esitys-peruste='perusteOppiaineVlkMap[vlk._vuosiluokkakokonaisuus].arviointi')
p.vuosiluokkailmoitus.alert.alert-info(ng-show='!oppiaine.koosteinen && noYleistavoitteet() && missingVlk()', kaanna="'oppiaineella-ei-vuosiluokkasisaltoja'")
div(ng-show='!vlk.vuosiluokat.length && !noYleistavoitteet()')
  h3(ng-bind-html="'tavoitteet-ja-sisallot' | kaanna | unsafe")
  div(termisto-viitteet='vlk.yleistavoitteet.teksti', ng-bind-html='vlk.yleistavoitteet.teksti | kaanna | unsafe')
div(ng-show='!missingVlk()')
  h2.vuosiluokka-otsikko(ng-bind='vuosi | kaanna')
  h3(kaanna="'tavoitteet'")
  span(ng-if="vapaaTeksti" ng-bind-html='vapaaTeksti | kaanna | unsafe')
  uib-accordion.tavoitteet-box(ng-repeat='sa in sisalto')
    .panel-default(uib-accordion-group, is-open='status.open')
      uib-accordion-heading
        div(ng-class="{'opened-oppiaine': status.open}")
          i.pull-left.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
          h4.tavoite-otsikko(ng-bind-html='sa.$tavoite | kaanna | unsafe')
      termisto-tekstikentta(tekstikentta='sa.tavoite')
      .listat
        .lista
          h4(kaanna="'sisaltoalueet'")
          ul
            li(ng-repeat='sisaltoalue in sa.sisaltoalueet | orderBy:nimiOrder')
              h5.sisaltoalue-label(ng-bind='sisaltoalue.sisaltoalueet.nimi | kaanna')
              .panel.panel-default
                .panel-body(ng-class="{'esitys-peruste':!sisaltoalue.omaKuvaus && !sisaltoalue.sisaltoalueet.kuvaus}")
                  termisto-tekstikentta(tekstikentta='sisaltoalue.omaKuvaus')
                  termisto-tekstikentta(ng-show='!sisaltoalue.omaKuvaus', tekstikentta='sisaltoalue.sisaltoalueet.kuvaus')
                  termisto-tekstikentta(ng-show='!sisaltoalue.omaKuvaus && !sisaltoalue.sisaltoalueet.kuvaus', perusteteksti='perustenSisaltoMap[sisaltoalue.sisaltoalueet.tunniste].kuvaus')
              div(ng-show='sisaltoalue.omaKuvaus || sisaltoalue.sisaltoalueet.kuvaus')
                uib-accordion.peruste-box
                  .panel-default(uib-accordion-group, is-open='status.avoin')
                    uib-accordion-heading
                      div
                        i.pull-left.glyphicon(ng-class="{'glyphicon-chevron-down': status.avoin, 'glyphicon-chevron-right': !status.avoin}")
                        h4(ng-bind-html="'nayta-perusteen-teksti' | kaanna | unsafe")
                    termisto-tekstikentta(perusteteksti='perustenSisaltoMap[sisaltoalue.sisaltoalueet.tunniste].kuvaus')
        .lista(ng-if='sa.tavoitteistaJohdetutOppimisenTavoitteet')
          h4(kaanna="'tavoitteista-johdetut-oppimisen-tavoitteet'")
          span(ng-bind-html='sa.tavoitteistaJohdetutOppimisenTavoitteet | kaanna | unsafe')
        .lista
          h4(kaanna="'laaja-alaisen-osaamisen-alueet'")
          ul
            li(ng-repeat='laajaalainen in sa.$laajaalaiset | orderBy:nimiOrder')
              span(ng-bind='laajaalainen.nimi | kaanna')
              span(ohje='false', ohje-click-anywhere='false', teksti='laajaalaiset[laajaalainen.tunniste].kuvaus', otsikko='laajaalainen.nimi', suunta='bottom')
                span.label.label-default Peruste
              span(ng-show='paikalliset[laajaalainen.tunniste].teksti', ohje='false', ohje-click-anywhere='false', teksti='paikalliset[laajaalainen.tunniste].teksti', otsikko='laajaalainen.nimi', suunta='bottom')
                span.label.label-warning Paikallinen
      h4(kaanna="'arvioinnin-kohde'")
      p(kaanna="arvioinninKohteenTeksti(sa) || 'ei-asetettu'")
      .tavoitteet-arviointi(ng-show='sa.$arvioinninkohteet.length > 0')
        h4(kaanna="'arviointi-vuosiluokan-paatteeksi'")
        table.table.table-bordered.kriteerit
          tr
            th(ng-hide='osaamisenKuvauksetTyhjia(sa.$arvioinninkohteet)' width='45%', kaanna="'osaamisen-kuvaus'")
            th(kaanna="'arvion-kuvaus'")
          tr.peruste-arviointi-text(ng-repeat='kohde in sa.$arvioinninkohteet | orderBy:"arvosana"')
            td(ng-hide='osaamisenKuvauksetTyhjia(sa.$arvioinninkohteet)')
              span(ng-if="kohde.arvosana") {{'osaamisen-kuvaus-arvosanalle_' + kohde.arvosana | kaanna}}
              span(ng-if="!kohde.arvosana")
            td(ng-bind='kohde.osaamisenKuvaus | kaanna')
      div(ng-if='sa.vapaaTeksti')
        span(ng-bind-html='sa.vapaaTeksti | kaanna | unsafe')
h2(ng-show='sisaltoAlueet.length', ng-bind-html="'keskeiset-sisaltoalueet' | kaanna")
.tavoite(ng-repeat='alue in sisaltoAlueet')
  h4.tavoite-otsikko(ng-bind-html='alue[0].nimi | kaanna | unsafe')
  .esitys-peruste(termisto-viitteet='alue[0].kuvaus', ng-bind-html='alue[0].kuvaus | kaanna | unsafe')
  .esitys-paikallinen(termisto-viitteet='alue[1].kuvaus', ng-bind-html='alue[1].kuvaus | kaanna | unsafe')
