div
  h1.peruste-otsikko(ng-bind-html='ops.nimi | kaanna | unsafe')
  .alert.alert-info(ng-if="ops.tila !== 'julkaistu'")
    a.palata-btn.btn.btn-primary.pull-right(ng-href='{{returnToYlopsLink}}', kaanna="'palata-ops-tyokaluun'" ng-if="isReturnToYlopsEnabled")
    h4(kaanna="'ops-esikatselu'")
    p(kaanna="'esikatselu-varoitus'")
  murupolku
  .clearfix
  #sivunavi-sisalto-wrapper(ng-class="{'sivunavi-hidden': !isNaviVisible()}")
    .esitys
      .sivunavi-navigaatio.sivunavi-simple
        ep-sivunavigaatio(header='navi.header', items='navi.sections[0].items')
      .sivunavi-clear
      .sivunavi-sisalto.perusopetus
        .row
          .col-md-12
            #esitysPrintSisalto(ui-view='')
