mixin tavoite-handle
  .sorter-handle.pull-left(ui-tree-handle)
    .icon(icon-role="drag")

mixin tavoite-naytto
  h4.tavoite-otsikko.action-link(kaanna="tavoite.tavoite || 'nimeton-tavoite'", ng-click="tavoite.$accordionOpen = !tavoite.$accordionOpen")

  .div(uib-collapse="!tavoite.$accordionOpen")
    h4(kaanna="'kohdealueet'")
    p(kaanna="tavoite.$valittuKohdealue.nimi || 'ei-asetettu'")

    h4(kaanna="'laaja-alainen-osaaminen'")
    div(tag-cloud="tavoite.$osaaminen", openable="true", edit-mode="false", add-label="lisaa-laaja-alainen-osaaminen")

    h4(kaanna="tavoite.arvioinninOtsikko || 'arviointi'")
    +arviointi

  .div(ng-hide="tavoite.$accordionOpen")
    .tavoite-collapser.action-link(ng-click="tavoite.$accordionOpen = true") …

mixin arviointi
  table.table.table-default.table-bordered.perusopetuksen-arviointi
    thead
      tr
        th(ng-bind="tavoite.arvioinninKuvaus || 'arvioinnin-kohde' | kaanna")
        th(ng-bind="tavoite.arvioinninOsaamisenKuvaus || 'arvion-hyva-osaaminen' | kaanna")
    tbody
      tr(ng-repeat="arvioinninKohde in tavoite.arvioinninkohteet")
        td
          span(kaanna="arvioinninKohde.arvioinninKohde")
        td
          span(kaanna="arvioinninKohde.hyvanOsaamisenKuvaus")

mixin tavoite-sisalto
  .tavoite-sisalto
    .div
      +tavoite-naytto


mixin tavoite
  +tavoite-sisalto

mixin tavoitteet
  span.toggler(ng-show="model.length")
    a.action-link(kaanna="'avaa-sulje-kaikki'", ng-click="toggleAll()")

  // Näyttö
  div
    .panel.panel-default.panel-small
      .panel-body
        .panel-group
          .panel.panel-default(ng-repeat="tavoite in model")
            .panel-body
              +tavoite

div
  +tavoitteet
