html
  body
    .murupolku
      ol.breadcrumb
        li
          a(ui-sref='root.etusivu')
            img(src='images/sm/ikoni-eperusteet.png')
        |     
        li(ng-repeat='crumb in crumbs')
          a(ng-if='!$last', ng-href='{{crumb.url}}', ng-bind='crumb.label | kaanna')
          |       
          span.active(ng-if='$last', ng-bind='crumb.label | kaanna')
