.row.koostetiedot
  .col-xs-8
    .panel.panel-info
      .panel-heading(ng-bind="'uusimmat-perusteet' | kaanna")
      .panel-body
    .panel.panel-info
      .panel-heading(ng-bind="'perusteita' | kaanna")
      .panel-body
  .col-xs-4
    .panel.panel-info
      .panel-heading(ng-bind="'uutisia' | kaanna")
      .panel-body
