h2(ng-bind="'perusteluokitus-' + perusteluokitus | kaanna")

div(ui-view="tiedot")

div(style="margin-bottom: 8px;")
  ul.nav.nav-tabs(style="maring-bottom: 12px;")
    li(ng-class="{ 'active': tab === 'perusteet' }")
      a(ng-click="changeTab('perusteet')" ng-bind="'perusteet' | kaanna")
    li(ng-class="{ 'active': tab === 'jarjestajat' }")
      a(ng-click="changeTab('jarjestajat')" ng-bind="'koulutuksen-jarjestajat' | kaanna")

div(ui-view="perustelistaus" ng-if="tab === 'perusteet'")
div(ui-view="laitoslistaus" ng-if="tab === 'jarjestajat'")
