h2(ng-bind="'perusteluokitus-' + perusteluokitus | kaanna")

div(ui-view="tiedot")

div(style="margin-bottom: 8px;")
  ul.nav.nav-tabs(style="maring-bottom: 12px;")
    li(ng-class="{ 'active': tab === 'perusteet' }")
      a(ng-click="changeTab('perusteet')" kaanna="'perusteet'")
    li(ng-class="{ 'active': tab === 'koulutusvienti' }")
      a(ng-click="changeTab('koulutusvienti')" kaanna="'koulutusvienti'")
    li(ng-class="{ 'active': tab === 'jarjestajat' }")
      a(ng-click="changeTab('jarjestajat')" kaanna="'koulutuksen-jarjestajat'")

div(ui-view="perustelistaus" ng-if="tab === 'perusteet'")
div(ui-view="koulutusvienti" ng-if="tab === 'koulutusvienti'")
div(ui-view="laitoslistaus" ng-if="tab === 'jarjestajat'")
