.koostenakyma
  h2(ng-bind="'perusteluokitus-' + perusteluokitus | kaanna")

  div(ui-view="tiedot")

  div(ng-if="perusteluokitus === 'ammatillinenkoulutus'")
    div(ng-if="tab === 'perusteet' && 'kooste-kuvaus-perusteet' | kaanna")
      p.koostekuvaus(ng-if="'kooste-kuvaus-ammatillinen-koulutus' | kaanna" ng-bind="'kooste-kuvaus-ammatillinen-koulutus' | kaanna")
      p.koostekuvaus(kaanna="'kooste-kuvaus-perusteet'")
    div(ng-if="tab === 'koulutusvienti' && 'kooste-kuvaus-koulutusvienti' | kaanna")
      p.koostekuvaus(kaanna="'kooste-kuvaus-koulutusvienti'")
    div(ng-if="tab === 'oppaat' && 'kooste-kuvaus-ohjeet' | kaanna")
      p.koostekuvaus(kaanna="'kooste-kuvaus-ohjeet'")
    div(ng-if="tab === 'jarjestajat' && 'kooste-kuvaus-jarjestajat' | kaanna")
      p.koostekuvaus(kaanna="'kooste-kuvaus-jarjestajat'")

  div(style="margin-bottom: 8px;")
    ul.nav.nav-tabs(style="maring-bottom: 12px;")
      li(ng-class="{ 'active': tab === 'perusteet' }")
        a(ng-click="changeTab('perusteet')" kaanna="'perusteet'")
      li(ng-class="{ 'active': tab === 'koulutusvienti' }")
        a(ng-click="changeTab('koulutusvienti')" kaanna="'koulutusvienti'")
      li(ng-class="{ 'active': tab === 'oppaat' }")
        a(ng-click="changeTab('oppaat')" kaanna="'oppaat'")
      li(ng-class="{ 'active': tab === 'jarjestajat' }")
        a(ng-click="changeTab('jarjestajat')" kaanna="'koulutuksen-jarjestajat'")

  div(ui-view="perustelistaus" ng-if="tab === 'perusteet'")
  div(ui-view="koulutusvienti" ng-if="tab === 'koulutusvienti'")
  div(ui-view="oppaat" ng-if="tab === 'oppaat'")
  div(ui-view="laitoslistaus" ng-if="tab === 'jarjestajat'")
