h2(ng-bind="'perusteluokitus-' + perusteluokitus | kaanna")

div(ui-view="tiedot")
ul.nav.nav-tabs(style="maring-bottom: 12px;")
  li(ui-sref-active="active")
    a(ui-sref=".perustelistaus" ng-bind="'perusteet' | kaanna")
  li(ui-sref-active="active")
    a(ui-sref=".laitoslistaus" ng-bind="'koulutuksen-jarjestajat' | kaanna")

.ui-view
