.etusivu
  .row
    .col-md-12
      .banneri-box
        .row
          .col-md-6
            .banneri-sisalto
              h2(kaanna="'etusivu.eperusteet'")
              span(kaanna="'etusivu.eperusteet.kuvaus'")
  .row

    // Uutiset / Tiedotteet
    div(ng-class="{'col-md-12': kieli !== 'en','col-lg-4': kieli !== 'en', 'col-lg-push-8': kieli !== 'en', 'col-lg-6': kieli === 'en', 'col-lg-push-6': kieli === 'en', 'col-md-6': kieli === 'en', 'col-md-push-6': kieli === 'en'}")
      .sisalto-box
        h2(kaanna="'etusivu.uutisia'")
        .linkit
          ul
            li.lista-elementti(ng-repeat="tiedote in tiedotteet", ng-if="tiedotteet.length > 0")
              a(ui-sref='root.tiedote({tiedoteId: tiedote.id})')
                span(ng-bind='tiedote.otsikko | kaanna')
              p
                span {{tiedote.luotu || tiedote.luotu | date}}
            li.lista-elementti(ng-show="tiedotteet.length > 0")
              a(ui-sref='root.uutiset', kaanna="'nayta-kaikki-uutiset'")
        p.text-center(ng-hide="tiedotteetLadattu || tiedotteetVirhe")
          small-spinner
        p(ng-show="tiedotteetLadattu && tiedotteet.length === 0" kaanna="'ei-tiedotteita'")
        p(ng-show="tiedotteetVirhe" kaanna="'virhe.jotain-meni-pieleen'")

      .visible-lg(ng-include='', src="'views/osaan.html'")

    // Valtakunnalliset perusteet
    .col-lg-4.col-lg-pull-4.col-md-6(ng-show="kieli !== 'en'")
      .sisalto-box
        h2(kaanna="'etusivu.valtakunnalliset-perusteet'")
        .linkit
          ul
            li.peruste-linkki(ng-show="uusimmat['koulutustyyppi_20'][0]")
              a(ui-sref="root.varhaiskasvatus({perusteId: uusimmat['koulutustyyppi_20'][0].id})", ng-bind="uusimmat['koulutustyyppi_20'][0].nimi | kaanna")
            li.peruste-linkki(ng-show="uusimmat['koulutustyyppi_15'][0]")
              a(ui-sref="root.esiopetus({perusteId: uusimmat['koulutustyyppi_15'][0].id})", ng-bind="uusimmat['koulutustyyppi_15'][0].nimi | kaanna")
            li.peruste-linkki(ng-show="uusimmat['koulutustyyppi_22'][0]")
              a(ui-sref="root.perusvalmistava({perusteId: uusimmat['koulutustyyppi_22'][0].id})", ng-bind="uusimmat['koulutustyyppi_22'][0].nimi | kaanna")
            li.peruste-linkki(ng-show="uusimmat['koulutustyyppi_16'][0]")
              a(ui-sref="root.perusopetus({perusteId: uusimmat['koulutustyyppi_16'][0].id})", ng-bind="uusimmat['koulutustyyppi_16'][0].nimi | kaanna")
            li.peruste-linkki(ng-show="uusimmat['koulutustyyppi_6'][0]")
              a(ui-sref="root.lisaopetus({perusteId: uusimmat['koulutustyyppi_6'][0].id})", ng-bind="uusimmat['koulutustyyppi_6'][0].nimi | kaanna")
            li.peruste-linkki(ng-show="uusimmat['koulutustyyppi_17'][0]")
              a(ui-sref="root.aipe({perusteId: uusimmat['koulutustyyppi_17'][0].id})", ng-bind="uusimmat['koulutustyyppi_17'][0].nimi | kaanna")
            li.peruste-linkki(ng-show="uusimmat['koulutustyyppi_2'][0]")
              a(ui-sref="root.lukio({perusteId: uusimmat['koulutustyyppi_2'][0].id})", ng-bind="uusimmat['koulutustyyppi_2'][0].nimi | kaanna")
            li.peruste-linkki(ng-show="uusimmat['koulutustyyppi_23'][0]")
              a(ui-sref="root.lukio({perusteId: uusimmat['koulutustyyppi_23'][0].id})", ng-bind="uusimmat['koulutustyyppi_23'][0].nimi | kaanna")
            li.peruste-linkki(ng-show="uusimmat['koulutustyyppi_14'][0]")
              a(ui-sref="root.lukio({perusteId: uusimmat['koulutustyyppi_14'][0].id})", ng-bind="uusimmat['koulutustyyppi_14'][0].nimi | kaanna")
            li.peruste-linkki(ng-repeat="tpo in uusimmat['koulutustyyppi_999907']")
              a(ui-sref="root.tpo({perusteId: tpo.id})", ng-bind="tpo.nimi | kaanna")
            li.peruste-linkki(ng-show="uusimmatValtakunnallisetLadattu")
              a(ui-sref='root.selaus.koostenakyma({ perusteluokitus: "ammatillinenkoulutus" })')
                span(kaanna="'navi.ammatillinenkoulutus'")
            li.peruste-linkki(ng-show="uusimmat['koulutustyyppi_5'][0]")
              a(ui-sref="root.esitys.peruste({perusteId: uusimmat['koulutustyyppi_5'][0].id, suoritustapa: 'ops'})", ng-bind="uusimmat['koulutustyyppi_5'][0].nimi | kaanna")
            li.peruste-linkki(ng-show="uusimmat['koulutustyyppi_18'][0]")
              a(ui-sref="root.esitys.peruste({perusteId: uusimmat['koulutustyyppi_18'][0].id, suoritustapa: 'ops'})", ng-bind="uusimmat['koulutustyyppi_18'][0].nimi | kaanna")

        p.text-center(ng-hide="uusimmatValtakunnallisetLadattu || uusimmatValtakunnallisetVirhe")
          small-spinner
        p(ng-show="uusimmatValtakunnallisetVirhe" kaanna="'virhe.jotain-meni-pieleen'")

    // Uusimmat ammatilliset perusteet
    .col-md-6(ng-class="{'col-lg-4': kieli !== 'en', 'col-lg-pull-4': kieli !== 'en', 'col-lg-6': kieli === 'en', 'col-lg-pull-6': kieli === 'en', 'col-md-pull-6': kieli === 'en'}")
      .sisalto-box
        h2(kaanna="'etusivu.uusimmat-perusteet'")
        .linkit
          ul
            li.lista-elementti(ng-repeat='peruste in uusimmatLista | limitTo:10')
              a(ng-if="UusimmatPerusteetService.isPerusteUusiToteutus(peruste)" href="{{UusimmatPerusteetService.getPerusteUusiToteutusUrl(peruste)}}")
                span(ng-bind='peruste.nimi | kaanna')
              a(ng-if="!UusimmatPerusteetService.isPerusteUusiToteutus(peruste)" ui-sref='{{UusimmatPerusteetService.getStateTila(peruste.koulutustyyppi)}}({perusteId: peruste.id, suoritustapa: peruste.suoritustavat[0].suoritustapakoodi})')
                span(ng-bind='peruste.nimi | kaanna')
              p
                span(ng-bind='peruste.paatospvm | date')
                = ' '
                span(ng-bind='peruste.koulutustyyppi | kaanna')
        p.text-center(ng-hide="uusimmatLadattu || uusimmatVirhe")
          small-spinner
        p(ng-show="uusimmatLadattu && uusimmatLista.length === 0" kaanna="'ei-uusia-perusteita'")
        p(ng-show="uusimmatVirhe" kaanna="'virhe.jotain-meni-pieleen'")

      .visible-md(ng-include='', src="'views/osaan.html'")
      .visible-sm(ng-include='', src="'views/osaan.html'")
      .visible-xs(ng-include='', src="'views/osaan.html'")

  footer
    .alatunniste
      .alatunniste-tausta
      .alatunniste-sisalto
        ul.alatunniste-linkit
          span(ng-show="kieli === 'fi'")
            li
              a(href='mailto:eperusteet@opintopolku.fi', kaanna="'kysy-neuvoa-anna-palautetta'")
          span(ng-show="kieli === 'sv'")
            li
              a(href='mailto:egrunder@studieinfo.fi', kaanna="'kysy-neuvoa-anna-palautetta'")
          li
            a(href='https://opintopolku.fi/wp/tietosuojaseloste', kaanna="'tietosuojaseloste'")
        ul.alatunniste-linkit
          span(ng-show="kieli === 'fi'")
            li
              a(href='http://osaan.fi', kaanna="'osaan-linkki'")
          span(ng-show="kieli === 'sv'")
            li
              a(href='http://jagkan.fi', kaanna="'osaan-linkki'")
          li
            a(href='https://virkailija.opintopolku.fi/eperusteet-app', kaanna="'eperusteet-virkailija-linkki'")
      .opetushallitus-logo
    .container-fluid
      .row
        .col-xs-12.text-center
          p.alatunniste-copyright
            span(kaanna="'copyright-opetushallitus'")
            span=" "
            span(ng-bind='currentYear')
            span=" "
            span |
            span=" "
            a(href='http://www.oph.fi')
              span www.oph.fi
