<div class="etusivu">
  <div class="row">
    <div class="col-md-12">
      <div class="banneri-box">
        <div class="row">
          <div class="col-md-6">
            <div class="banneri-sisalto">
              <h2 kaanna="'etusivu.eperusteet'"></h2>
              <span kaanna="'etusivu.eperusteet.kuvaus'"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Uutiset / Tiedotteet -->
    <div class="col-lg-4 col-lg-push-8 col-md-12">
      <div class="sisalto-box">
        <h2 kaanna="'etusivu.uutisia'"></h2>
        <div class="linkit">
          <ul>
            <li ng-repeat="tiedote in tiedotteet | limitTo:naytto.shown" class="lista-elementti"
                ng-if="hasContentOnCurrentLang(tiedote.otsikko)">
              <a ui-sref="root.tiedote({tiedoteId: tiedote.id})">
                <span kaanna="tiedote.otsikko"></span>
              </a>
              <p>
                <span>{{tiedote.luotu || tiedote.luotu | date}}</span>
              </p>
            </li>
            <li class="lista-elementti-lisaa">
              <limit-toggler limit="naytto.limit" model="tiedotteet" limiter="naytto.shown"></limit-toggler>
            </li>
            <li class="lista-elementti">
              <a ui-sref="root.uutiset">Näytä kaikki uutiset</a>
            </li>
          </ul>
        </div>
      </div>

      <div ng-include src="'views/osaan.html'" class="visible-lg"></div>
    </div>

    <!-- Valtakunnalliset perusteet -->
    <div class="col-lg-4 col-lg-pull-4 col-md-6">
      <div class="sisalto-box">
        <h2 kaanna="'etusivu.valtakunnalliset-perusteet'"></h2>
        <div class="linkit">
          <ul>
            <li class="peruste-linkki">
              <a ui-sref="root.esiopetus({perusteId: uusimmat['koulutustyyppi_15'][0].id})" ng-bind="uusimmat['koulutustyyppi_15'][0].nimi | kaanna"></a>
            </li>
            <li class="peruste-linkki">
              <a ui-sref="root.esiopetus({perusteId: uusimmat['koulutustyyppi_22'][0].id})" ng-bind="uusimmat['koulutustyyppi_22'][0].nimi | kaanna"></a>
            </li>
            <li class="peruste-linkki">
              <a ui-sref="root.perusopetus({perusteId: uusimmat['koulutustyyppi_16'][0].id})" ng-bind="uusimmat['koulutustyyppi_16'][0].nimi | kaanna"></a>
            </li>
            <li class="peruste-linkki">
              <a ui-sref="root.lisaopetus({perusteId: uusimmat['koulutustyyppi_6'][0].id})" ng-bind="uusimmat['koulutustyyppi_6'][0].nimi | kaanna"></a>
            </li>
            <li class="peruste-linkki">
              <a ui-sref="root.lukio({perusteId: uusimmat['koulutustyyppi_2'][0].id})" ng-bind="uusimmat['koulutustyyppi_2'][0].nimi | kaanna"></a>
            </li>
            <li class="peruste-linkki">
              <a ui-sref="root.lukio({perusteId: uusimmat['koulutustyyppi_23'][0].id})" ng-bind="uusimmat['koulutustyyppi_23'][0].nimi | kaanna"></a>
            </li>
            <li class="peruste-linkki">
              <a ui-sref="root.lukio({perusteId: uusimmat['koulutustyyppi_14'][0].id})" ng-bind="uusimmat['koulutustyyppi_14'][0].nimi | kaanna"></a>
            </li>
            <li class="peruste-linkki">
              <a ui-sref="root.selaus.ammatillinenperuskoulutus">
                <span kaanna="'navi.ammatillinenperuskoulutus'"></span>
              </a>
            </li>
            <li class="peruste-linkki">
              <a ui-sref="root.selaus.ammatillinenaikuiskoulutus">
                <span kaanna="'navi.ammatillinenaikuiskoulutus'"></span>
              </a>
            </li>
            <li class="peruste-linkki">
              <a ui-sref="root.esitys.peruste({perusteId: uusimmat['koulutustyyppi_5'][0].id, suoritustapa: 'ops'})" ng-bind="uusimmat['koulutustyyppi_5'][0].nimi | kaanna"></a>
            </li>
            <li class="peruste-linkki">
              <a ui-sref="root.esitys.peruste({perusteId: uusimmat['koulutustyyppi_18'][0].id, suoritustapa: 'ops'})" ng-bind="uusimmat['koulutustyyppi_18'][0].nimi | kaanna"></a>
            </li>
          </ul>
        </div>
      </div>

      <div ng-include src="'views/osaan.html'" class="visible-md"></div>
    </div>

    <!-- Uusimmat opetussuunnitelmat -->
    <div class="col-lg-4 col-lg-pull-4 col-md-6">
      <div class="sisalto-box">
        <h2 kaanna="'etusivu.uusimmat-perusteet'"></h2>
        <div class="linkit">
          <ul>
            <li ng-repeat="peruste in uusimmatLista | limitTo:5" class="lista-elementti">
              <a ui-sref="{{UusimmatPerusteetService.getStateTila(peruste.koulutustyyppi)}}
              ({perusteId: peruste.id, suoritustapa: peruste.suoritustavat[0].suoritustapakoodi})" >
                <span ng-bind="peruste.nimi | kaanna"></span>
              </a>
              <p>
                <span ng-bind="peruste.paatospvm | date"></span>
                <span kaanna="peruste.koulutustyyppi"></span>
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Paikalliset opetussuunnitelmat -->
    <!--<div class="col-lg-4 col-lg-pull-4 col-md-6">
      <div class="sisalto-box">
        <h2 kaanna="'etusivu.paikalliset-opsit'"></h2>
        <div class="linkit">
          <ul>
            <li class="lista-elementti">
              <span kaanna="'tulossa-kohta'"></span>
            </li>
            &lt;!&ndash;<li class="lista-elementti">
              <a>
                <span>Test</span>
              </a>
              <p>
                <span>3.11.2015 Test</span>
              </p>
            </li>&ndash;&gt;
            &lt;!&ndash;<li class="lista-elementti">
              <a ui-sref="root.selaus.ops">
                <span kaanna="'etusivu.hae-muita-opseja'"></span>
              </a>
            </li>&ndash;&gt;
          </ul>
        </div>
      </div>
    </div>-->

    <div class="col-sm-12 hidden-lg hidden-md">
      <div ng-include src="'views/osaan.html'"></div>
    </div>
  </div>

  <footer>
    <div class="alatunniste">
      <div class="alatunniste-tausta"></div>

      <div class="alatunniste-sisalto">
        <ul class="alatunniste-linkit">
          <span ng-show="kieli === 'fi'">
            <li><a href="mailto:eperusteet@opintopolku.fi" kaanna="'kysy-neuvoa-anna-palautetta'"></a></li>
          </span>
          <span ng-show="kieli === 'sv'">
            <li><a href="mailto:egrunder@studieinfo.fi" kaanna="'kysy-neuvoa-anna-palautetta'"></a></li>
          </span>
          <li><a href="https://opintopolku.fi/wp/tietosuojaseloste" kaanna="'tietosuojaseloste'"></a></li>
        </ul>

        <ul class="alatunniste-linkit">
          <span ng-show="kieli === 'fi'">
            <li><a href="http://osaan.fi" kaanna="'osaan-linkki'"></a></li>
          </span>
          <span ng-show="kieli === 'sv'">
            <li><a href="http://jagkan.fi" kaanna="'osaan-linkki'"></a></li>
          </span>
          <li><a href="https://virkailija.opintopolku.fi/eperusteet-app" kaanna="'eperusteet-virkailija-linkki'"></a></li>
        </ul>
      </div>

      <div class="opetushallitus-logo"></div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 text-center">
          <p class="alatunniste-copyright">
            <span kaanna="'copyright-opetushallitus'"></span> | <a href="http://www.oph.fi"><span>www.oph.fi</span></a>
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>
