a(ng-href="{{kieli === 'fi' ? 'http://osaan.fi' : 'http://jagkan.fi'}}", target='_blank')
  .sisalto-box.osaan-banneri
    img.osaan-logo(ng-show="kieli === 'fi'" src="images/osaan-logo-fi.png" alt="Osaan.fi")
    img.osaan-logo(ng-show="kieli === 'sv'" src="images/osaan-logo-sv.png" alt="Jagkan.fi")
