h1.peruste-otsikko(kaanna="'tiedote'")
murupolku
.sisalto-box
  h1(ng-bind-html='tiedote.otsikko | kaanna | unsafe')
  .tiedote-tiedot
    | {{tiedote.luotu | date:&apos;d.M.yyyy H:mm&apos;}}
  .tiedote-leipateksti(ng-bind-html='tiedote.sisalto | kaanna | unsafe')
