.uutiset
  h1.peruste-otsikko(kaanna="'etusivu.uutisia'")
  .sisalto-box
    ul
      li.lista-elementti(ng-repeat="tiedote in tiedotteet")
        a(ui-sref="root.tiedote({tiedoteId: tiedote.id})")
          span(kaanna="tiedote.otsikko")
        p
          span {{tiedote.luotu || tiedote.luotu | date}}

  .text-center
    ul(uib-pagination
       ng-model='sivu'
       ng-change="hakuMuuttui()"
       total-items='kokonaismaara'
       items-per-page='sivukoko')
