.tiedot
  h1(esitys-sivu-otsikko="'toteutussuunnitelman-tiedot'")
    span(kaanna="'opetussuunnitelman-tiedot'")
  .container-fluid
    .row.row-margin
      .col-xs-6.col-sm-4
        strong
          span(kaanna="'toteutussuunnitelman-nimi'")
      .col-xs-6.col-sm-8
        span(ng-bind="(ops.nimi || 'nimetön') | kaanna")
    .row.row-margin
      .col-xs-6.col-sm-4
        strong
          span(kaanna="'tiivistelma'")
      .col-xs-6.col-sm-8
        span(ng-bind-html='ops.kuvaus | kaanna | kuvalinkit:{ amosaa: { ktId } } | unsafe')
    .row.row-margin
      .col-xs-6.col-sm-4
        strong
          span(kaanna="'paatosnumero'")
      .col-xs-6.col-sm-8
        span(ng-bind='ops.paatosnumero | kaanna')
    .row.row-margin
      .col-xs-6.col-sm-4
        strong
          span(kaanna="'hyvaksyja'")
      .col-xs-6.col-sm-8
        span(ng-bind='ops.hyvaksyja| kaanna')
    .row.row-margin
      .col-xs-6.col-sm-4
        strong
          span(kaanna="'tila'")
      .col-xs-6.col-sm-8
        span(ng-bind='ops.tila | kaanna')
    .row.row-margin(ng-if='!!ops.paatospaivamaara')
      .col-xs-6.col-sm-4
        strong
          span(kaanna="'paatospaivamaara'")
      .col-xs-6.col-sm-8
        span(pvm='ops.paatospaivamaara')
    .row.row-margin
      .col-xs-12.col-sm-4
        strong
          span(kaanna="'peruste'")
      .col-xs-12.col-sm-8
        a(ui-sref="root.selaus.perusteinfo({ perusteId: ops.peruste.perusteId })" ng-bind="ops.peruste.nimi | kaanna")
    .row.row-margin
      .col-xs-12.col-sm-4
        strong
          span(kaanna="'koulutustoimija'")
      .col-xs-12.col-sm-8
        a(ui-sref="root.selaus.jarjestajat({ ktId: ops.koulutustoimija.id })" ng-bind="ops.koulutustoimija.nimi | kaanna")
