$input-border: $green;
$link: $green;
$link-color: $green;
$link-hover-color: $green3;
$sidenav-active-color: $green;
$primary-color: $green2;
$primary-color-hover: $green3;

$accessibility-main-color: $black;