<div class="perusopetus">
  <div ng-repeat="item in section.items" style="margin-left: {{ item.depth * 20 }}px;"
      ng-repeat="item in section.items" class="tekstisisalto"
      ng-class="{'tekstisisalto-active': item.$selected, 'tekstisisalto-active-header': item.$header}"
      ng-hide="item.root || item.$hidden">
      <a ng-href="{{item.url}}">
        <span>{{ item.label | kaanna }}</span>
      </a>


    <!-- <div class="tekstisisalto",
         ng-class="{'tekstisisalto-active': item.$selected && section.state.vlk, 'tekstisisalto-active-header': item.$selected && !section.state.vlk}">

    </div> -->
    <!-- <div ng-show="item.$selected" ng-repeat="oa in item.$oppiaineet | orderBy:section.$oppiaineOrder">
      <div
        class="action-link oppiaine {{ section.activeSection() === 'sisalto' && section.isCurrentOppiaine(oa.id) && 'oppiaine-selected' }}">
        <a ui-sref="root.perusopetus.vlkoppiaine({vlkId: item.$vkl.id, oppiaineId: oa.id})">
          <span ng-bind="oa.nimi | kaanna"></span>
        </a>
      </div>
      <div ng-show="oa.$selected" ng-repeat="om in oa.oppimaarat | orderBy:section.$oppiaineOrder">
        <div ng-click="section.selectOppiaine(om.id)"
          class="action-link oppiaine oppimaara {{ section.activeSection() === 'sisalto' && section.isCurrentOppiaine(om.id) && 'oppiaine-selected' }}">
          <span kaanna="om.nimi"></span>
        </div>
      </div>
    </div> -->
  </div>
</div>
