<div>
  <h1 class="peruste-otsikko" ng-bind="peruste.nimi | kaanna"></h1>

  <murupolku></murupolku>
  <div class="clearfix"></div>

  <div id="sivunavi-sisalto-wrapper" ng-class="{'sivunavi-hidden': !isNaviVisible()}">
    <div class="sivunavi-navigaatio">
      <sivunavigaatio header="navi.header" items="navi.sections[0].items"></sivunavigaatio>
    </div>

    <div class="sivunavi-clear"></div>
    <div class="sivunavi-sisalto perusopetus">
      <div class="row">
        <div class="col-md-12">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
</div>
