doctype html
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7  
//if IE 7
  html.no-js.lt-ie9.lt-ie8  
//if IE 8
  html.no-js.lt-ie9  
//if IE 9
  html.no-js.lt-ie10  
// [if !(IE)] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    |   
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |   
    title
    |   
    meta(name='description', content='')
    |   
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=yes')
    |   
    link(rel='shortcut icon', href='favicon.ico')
    // build:css(.tmp) styles/eperusteet-opintopolku.css
    link(rel='stylesheet', href='styles/eperusteet-opintopolku.css')
    // endbuild
  body(ng-app='app')
    // build:js scripts/ieshims.js
    //if lt IE 9
      script(src='bower_components/es5-shim/es5-shim.js')
      script(src='bower_components/json3/lib/json3.js')
    // endbuild
    ui-view
    spinner
    backtotop(ng-if='lokalisointiInited')
    // build:js scripts/components.js
    script(src='bower_components/jquery/dist/jquery.js')
    script(src='bower_components/lodash/lodash.js')
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-route/angular-route.js')
    script(src='bower_components/angular-ui-router/release/angular-ui-router.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    script(src='bower_components/angular-resource/angular-resource.js')
    script(src='bower_components/angular-translate/angular-translate.js')
    script(src='bower_components/angular-animate/angular-animate.js')
    script(src='bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.js')
    script(src='bower_components/angular-ui-bootstrap-bower/ui-bootstrap-tpls.js')
    script(src='bower_components/angular-elastic/elastic.js')
    script(src='bower_components/bootstrap-sass-official/assets/javascripts/bootstrap.js')
    script(src='bower_components/angular-i18n/angular-locale_fi-fi.js')
    script(src='bower_components/momentjs/moment.js')
    script(src='bower_components/momentjs/locale/fi.js')
    script(src='bower_components/momentjs/locale/sv.js')
    script(src='bower_components/angular-cache/dist/angular-cache.js')
    script(src='bower_components/spin.js/spin.js')
    script(src='bower_components/angular-spinner/angular-spinner.js')
    script(src='bower_components/angulartics/dist/angulartics.min.js')
    script(src='bower_components/angulartics-piwik/dist/angulartics-piwik.min.js')
    script(src='bower_components/ngstorage/ngStorage.js')
    script(src='bower_components/restangular/dist/restangular.js')
    // endbuild
    // build:js({.tmp,app}) scripts/scripts.js
    script(src='scripts/app.js')
    script(src='scripts/constants.js')
    script(src='scripts/config.js')
    script(src='scripts/common/services/configuration.js')
    script(src='scripts/common/services/kieli.js')
    script(src='scripts/common/services/lokalisointi.js')
    script(src='scripts/common/services/iconrole.js')
    script(src='scripts/common/services/kaanna.js')
    script(src='scripts/common/services/spinner.js')
    script(src='scripts/common/services/pagination.js')
    script(src='scripts/common/services/notifikaatiot.js')
    script(src='scripts/common/services/yleinendata.js')
    script(src='scripts/common/services/algoritmit.js')
    script(src='scripts/common/services/utils.js')
    script(src='scripts/common/services/kuvat.js')
    script(src='scripts/common/services/opsmenubuilders.js')
    script(src='scripts/common/services/lukioopsstateservice.js')
    script(src='scripts/common/services/opsutils.js')
    script(src='scripts/common/resources/koulutusalat.js')
    script(src='scripts/common/resources/opintoalat.js')
    script(src='scripts/common/resources/tiedotteet.js')
    script(src='scripts/common/filters.js')
    script(src='scripts/common/directives/highlight.js')
    script(src='scripts/common/directives/termistoviitteet.js')
    script(src='scripts/common/directives/rajaus.js')
    script(src='scripts/common/directives/murupolku.js')
    script(src='scripts/common/directives/suljevalikko.js')
    script(src='scripts/common/directives/legend.js')
    script(src='scripts/common/directives/esikatselu.js')
    script(src='scripts/common/directives/lukiotabservice.js')
    script(src='scripts/views/ops/opssivunaviutils.js')
    script(src='scripts/views/ops/ops.js')
    script(src='scripts/views/ops/yksinkertainen.js')
    script(src='scripts/views/ops/perusopetus.js')
    script(src='scripts/views/ops/yleisetperusopetusoppiaineet.js')
    script(src='scripts/views/ops/lukioopetus.js')
    script(src='scripts/views/ops/listaus.js')
    script(src='components/dynamic/dynamic.js')
    script(src='components/injector/injector.js')
    script(src='components/lokalisointi/kaanna.js')
    script(src='components/lokalisointi/kieli.js')
    script(src='components/lokalisointi/lokalisointi.js')
    script(src='components/termisto/termisto.js')
    script(src='data/api.js')
    script(src='data/kasitteet.js')
    script(src='data/tekstikappaleet.js')
    script(src='logic/algoritmit.js')
    script(src='logic/koodisto.js')
    script(src='logic/lmixins.js')
    script(src='logic/perusteet.js')
    script(src='logic/sorting.js')
    script(src='logic/suorituspolku.js')
    script(src='scripts/views/amops/state.js')
    script(src='scripts/views/amops/osa/state.js')
    script(src='scripts/views/amops/tiedot/state.js')
    script(src='scripts/peruste/resources/ylops.js')
    script(src='scripts/peruste/resources/perusteet.js')
    script(src='scripts/peruste/resources/esikatselut.js')
    script(src='scripts/peruste/resources/ops.js')
    script(src='scripts/peruste/services/tutkinnonosa.js')
    script(src='scripts/peruste/services/termisto.js')
    script(src='scripts/peruste/services/tutke2osa.js')
    script(src='scripts/peruste/services/perusteenrakenne.js')
    script(src='scripts/peruste/services/muodostumissaannot.js')
    script(src='scripts/peruste/directives/tree.js')
    script(src='scripts/peruste/directives/tavoitteet.js')
    script(src='scripts/peruste/directives/tagcloud.js')
    script(src='scripts/peruste/directives/ohje.js')
    script(src='scripts/views/etusivu.js')
    script(src='scripts/views/uutiset.js')
    script(src='scripts/views/ylanavigaatio.js')
    script(src='scripts/views/haku/haku.js')
    script(src='scripts/views/esitys/esitys.js')
    script(src='states/state.js')
    script(src='states/esiopetus/state.js')
    script(src='states/esiopetus/tiedot/state.js')
    script(src='states/esiopetus/tekstikappale/state.js')
    script(src='states/perusvalmistava/state.js')
    script(src='states/perusvalmistava/tiedot/state.js')
    script(src='states/perusvalmistava/tekstikappale/state.js')
    script(src='states/lisaopetus/state.js')
    script(src='states/lisaopetus/tiedot/state.js')
    script(src='states/lisaopetus/tekstikappale/state.js')
    script(src='states/virhe/state.js')
    script(src='states/lukio/state.js')
    script(src='states/lukio/tiedot/state.js')
    script(src='states/lukio/tekstikappale/state.js')
    script(src='states/lukio/oppiaine/state.js')
    script(src='states/lukio/oppiaine/aihekokonaisuudet/state.js')
    script(src='states/lukio/oppiaine/tavoitteet/state.js')
    script(src='states/lukio/oppiaine/kurssi/state.js')
    script(src='states/lukio/oppiaine/kurssi/aihekokonaisuudet/state.js')
    script(src='states/lukio/oppiaine/kurssi/tavoitteet/state.js')
    script(src='states/uutiset/state.js')
    script(src='states/etusivu/state.js')
    script(src='states/esitys/state.js')
    script(src='states/esitys/peruste/state.js')
    script(src='states/esitys/peruste/tiedot/state.js')
    script(src='states/esitys/peruste/rakenne/state.js')
    script(src='states/esitys/peruste/tutkinnonosat/state.js')
    script(src='states/esitys/peruste/tekstikappale/state.js')
    script(src='states/esitys/peruste/tutkinnonosa/state.js')
    script(src='states/perusopetus/state.js')
    script(src='states/perusopetus/laajaalaiset/state.js')
    script(src='states/perusopetus/tiedot/state.js')
    script(src='states/perusopetus/vuosiluokkakokonaisuus/state.js')
    script(src='states/perusopetus/tekstikappale/state.js')
    script(src='states/perusopetus/sisallot/state.js')
    script(src='states/perusopetus/vlkoppiaine/state.js')
    script(src='states/tiedote/state.js')
    script(src='states/ops/state.js')
    script(src='states/selaus/state.js')
    script(src='states/selaus/ammatillinenperuskoulutus/state.js')
    script(src='states/selaus/ammatillinenaikuiskoulutus/state.js')
    script(src='states/selaus/valmentavakoulutus/state.js')
    script(src='states/selaus/ops/state.js')
    // endbuild
    // build:js({.tmp,app}) scripts/esitys.js
    script(src='eperusteet-esitys/main.js')
    script(src='eperusteet-esitys/services/lukiosivunavigaatio.js')
    script(src='eperusteet-esitys/services/lukiostateservice.js')
    script(src='eperusteet-esitys/services/lukioutils.js')
    script(src='eperusteet-esitys/services/menubuilder.js')
    script(src='eperusteet-esitys/services/sivunavigaatio.js')
    script(src='eperusteet-esitys/services/stateservice.js')
    script(src='eperusteet-esitys/services/tekstikappaleutils.js')
    script(src='eperusteet-esitys/views/controllers/lukio.js')
    script(src='eperusteet-esitys/views/controllers/perusopetus.js')
    script(src='eperusteet-esitys/views/controllers/sisallot.js')
    script(src='eperusteet-esitys/views/controllers/yksinkertainen.js')
    // endbuild
    // Piwik
    script(type='text/javascript').
      var siteDomain = document.domain;
      if (siteDomain !== 'localhost') {
      var piwikSiteId = 2;
      if (siteDomain == 'eperusteet.opintopolku.fi') {
      piwikSiteId = 11;
      } else {
      piwikSiteId = 2;
      }
      var _paq = _paq || [];
      _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);
      (function () {
      var u = (("https:" == document.location.protocol) ? "https" : "http") + "://analytiikka.opintopolku.fi/piwik/";
      _paq.push(["setTrackerUrl", u + "piwik.php"]);
      _paq.push(["setSiteId", piwikSiteId]);
      var d = document, g = d.createElement("script"), s = d.getElementsByTagName("script")[0];
      g.type = "text/javascript";
      g.defer = true;
      g.async = true;
      g.src = u + "piwik.js";
      s.parentNode.insertBefore(g, s);
      })();
      }
    // End Piwik Code
