include ../../../../misc/mixins.pug


div(ng-if="isAmmatillinen")
  +murupolku(
    [ '"etusivu.ammatilliset"', 'root.selaus.koostenakyma({ perusteluokitus: "ammatillinenkoulutus", hakutyyppi: "perusteet" })' ],
    [ 'peruste.nimi', '' ])
div(ng-if="!isAmmatillinen" style="margin-top: 16px;")


.perusteinfo
  .row
    .col-md-7
      .perustelaatikko
        .otsikko
          span(ng-bind="peruste.nimi | kaanna")
          =" "
          span ({{ peruste.diaarinumero }})
        .tiivistelmalaatikko
          span(ng-bind-html="peruste.kuvaus | kaanna")
          .tutkintonimikkeet(ng-show="tutkintonimikkeet.length > 0")
            span.nimi(ng-bind="'tutkintonimikkeet' | kaanna")
            =": "
            span(ng-repeat="tutkintonimike in tutkintonimikkeet")
              span(ng-bind="tutkintonimike | kaanna")
              span(ng-hide="$last" ng-bind="', '")
          .osaamisalat(ng-show="peruste.osaamisalat.length > 0")
            p
              span.nimi(ng-bind="'osaamisalat' | kaanna")
              =": "
              span(ng-repeat="osaamisala in peruste.osaamisalat")
                span(ng-bind="osaamisala.nimi | kaanna")
                span(ng-hide="$last" ng-bind="', '")
        .peruste-linkki.clearfix
          img(src="images/sm/ikoni-eperusteet.png")
          h4(ng-bind="peruste.nimi | kaanna")
          a.btn.btn-info(ng-href="{{ perusteUrl }}" ng-bind="'avaa' | kaanna")
    .col-md-5
      .infolaatikko.uutislaatikko
        .otsikko
          span(ng-bind="'perusteen-tiedotteet' | kaanna")
        .uutislista
          .uutinen(ng-repeat="tiedote in perusteenTiedotteet | limitTo:tiedoteMaara")
            a.uutinen-nimi(ui-sref="root.tiedote({ tiedoteId: tiedote.id })" ng-bind="tiedote.otsikko | kaanna")
            .uutinen-paivamaara(ng-bind="tiedote.luotu | aikaleima")
          .nayta-kaikki-uutiset(ng-show="perusteenTiedotteet.length > 5")
            a(href="" ng-bind="'nayta-kaikki-uutiset' | kaanna" ng-click="toggleTiedoteMaara()")
          span(ng-show="perusteenTiedotteet.length == 0" kaanna="'ei-tiedotteita'")

  div(ui-view="paikalliset")
