include ../../../../misc/mixins.pug


div(ng-if="isAmmatillinen")
  +murupolku(
    [ '"etusivu.ammatilliset"', 'root.selaus.koostenakyma({ perusteluokitus: "ammatillinenkoulutus", hakutyyppi: "perusteet" })' ],
    [ 'peruste.nimi', '' ])
div(ng-if="!isAmmatillinen" style="margin-top: 16px;")


.perusteinfo
  .row
    .col-md-7
      .perustelaatikko
        .otsikko
          span(ng-bind="peruste.nimi | kaanna")
          span(ng-if="peruste.diaarinumero")
            =" "
            span ({{ peruste.diaarinumero }})
        .tiivistelmalaatikko(ng-if="!isAmmatillinen")
          span(ng-bind-html="peruste.kuvaus | kaanna")
        .tiivistelmalaatikko(ng-if="isAmmatillinen")
          h3(kaanna="'suorittaneen-osaaminen'" style="margin-top: 0px")
          termisto-tekstikentta(tekstikentta='peruste.kvliite.suorittaneenOsaaminen')
          h3(kaanna="'tyotehtavat-joissa-voi-toimia'")
          termisto-tekstikentta(tekstikentta='peruste.kvliite.tyotehtavatJoissaVoiToimia')

          h3(ng-show="osaamisalakuvaukset.length > 0", kaanna="'osaamisalojen-kuvaukset'")
          uib-accordion(ng-repeat="oak in osaamisalakuvaukset")
            .peruste-acc-group(uib-accordion-group, is-open='status.open')
              uib-accordion-heading
                i.pull-left.glyphicon(ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}")
                h4(kaanna="oaks.osaamisala ? oak.osaamisala.nimi : oak.nimi")
              termisto-tekstikentta(tekstikentta='oak.teksti')

          .tutkintonimikkeet(ng-show="tutkintonimikkeet.length > 0")
            strong.nimi(ng-bind="'tutkintonimikkeet' | kaanna")
            =": "
            div.bubble-holder
              span.nimike-bubble(ng-repeat="tutkintonimike in tutkintonimikkeet")
                span(ng-bind="tutkintonimike | kaanna")

          .osaamisalat(ng-show="peruste.osaamisalat.length > 0")
            strong.nimi(ng-bind="'osaamisalat' | kaanna")
            =": "
            div
              span.nimike-bubble(ng-repeat="osaamisala in peruste.osaamisalat")
                span(ng-bind="osaamisala.nimi || osaamisala.arvo || osaamisala.uri.split('_')[1] | kaanna")

        .peruste-linkki.clearfix
          img(src="images/sm/ikoni-eperusteet.png")
          h4(ng-bind="peruste.nimi | kaanna")
          a.btn.btn-info(ng-href="{{ perusteUrl }}" ng-bind="'avaa' | kaanna")
    .col-md-5
      .infolaatikko.uutislaatikko
        .otsikko
          span(ng-bind="'perusteen-tiedotteet' | kaanna")
        .uutislista
          .uutinen(ng-repeat="tiedote in perusteenTiedotteet | limitTo:tiedoteMaara")
            a.uutinen-nimi(ui-sref="root.tiedote({ tiedoteId: tiedote.id })" ng-bind="tiedote.otsikko | kaanna")
            .uutinen-paivamaara(ng-bind="tiedote.luotu | aikaleima")
          .nayta-kaikki-uutiset(ng-show="perusteenTiedotteet.length > 5")
            a(href="" ng-bind="'nayta-kaikki-uutiset' | kaanna" ng-click="toggleTiedoteMaara()")
          span(ng-show="perusteenTiedotteet.length == 0" kaanna="'ei-tiedotteita'")

  div(ui-view="paikalliset")
