<div class="amops">
  <h1 class="peruste-otsikko" ng-bind-html="ops.nimi | kaanna | unsafe"></h1>

  <div ng-if="ops.tila !== 'valmis'" class="alert alert-info">
    <h4 kaanna="'amops-esikatselu'"></h4>
    <p kaanna="'laadinnan-esikatselu-info'"></p>
  </div>

  <murupolku></murupolku>

  <div class="nakyma">
    <div class="sivunavi">
      <ul>
        <li>Tiedot</li>
        <dynamic template="views/amops/sivunaviitem.html"
                 ng-model="sivunavi.lapset"
                 misc="misc">
        </dynamic>
      </ul>
    </div>

    <div class="sisalto">
      <div class="row">
        <div class="col-md-12">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
</div>
