<li ng-show="!item.$$hidden" ng-repeat="item in ngModel" id="{{ 'sisalto-item-' + item.id }}">
  <span>
    <a ui-sref-active="active"
       ui-sref="root.amops.tekstikappale({ tekstikappaleId: item.id })"
       ng-class="{ pakollinen: item.$$obj.pakollinen, liikkumaton: item.$$obj.liikkumaton }"
       href="">
      <span ng-show="item.lapset.length > 0 && !misc.isSearching"
            ng-click="misc.toggleItem($event, item)"
            class="multi-item">
      </span>
      <span ng-bind="(item.$$obj.tekstiKappale.nimi || 'nimeton-tekstikappale') | kaanna"></span>
    </a>
  </span>
  <div ng-hide="item.$$closed && !misc.isSearching">
    <dynamic template="views/amops/sivunaviitem.html" ng-model="item.lapset" misc="misc"></dynamic>
  </div>
</li>
