<li ng-show="!item.$$hidden" ng-repeat="item in ngModel" id="{{ 'sisalto-item-' + item.id }}">

  <a ui-sref="root.amops.osa({ osaId: item.id })" ui-sref-active="active">

    <span class="chevron" ng-show="item.lapset.length > 0 && !misc.isSearching" ng-click="misc.toggleItem($event, item)">
      <span ng-if="item.$$closed">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </span>
      <span ng-if="!item.$$closed">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </span>
    </span>

    <span ng-bind="(item.$$obj.tekstiKappale.nimi || 'nimeton-tekstikappale') | kaanna">
    </span>
  </a>

  <ul ng-hide="item.$$closed && !misc.isSearching || item.lapset.length === 0">
    <dynamic template="views/amops/sivunaviitem.html"
             ng-model="item.lapset"
             misc="misc">
    </dynamic>
  </ul>

</li>
