include ../../../misc/mixins.jade

div.pull-left.haku
  div.form-inline
    div.form-group.has-feedback.has-feedback-left
      input.form-control.input-sm(ng-change="suodata(search)" type="text" ng-model="search" placeholder="{{ 'hae' | kaanna }}")
      i.form-control-feedback.glyphicon.glyphicon-search(style="color: gray;")

div.pull-right
  button.btn.input-sm.btn-default(style="margin-left: 6px;"
                                  ng-click="toggleAll()"
                                  ng-bind="(collapsed_dirty ? 'sulje-kaikki' : 'avaa-kaikki') | kaanna")

div.suorituspolku
  div.sp-ryhma-lapset(ng-repeat="osa in perusteRakenne.osat")
    dynamic(template="views/amops/osa/polunrakenne.html" misc="misc" ng-model="osa" depth="depth + 1")
