include ../../../misc/mixins.pug

.suorituspolku-laajuus(ng-show="osa.suorituspolku.osasuorituspolku && osa.suorituspolku.osasuorituspolkuLaajuus")
  +contentToggler("osa.suorituspolku.$$naytaLaajuus", "'osasuorituspolku-laajuus'")
    span(ng-bind="osa.suorituspolku.osasuorituspolkuLaajuus")
    span(style='margin-left: 2px', ng-show='misc.suoritustapa.laajuusYksikko', ng-bind='misc.suoritustapa.laajuusYksikko | kaanna')

.suorituspolku-valinnat
  .pull-left.haku
    .form-inline
      .form-group.has-feedback.has-feedback-left
        input.form-control.input-sm(ng-change='suodata(search)', type='text', ng-model='search', placeholder="{{ 'hae' | kaanna }}")
        i.form-control-feedback.glyphicon.glyphicon-search(style='color: gray;')
  .pull-right
    button.btn.input-sm.btn-default(style='margin-left: 6px;', ng-click='toggleAll()', ng-bind="(collapsed_dirty ? 'sulje-kaikki' : 'avaa-kaikki') | kaanna")

.suorituspolku
  .sp-ryhma-lapset(ng-repeat='osa in perusteRakenne.osat')
    dynamic(template='views/amops/osa/polunrakenne.html', misc='misc', ng-model='osa', depth='depth + 1')
