.tutkinnonosa
  div(style='margin-bottom: 20px;')
    span.toggler(ng-click='$$showToteutus = !$$showToteutus')
      span.bubble(ng-class="{ 'active': $$showToteutus }", kaanna="'toteutus'")
      span.bubble(ng-class="{ 'active': !$$showToteutus }", kaanna="'sisalto'")
  .clearfix
  div(ng-if='$$showToteutus')
    .toteutukset
      div
        div(ng-if="pTosa && pTosa.tyyppi === 'tutke2'")
          .content-toggler(style='margin-top: 16px')
            .content-toggler-header(ng-click='$$showOsaamisenOsoittaminen = !$$showOsaamisenOsoittaminen')
              span.ct-otsikko
                span.turbochevron
                  span(ng-if='$$showOsaamisenOsoittaminen')
                    span.glyphicon.glyphicon-chevron-right
                  span(ng-if='!$$showOsaamisenOsoittaminen')
                    span.glyphicon.glyphicon-chevron-down
                label(kaanna="'osaamisen-osoittaminen'")
            div(ng-if='!$$showOsaamisenOsoittaminen')
              p(termisto-viitteet='osa.tosa.osaamisenOsoittaminen', ng-bind-html='osa.tosa.osaamisenOsoittaminen| kaanna | kuvalinkit | unsafe')
        div(ng-hide='osa.tosa.toteutukset.length > 0')
          .alert.alert-info
            span(ng-bind="'tutkinnon-osalle-ei-maaritelty-paikallisia-toteutuksia' | kaanna")
        .toteutus-esitys(ng-repeat='toteutus in osa.tosa.toteutukset')
          div
            .otsikko(ng-click='toteutus.$$nayta = !toteutus.$$nayta')
              span.turbochevron
                span(ng-if='!toteutus.$$nayta')
                  span.glyphicon.glyphicon-chevron-right
                span(ng-if='!!toteutus.$$nayta')
                  span.glyphicon.glyphicon-chevron-down
              span(termisto-viitteet='toteutus.otsikko', ng-bind-html='toteutus.otsikko| kaanna | unsafe')
            .sisalto(ng-if='toteutus.$$nayta')
              div(ng-show='toteutus.koodit.length > 0')
                .content-toggler(style='margin-top: 16px')
                  .content-toggler-header(ng-click='$$showKoodit = !$$showKoodit')
                    span.ct-otsikko
                      span.turbochevron
                        span(ng-if='$$showKoodit')
                          span.glyphicon.glyphicon-chevron-right
                        span(ng-if='!$$showKoodit')
                          span.glyphicon.glyphicon-chevron-down
                      label(kaanna="'liitetyt-koodit'")
                  div(ng-if='!$$showKoodit')
                    table.table.table-striped
                      thead
                        tr
                          th(ng-bind="'koodi' | kaanna")
                          th(ng-bind="'nimi' | kaanna")
                      tbody
                        tr(ng-repeat='koodi in toteutus.koodit')
                          td(ng-if='koodistoTiedot[koodi]', ng-bind='koodistoTiedot[koodi].arvo')
                          td(ng-if='koodistoTiedot[koodi]', ng-bind='koodistoTiedot[koodi].nimi | kaanna')
              .content-toggler(style='margin-top: 16px')
                .content-toggler-header(ng-click='$$showTavatjaymparisto = !$$showTavatjaymparisto')
                  span.ct-otsikko
                    span.turbochevron
                      span(ng-if='$$showTavatjaymparisto')
                        span.glyphicon.glyphicon-chevron-right
                      span(ng-if='!$$showTavatjaymparisto')
                        span.glyphicon.glyphicon-chevron-down
                    label(kaanna="'tavat-ja-ymparisto'")
                div(ng-if='!$$showTavatjaymparisto')
                  p(termisto-viitteet='toteutus.tavatjaymparisto.teksti', ng-bind-html='toteutus.tavatjaymparisto.teksti| kaanna | kuvalinkit | unsafe')
              .content-toggler(style='margin-top: 16px')
                .content-toggler-header(ng-click='$$showArvioinnista = !$$showArvioinnista')
                  span.ct-otsikko
                    span.turbochevron
                      span(ng-if='$$showArvioinnista')
                        span.glyphicon.glyphicon-chevron-right
                      span(ng-if='!$$showArvioinnista')
                        span.glyphicon.glyphicon-chevron-down
                    label(kaanna="'osaamisen-arvioinnista'")
                div(ng-if='!$$showArvioinnista')
                  p(termisto-viitteet='toteutus.arvioinnista.teksti', ng-bind-html='toteutus.arvioinnista.teksti| kaanna | kuvalinkit | unsafe')
  div(ng-if='!$$showToteutus')
    div(ng-if='pTosa')
      .row(style='margin-bottom: 8px')
        .col-xs-2
          span(kaanna="'koodi'")
        .col-xs-10
          b(ng-bind='pTosa.koodiArvo')
      .row(style='margin-bottom: 8px')
        .col-xs-2
          span(kaanna="'luotu'")
        .col-xs-10
          span(ng-bind='pTosa.luotu | aikaleima')
      .row(style='margin-bottom: 8px')
        .col-xs-2
          span(kaanna="'viimeksi-muokattu'")
        .col-xs-10
          span(ng-bind='pTosa.muokattu | aikaleima')
      p(termisto-viitteet='pTosa.kuvaus', ng-bind-html='pTosa.kuvaus| kaanna | kuvalinkit | unsafe')
      div(ng-if="pTosa.tyyppi === 'tutke2'")
        .tutke2osa
          .valitsin
            span(ng-bind="'osa-alueet' | kaanna")
            span(style='margin-right: 5px') :
            span.valitsin-osaalue(ng-repeat='osaAlue in pTosa.osaAlueet')
              span.pipe(ng-hide='$first') |
              a(href='', ng-bind='osaAlue.nimi | kaanna', ng-click="gotoAnchor('osa-alue-' + osaAlue.id)")
          .osa-alue(ng-repeat='osaAlue in pTosa.osaAlueet')
            h1.osa-alue-nimi(id="{{ 'osa-alue-' + osaAlue.id }}")
              span(ng-bind='osaAlue.nimi | kaanna')
              span.koodi ({{ osaAlue.koodiArvo }})
            .osaamistavoite(ng-repeat='osaamistavoite in osaAlue.osaamistavoitteet')
              h2.osaamistavoite-nimi(ng-bind='osaamistavoite.nimi | kaanna')
              .content-toggler(style='margin-top: 16px')
                .content-toggler-header(ng-click='$$showOsaamistavoitteet = !$$showOsaamistavoitteet')
                  span.ct-otsikko
                    span.turbochevron
                      span(ng-if='$$showOsaamistavoitteet')
                        span.glyphicon.glyphicon-chevron-right
                      span(ng-if='!$$showOsaamistavoitteet')
                        span.glyphicon.glyphicon-chevron-down
                    label(kaanna="'osaamistavoitteet'")
                div(ng-if='!$$showOsaamistavoitteet')
                  p(termisto-viitteet='osaamistavoite.tavoitteet', ng-bind-html='osaamistavoite.tavoitteet| kaanna | kuvalinkit | unsafe')
              div(ng-repeat='arvioinninKohdealue in osaamistavoite.arviointi.arvioinninKohdealueet')
                .box-panel
                  .box-panel-title
                    h3(ng-if="arvioinninKohdealue.otsikko.fi !== 'automaattinen'")
                      span(ng-if='arvioinninKohdealue.otsikko', ng-bind='arvioinninKohdealue.otsikko | kaanna')
                  .box-panel-content
                    .arviointi-kohteet
                      div(ng-repeat='arviointiKohde in arvioinninKohdealue.arvioinninKohteet')
                        .arviointi-kohde(ng-if='pa.arviointiasteikko(arviointiKohde) > 0')
                          h4
                            span(ng-if='arviointiKohde.otsikko', ng-bind='arviointiKohde.otsikko | kaanna')
                          p
                            span(ng-if='arviointiKohde.selite', ng-bind='arviointiKohde.selite | kaanna')
                          .table-responsive
                            table.table.table-striped.table-condensed
                              tbody
                                tr(ng-repeat="(index, osaamistaso) in arviointiAsteikot[pa.arviointiasteikko(arviointiKohde) - 1].osaamistasot | orderBy:'-id'")
                                  td(ng-bind='osaamistaso.otsikko | kaanna')
                                  td
                                    ul
                                      li(ng-bind='kriteeri | kaanna', ng-repeat="kriteeri in (arviointiKohde.osaamistasonKriteerit | orderBy:'-_osaamistaso')[index].kriteerit")
              p(termisto-viitteet='osaamistavoite.tunnustaminen', ng-bind-html='osaamistavoite.tunnustaminen| kaanna | kuvalinkit | unsafe')
      div(ng-if="pTosa.tyyppi !== 'tutke2'")
        .content-toggler(style='margin-top: 16px')
          .content-toggler-header(ng-click='pTosa.$$showAmVaatimukset = !pTosa.$$showAmVaatimukset')
            span.ct-otsikko
              span.turbochevron
                span(ng-if='pTosa.$$showAmVaatimukset')
                  span.glyphicon.glyphicon-chevron-right
                span(ng-if='!pTosa.$$showAmVaatimukset')
                  span.glyphicon.glyphicon-chevron-down
              label(kaanna="'ammattitaitovaatimukset'")
          div(ng-if='!pTosa.$$showAmVaatimukset')
            p(termisto-viitteet='pTosa.ammattitaitovaatimukset', ng-bind-html='pTosa.ammattitaitovaatimukset| kaanna | kuvalinkit | unsafe')
        .content-toggler(style='margin-top: 16px')
          .content-toggler-header(ng-click='$$showArviointi = !$$showArviointi')
            span.ct-otsikko
              span.turbochevron
                span(ng-if='$$showArviointi')
                  span.glyphicon.glyphicon-chevron-right
                span(ng-if='!$$showArviointi')
                  span.glyphicon.glyphicon-chevron-down
              label(kaanna="'arviointi'")
          div(ng-if='!$$showArviointi')
            .arviointi-kohdealueet
              div(ng-repeat='arvioinninKohdealue in pTosa.arviointi.arvioinninKohdealueet')
                .box-panel
                  .box-panel-title
                    h3(ng-if="arvioinninKohdealue.otsikko.fi !== 'automaattinen'")
                      span(ng-if='arvioinninKohdealue.otsikko', ng-bind='arvioinninKohdealue.otsikko | kaanna')
                  .box-panel-content
                    .arviointi-kohteet
                      div(ng-repeat='arviointiKohde in arvioinninKohdealue.arvioinninKohteet')
                        .arviointi-kohde(ng-if='pa.arviointiasteikko(arviointiKohde) > 0')
                          h4
                            span(ng-if='arviointiKohde.otsikko', ng-bind='arviointiKohde.otsikko | kaanna')
                          p
                            span(ng-if='arviointiKohde.selite', ng-bind='arviointiKohde.selite | kaanna')
                          .table-responsive
                            table.table.table-striped.table-condensed
                              tbody
                                tr(ng-repeat="(index, osaamistaso) in arviointiAsteikot[pa.arviointiasteikko(arviointiKohde) - 1].osaamistasot | orderBy:'-id'")
                                  td(ng-bind='osaamistaso.otsikko | kaanna')
                                  td
                                    ul
                                      li(ng-bind='kriteeri | kaanna', ng-repeat="kriteeri in (arviointiKohde.osaamistasonKriteerit | orderBy:'-_osaamistaso')[index].kriteerit")
        .content-toggler(style='margin-top: 16px')
          .content-toggler-header(ng-click='pTosa.$$showAmOsoittamiset = !pTosa.$$showAmOsoittamiset')
            span.ct-otsikko
              span.turbochevron
                span(ng-if='pTosa.$$showAmOsoittamiset')
                  span.glyphicon.glyphicon-chevron-right
                span(ng-if='!pTosa.$$showAmOsoittamiset')
                  span.glyphicon.glyphicon-chevron-down
              label(kaanna="'ammattitaidon-osoittamistavat'")
          div(ng-if='!pTosa.$$showAmOsoittamiset')
            p(termisto-viitteet='pTosa.ammattitaidonOsoittamistavat', ng-bind-html='pTosa.ammattitaidonOsoittamistavat| kaanna | kuvalinkit | unsafe')
    div(ng-if='!pTosa')
      div
        .content-toggler(style='margin-top: 16px')
          .content-toggler-header(ng-click='$$showTavoitteet = !$$showTavoitteet')
            span.ct-otsikko
              span.turbochevron
                span(ng-if='$$showTavoitteet')
                  span.glyphicon.glyphicon-chevron-right
                span(ng-if='!$$showTavoitteet')
                  span.glyphicon.glyphicon-chevron-down
              label(kaanna="'tavoitteet'")
          div(ng-if='!$$showTavoitteet')
            p(termisto-viitteet='osa.tosa.omatutkinnonosa.tavoitteet', ng-bind-html='osa.tosa.omatutkinnonosa.tavoitteet| kaanna | kuvalinkit | unsafe')
        .content-toggler(style='margin-top: 16px')
          .content-toggler-header(ng-click='$$showAmmattitaitovaatimukset = !$$showAmmattitaitovaatimukset')
            span.ct-otsikko
              span.turbochevron
                span(ng-if='$$showAmmattitaitovaatimukset')
                  span.glyphicon.glyphicon-chevron-right
                span(ng-if='!$$showAmmattitaitovaatimukset')
                  span.glyphicon.glyphicon-chevron-down
              label(kaanna="'ammattitaitovaatimukset'")
          div(ng-if='!$$showAmmattitaitovaatimukset')
            .ammattitaitovaatimukset
              div(ng-repeat='ammattitaitovaatimus in osa.tosa.omatutkinnonosa.ammattitaitovaatimuksetLista')
                .box-panel
                  //
                    .box-panel-titleh3
                    span(ng-if="ammattitaitovaatimus.otsikko" ng-bind="ammattitaitovaatimus.otsikko | kaanna")
                  .box-panel-content
                    .vaatimuksen-kohteet
                      div(ng-repeat='vaatimuksenKohde in ammattitaitovaatimus.vaatimuksenKohteet')
                        .vaatimuksen-kohde
                          h4
                            span(ng-if='vaatimuksenKohde.otsikko', ng-bind='vaatimuksenKohde.otsikko | kaanna')
                          p
                            span(ng-if='vaatimuksenKohde.selite', ng-bind='vaatimuksenKohde.selite | kaanna')
                          div
                            ul
                              li(ng-repeat='vaatimus in vaatimuksenKohde.vaatimukset')
                                span(ng-bind='vaatimus.selite | kaanna')
                                span  ({{ vaatimus.ammattitaitovaatimusKoodi }})
        .content-toggler(style='margin-top: 16px')
          .content-toggler-header(ng-click='$$showArviointi = !$$showArviointi')
            span.ct-otsikko
              span.turbochevron
                span(ng-if='$$showArviointi')
                  span.glyphicon.glyphicon-chevron-right
                span(ng-if='!$$showArviointi')
                  span.glyphicon.glyphicon-chevron-down
              label(kaanna="'arviointi'")
          div(ng-if='!$$showArviointi')
            .arviointi-kohdealueet
              div(ng-repeat='arvioinninKohdealue in osa.tosa.omatutkinnonosa.arviointi.arvioinninKohdealueet')
                .box-panel
                  .box-panel-title
                    h3(ng-if="arvioinninKohdealue.otsikko.fi !== 'automaattinen'")
                      span(ng-if='arvioinninKohdealue.otsikko', ng-bind='arvioinninKohdealue.otsikko | kaanna')
                  .box-panel-content
                    .arviointi-kohteet
                      div(ng-repeat='arviointiKohde in arvioinninKohdealue.arvioinninKohteet')
                        .arviointi-kohde(ng-if='pa.arviointiasteikko(arviointiKohde) > 0')
                          h4
                            span(ng-if='arviointiKohde.otsikko', ng-bind='arviointiKohde.otsikko | kaanna')
                          p
                            span(ng-if='arviointiKohde.selite', ng-bind='arviointiKohde.selite | kaanna')
                          .table-responsive
                            table.table.table-striped.table-condensed
                              tbody
                                tr(ng-repeat="(index, osaamistaso) in arviointiAsteikot[pa.arviointiasteikko(arviointiKohde) - 1].osaamistasot | orderBy:'-id'")
                                  td(ng-bind='osaamistaso.otsikko | kaanna')
                                  td
                                    ul
                                      li(ng-bind='kriteeri | kaanna', ng-repeat="kriteeri in (arviointiKohde.osaamistasonKriteerit | orderBy:'-_osaamistaso')[index].kriteerit")
        .content-toggler(style='margin-top: 16px')
          .content-toggler-header(ng-click='$$showAmmattitaidonOsoittamistavat = !$$showAmmattitaidonOsoittamistavat')
            span.ct-otsikko
              span.turbochevron
                span(ng-if='$$showAmmattitaidonOsoittamistavat')
                  span.glyphicon.glyphicon-chevron-right
                span(ng-if='!$$showAmmattitaidonOsoittamistavat')
                  span.glyphicon.glyphicon-chevron-down
              label(kaanna="'ammattitaidon-osoittamistavat'")
          div(ng-if='!$$showAmmattitaidonOsoittamistavat')
            p(termisto-viitteet='osa.tosa.omatutkinnonosa.ammattitaidonOsoittamistavat', ng-bind-html='osa.tosa.omatutkinnonosa.ammattitaidonOsoittamistavat| kaanna | kuvalinkit | unsafe')
