<div class="osa">
  <h1 esitys-sivu-otsikko="osa.tekstiKappale.nimi">
    <span ng-bind-html="osa.tekstiKappale.nimi | kaanna | unsafe"></span>
    <span ng-hide="!osa.tosa.omatutkinnonosa.koodi">({{ osa.tosa.omatutkinnonosa.koodi }})</span>
  </h1>

  <amosaa-termisto-teksti teksti="osa.tekstiKappale.teksti" kt="ktId"></amosaa-termisto-teksti>

  <div ng-if="osa.tyyppi === 'suorituspolku'" ui-view="suorituspolku"></div>
  <div ng-if="osa.tyyppi === 'tutkinnonosa'" ui-view="tutkinnonosa"></div>
</div>
