h1(esitys-sivu-otsikko='tekstikappale[taiteenalaOsa].nimi')
  span(ng-bind='tekstikappale[taiteenalaOsa].nimi || taiteenalaOsa | kaanna')
termisto-tekstikentta(tekstikentta='tekstikappale[taiteenalaOsa].teksti')
