
<div>
  <!-- tree.html -->
  <div ng-if="!lisataanUuttaOsaa" class="tree">
    <div ng-show="!muokkaus && !vanhempi && naytaKuvaus()">
      <div ng-bind-html="rakenne.rakenne.kuvaus | kaanna | unsafe"></div>
    </div>
    <div class="tree-con" ng-show="muokkaus || rakenne.rakenne.osat.length > 0">
      <rajaus size="small" classes="puun-rajaus" model="apumuuttujat.haku" placeholder="{{ 'etsi-rakenteesta' || kaanna }}"></rajaus>
      <div ng-show="rakenne.$resolved && rakenne.rakenne.osat.length === 0" class="tree-con-empty">
        <div ng-show="esitys" class="empty-bubble distance" kaanna>rakennetta-ei-ole</div>
      </div>
      <div class="table-responsive">
        <tree id="editointiPuuJuuri" apumuuttujat="apumuuttujat" muokkaus="muokkaus" ng-if="rakenne.$resolved"
              rakenne="rakenne.rakenne" tutkinnon-osa-viitteet="rakenne.tutkinnonOsaViitteet"
              uusi-tutkinnon-osa="uusiTutkinnonOsa" callbacks="callbacks"></tree>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
</div>
