html
  body
    div
      // tree.html
      .tree(ng-if='!lisataanUuttaOsaa')
        div(ng-show='!muokkaus && !vanhempi && naytaKuvaus()')
          div(ng-bind-html='rakenne.rakenne.kuvaus | kaanna | unsafe')
        |     
        .tree-con(ng-show='muokkaus || rakenne.rakenne.osat.length > 0')
          rajaus(size='small', classes='puun-rajaus', model='apumuuttujat.haku', placeholder="{{ 'etsi-rakenteesta' || kaanna }}")
          |       
          .tree-con-empty(ng-show='rakenne.$resolved && rakenne.rakenne.osat.length === 0')
            .empty-bubble.distance(ng-show='esitys', kaanna='') rakennetta-ei-ole
          |       
          .table-responsive
            tree#editointiPuuJuuri(apumuuttujat='apumuuttujat', muokkaus='muokkaus', ng-if='rakenne.$resolved', rakenne='rakenne.rakenne', tutkinnon-osa-viitteet='rakenne.tutkinnonOsaViitteet', uusi-tutkinnon-osa='uusiTutkinnonOsa', callbacks='callbacks')
      |   
      .clearfix
