.aikajana {
    padding-top: 10px;

    .haku {
        padding: 10px;
        background: #fefefe;
        border: 1px solid #eee;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 20px;

        .actions {
            margin-top: 6px;
        }
    }
}
