$peruste-color: lighten(#a38566, 40%);
$ops-header-background: rgba(20, 158, 203, 0.06);

.teksti-linkki {
  margin-left: 5px;
  font-size: 14px;
}

.esitys-peruste {
  padding: 4px;
  background-color: $peruste-color;
}

.esitys-paikallinen {
  margin-top: 15px;
  margin-bottom: 15px;
}

.esikatselu {
  .navigaatio-takaisin {
    margin-bottom: 20px;
  }
  h2 {
    margin-top: 30px;
  }
  .esikatselu-sisalto {
    h1 {
      margin-top: 0;
    }
    .tavoite {
      border: 1px solid #ccc;
      margin-bottom: 20px;
      .peruste-body {
        .listat {
          padding-left: 0;
          .lista:first-child {
            padding-left: 0;
          }
        }
        border: none;
        .kriteerit {
          background-color: white;
        }
      }
      .tavoite-otsikko {
        padding-left: 10px;
        padding-right: 10px;
      }
      .esitys-paikallinen {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

.esikatselu-menu {
  .list-group-item {
    border-radius: 0;
  }
  .menu-header {
    background-color: $ops-header-background;
    h1, h2 {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
    }
    .glyphicon {
      font-size: 16px;
    }
  }
  .list-group-item.collapsed {
    border-bottom: none;
    border-top: none;
  }
  .list-group-item.collapse {
    overflow-y: hidden;
    min-height: 0;
    &:not(.in) {
      padding: 0;
      margin-bottom: -2px;
    }
  }
  .ek-menu {
    font-size: 14px;
    li.vuosiluokka-item a {
      font-weight: 700;
    }
    li a {
      margin-bottom: 3px;
      padding: 4px;
      display: inline-block;
    }
    .header a {
      background-color: desaturate(lighten($brand-primary, 65%), 30%);
    }
    .active a {
      &:focus {
        text-decoration: none;
      }
      background-color: $brand-primary;
      color: white;
      font-weight: 700;
    }
  }
  .navi-tabs-outer {
    padding: 0;
  }
  .navi-tabs {
    list-style-type: none;
    padding: 0;
    font-size: 0;
    margin: 0;
    li {
      text-align: center;
      display: inline-block;
      width: 50%;
      a {
        width: 100%;
        display: inline-block;
        font-size: 14px;
        padding: 15px 0px;
      }
      &.active {
        background-color: $brand-primary;
        a {
          color: white;
          font-weight: 700;
        }
      }
    }
  }
  h1 {
    margin-top: 0;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }
  .esitys-menu-oppimaara {
    padding-left: 20px;
    list-style-type: none;
  }
}

.vuosiluokka-valinta {
  width: 100%;
  text-align: right;
  ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    li {
      margin-left: 5px;
      display: inline-block;
      background-color: #eee;
      a {
        display: inline-block;
        padding: 10px 15px;
      }
      &.active {
        background-color: $brand-primary;
        a {
          font-weight: 700;
          color: white;
        }
      }
    }
  }
}

.vuosiluokkailmoitus {
  margin-top: 50px;
}

h5 {
  .otsikko-wrap {
    font-weight: 700;
  }
}

.vuosiluokka-otsikko {
  margin-top: 40px !important;
  margin-bottom: 10px;
  padding: 7px;
  background-color: $ops-header-background;
}

.vlk-otsikko {
  margin-top: 30px !important;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.palata-btn {
  margin-top: 6px;
}

.tavoitteet-arviointi {
  margin: 5px;
  margin-top: 20px;
  padding-bottom: 0;

  table {
    padding-bottom: 0;
    margin-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    tr.peruste-arviointi-text {
      background-color: $peruste-color;
    }
  }

  .arviointi-otsikko {
    background: lightgrey;
    color: #fff;
    padding: 5px;
  }
  .arviointi-sisalto {
    padding: 10px;
    padding-bottom: 0;
    h4 {
      font-weight: bold;
    }
  }
  .arviointi-okriteeri {
    width: 15%;
    vertical-align: middle;
    &.yksiportainen {
      width: 0 !important;
      overflow: hidden;
      padding: 0;
    }
  }
}
