.sisalto-box {
  background-color: white;
  border: 1px solid $brand-border-color;
  padding: 20px;
  margin-bottom: 20px;
  &.topmost {
    margin-top: 40px;
  }
  & > h1:first-child {
    margin-top: 0;
  }
}

$paaotsikko-logo-size: 96px;

.etusivu {
  margin-top: 40px;
  h1, h2 {
    margin-top: 0;
  }
  .paaotsikko {
    background-image: url("../images/ikoni_peruste_blue_96.png");
    background-repeat: no-repeat;
    background-position: 20px 20px;
    padding-left: $paaotsikko-logo-size + 40px;
    img {
      margin-left: 15px;
      float: right;
    }
  }
}

@media (max-width: 850px) {
  .etusivu {
    .paaotsikko {
      img {
        display: none;
      }
    }
  }
}

.uusimmat {
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 10px;
  line-height: 2em;
}

.am-linkit {
  margin-left: -20px;
  margin-right: -20px;
  padding-top: 20px;
  border-top: 1px solid $content-bg-color;
  ul {
    list-style-type: none;
    padding-left: 20px;
    line-height: 2.5em;
    li a {
      font-size: 120%;
    }
  }
}

.link-prepend {
  font-size: 120%;
  margin-right: 10px;
}

.tiedotteet-list {
  list-style-type: none;
  padding-left: 0;
}
