.haku-th-nimi {
  width: 50%;
}

.haku-th-koulutusala {
  width: 30%;
}

.ops-hakutulokset-otsikko {
  cursor: pointer;
  &:hover, &:focus, &:active, &:visited {
    text-decoration: none;
  }
  span:hover, span:focus, span:active, span:visited {
    text-decoration: none;
  }
}

.ops-hakutulokset {
  .ops-td-nimi { width: 20%; }
  .ops-td-oppilaitos { width: 15%; }
  .ops-td-organisaatio { width: 15%; }
  .ops-td-paikkakunta { width: 15%; }

  span {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
  }
}
