$laatikko-padding: 12px;
$laatikko-margin: 6px;
$light-color: #149ECB;
$jaettu-color: #99D840;
$ops-color: #149FCB;
$mid-color: #53989E;
$heavy-color: #06526b;
$dark-color: #555;
$border-color: #E6E7E8;


.koulutustoimija {
    margin-top: 0px;

    .opslaatikko {
        margin-top: 4px;
        background-color: #fff;
        border: 1px solid $border-color;

        .otsikko {
            font-weight: bold;
            padding: $laatikko-padding;
            border-bottom: 1px solid $border-color;
        }

        .ops-linkki {
            margin: 12px;
            padding: 0px 12px 0px 12px;
            background: #ffffff;
            border-radius: 4px;
            border: 1px solid $light-color;
            font-weight: bold;

            h4 {
                margin-top: 5px;
                margin-bottom: 2px;
            }

            .btn {
                margin-top: 9px;
                margin-bottom: 5px;
                color: #ffffff;
                float: right;
                border-radius: 4px;
                padding: 8px 14px 8px 14px;
                // position: relative;
                // top: 15px;
                background-color: $light-color;
                border-color: #ffffff;
                text-shadow: none;
                box-shadow: none;
            }
        }

        .ops-linkki-jaettu {
            border: 1px solid $jaettu-color;
        }

        .tiivistelmalaatikko {
            padding: $laatikko-padding;
            .ei-sisaltoa {
                color: #555;
                font-size: small;
            }
        }
    }
    .opslaatikko-jaettu {

    }

    .infolaatikko {
        background: white;
        border: 1px solid $border-color;
        margin-top: 24px;
    }

    .uutislaatikko {
        margin: 0px;
        margin-top: 4px;

        .ei-tiedotteita {
            color: #555;
            font-size: small;
        }
        .otsikko {
            padding: $laatikko-padding;
            border-bottom: 1px solid $border-color;
            font-weight: bold;
        }
        .uutislista {
            padding: $laatikko-padding;
            .uutinen {
                margin-bottom: 10px;

                a.uutinen-nimi {
                    color: $heavy-color;
                }
                .uutinen-body {
                    color: #555;
                }
                .uutinen-paivamaara {
                    font-size: 12px;
                    color: $dark-color;
                }
            }
            .nayta-kaikki-uutiset {
                margin-top: 4px;
            }

        }
    }

}

.omat-opetussuunnitelmat {
    margin-top: 8px;
    margin-bottom: 8px;

    .opshaku {
        input {
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            margin-bottom: 0px;
        }

        .hakuvalinnat {
            margin-top: 0px;
            padding: 9px 8px 8px 12px;
            color: #666;
            font-size: smaller;
            font-weight: bold;
            border: 1px solid #ccc;
            border-top: none;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;

            .bubble {
                padding: 5px 7px 5px 7px;
                margin: 3px 2px 2px 10px;
                color: #fff;
                border-radius: 4px;
                cursor: pointer;
                user-select: none;

                i {
                    margin-right: 4px;
                }
            }

            .bubble-ops {
                background: $ops-color;
            }

            .bubble-jaettu {
                background: $jaettu-color;
            }
        }
    }

    .opslistaus {
        margin-top: 8px;

        .opetussuunnitelma {
            margin-bottom: 12px;
            background: #fff;

            .ops-border {
                border: 1px solid $border-color;
                padding: 0px;
                margin: 0px;

                .ops-content {
                    border: 0px;
                    padding: 18px;

                    .ops-toimija {
                    }
                    .ops-nimi {
                    }
                    .ops-tutkintonimikkeet {
                        margin-top: 6px;
                        .tnimike-otsikko {
                            font-size: small;
                            color: $dark-color;
                        }
                        .tutkintonimike-bubble {
                            font-size: smaller !important;
                            background: $mid-color;
                            border-radius: 4px;
                            color: #fff;
                            font-size: 12px;
                            margin: 4px;
                            margin-left: 6px;
                            padding: 3px;
                            margin-top: 4px;
                        }
                    }
                }
                .ops-yleinen {
                    border-left: 6px solid #99D840;
                }
                .ops-tulevat {
                    border-left: 6px solid #99D840;
                }
                .ops-voimassaolevat {
                    border-left: 6px solid #149FCB;
                }
                .ops-siirtymassa {
                    border-left: 6px solid #ffba00;
                }
                .ops-poistuneet {
                    border-left: 6px solid #ff7c8a;
                }
            }
        }
    }
}

