.lukio-sivunavi {
  .sivunavi-box {
    .rajaus-container {
      padding-bottom: 0;
    }

    .kurssi {

      &:active > a{
        vertical-align: middle;
        color: blue;
        //font-weight: bold;
        background-color: white !important;
      }

      &.kurssi-soveltava:before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 32x;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.60em;
        display: block;
        left: -1em;
        top: 1.1em;
        position: relative;
        color: #f8a35e;
      }

      &.kurssi-pakollinen:before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 2px;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.60em;
        display: block;
        left: -1em;
        top: 1.1em;
        position: relative;
        color: #bddb8a;
      }

      &.kurssi-syventava:before {
        content: "";
        width: 5px;
        height: 5px;
        border-radius: 2px;
        border-style: solid;
        border-width: 0.35em 0 0.35em 0.60em;
        display: block;
        left: -1em;
        top: 1.1em;
        position: relative;
        color: #f8a35e;
      }


    }
  }
}
