.vuosiluokka-sisalto {
  max-width: 1000px;
  .panel-heading.vuosiluokka-osio {
    position: relative;
    padding: 10px 15px 0 0;
  }
}

.osaaminen {
  .yleiskuvaus-toggle {
    margin: 15px 0 10px;
    display: block;
  }

  .yleiskuvaus {
    padding: 10px;
    border: 1px solid #ccc;
  }
  .panel + .panel {
    margin-top: 15px;
  }
}

ul.vuosiluokat {
  list-style-type: none;
  @include content-columns(3, 20px);
  li input {
    top: 0;
  }
}

.oppiaine-view {
  .panel-heading {
    padding-bottom: 0;
  }
  .action-buttons {
    margin-top: 10px;
  }
  h4 {
    font-weight: 700;
  }
  .osioheader {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .inputwrapper {
    width: 100%;
    input {
      float: left;
    }
  }
  .oppiaine-header {
    table {
      tbody {
        th, td {
          padding-bottom: 10px;
          vertical-align: top;
        }
        th {
          padding-right: 20px;
        }
        td {
          ul {
            list-style-type: none;
            padding-left: 0;
          }
        }
      }
    }

  }
}

$osiot-box-height: 48px;
.oppiaine-osiot-vlk {
  margin-top: 40px;
  padding: 0;
  list-style-type: none;
  font-size: 110%;
  li {
    display: inline-block;
    background: white;
    position: relative;
    height: $osiot-box-height;
    overflow: hidden;
    border: 2px solid #aaa;
    margin: 0 5px 5px 0;
    min-width: 250px;
    padding: 5px $osiot-box-height 5px 5px;
  }
  .closer {
    position: absolute;
    right: 0px;
    top: -5px;
    font-size: $osiot-box-height*0.5;
    line-height: $osiot-box-height*0.9;
    width: $osiot-box-height*0.6;
    height: 100%;
  }
}

$index-bubble-size: 24px;
$tag-height: 28px;
$tag-color: #FEE7A4;
.opetuksen-tavoitteet {
  .panel-heading {
    padding-left: 20px;
  }
  .arvioinnin-kohdealue > .panel-heading {
    min-height: 48px;
  }
  .tavoite {
    .panel-body {
      border-top: 0 !important;
      padding-left: 0;
      padding-top: 5px;
    }
  }
  .added {
    opacity: 0.3;
    cursor: default;
  }
  .arviointi-kohdealueet {
    box-shadow: none;
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
  }
}

.tagcloud {
  list-style-type: none;
  padding-left: 10px;
  font-size: 0;
  li {
    vertical-align: top;
    font-size: 13px;
    display: inline-block;
    margin-bottom: 8px;
    height: $tag-height;
    a.closer {
      color: #333;
    }
  }
  li:not(first-child) {
    margin-right: $tag-height*0.9;
  }
}

.tavoite-sisalto {
  margin-left: 20px;
  .tavoite-collapser {
    margin-bottom: -10px;
    margin-top: 0;
  }
  h4 {
    padding-top: 5px;
    font-size: 13px;
    font-weight: 700;
  }
  .tavoite-otsikko {
    font-weight: 700;
    font-size: 15px;
    border-bottom: 1px solid lighten($brand-primary, 50%);
  }
  h3 {
    font-size: 110%;
    font-weight: 700;
    padding-top: 5px;
    padding-bottom: 2px;
  }
}

.tc-tag {
  display: inline-block;
  color: #333;
  background-color: $tag-color;
  border: none;
  font-weight: normal;
  padding: 5px;
  position: relative;
  height: $tag-height;
  &:after{
    content: "";
    float: right;
    position: absolute;
    top: 0;
    right: -$tag-height / 2;
    width: 0;
    height: 0;
    border-color: transparent;
    border-left-color: $tag-color;
    border-style: solid;
    border-width: $tag-height/2 0px $tag-height/2 $tag-height/2;
  }
}

.tavoitteet-wrapper {
  margin-bottom: 10px;
}

.perusopetuksen-arviointi {
  border-top-color: #ddd;
  tbody tr td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  thead tr th {
    font-size: 90%;
    vertical-align: top;
    text-transform: none;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #eee;
  }
}

.sisaltoalue-box {
  background-color: white;
  position: relative;
  min-height: 120px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  h4.header {
    border-bottom: 1px solid #aaa;
    padding-top: 12px;
    padding-bottom: 12px;
    width: 99%;
  }
  h5 {
    font-weight: 700;
    margin-bottom: 5px;
  }
  h4.cke_editable {
    margin-top: 0;
  }
  .buttons {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .edit-buttons {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .content {
    margin-left: 40px;
    padding-bottom: 10px;
    padding-right: 10px;
  }
}

.tag-action-buttons {
  position: relative;
}

#tag-filter-add-dialog {
  border: 1px solid #ccc;
  background-color: white;
  min-width: 300px;
  min-height: 300px;
  top: -300px;
  position: absolute;
}

.multichoice {
  margin-bottom: 0;
  &.condensed {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
  .toggle-all {
    display: block !important;
    label {
      font-style: italic;
    }
  }
  .level1 {
    padding-left: 1.5em;
  }
  .level2 {
    padding-left: 3em;
  }
}

.perusopetus {
  .tekstisisalto {
    margin-bottom: 4px;
    padding: 3px;
    cursor: pointer;
    color: $brand-primary;
    font-weight: 700;
  }

  .oppiaine {
    display: block;
    margin-left: 20px;
    margin-bottom: 5px;
    padding: 3px;
    //color: $brand-primary;
    font-weight: 700;
  }

  .oppimaara {
    margin-left: 40px;
  }

  .oppiaine-selected {
    border-radius: 3px;
    background-color: #0C566E;
    font-weight: bold;
    color: #eee;
  }

  .tekstisisalto-active-header {
    background-color: #888888;
    color: white;
    a {
      color: white;
    }
  }

  .tekstisisalto-active {
    background-color: #0C566E;
    color: white;
    a {
      color: white;
    }
  }

  .oppiaine-nimi {
    border-bottom: 1px solid #aaa;
  }
  .vuosiluokkavalitsin {
    float: right;
    position: relative;

    .nav-pills {
      .vlktab {
        border-radius: 0px;
      }
    }
  }
  .moodit {
    margin-top: -40px;
  }
}

.sisaltoalueotsikko {
  margin-top: 30px;
}

.prevnext-wrapper {
  width: 100%;
  margin-top: 40px;
  display: table;
  border: 1px solid #ccc;
  .prevnext {
    display: table-row;
    .prev.chevron, .next.chevron {
      width: 30px;
    }
    .prev, .next {
      display: table-cell;
    }
    .prev {
      padding: 5px 15px 5px 5px;
    }
    .next {
      padding: 5px 5px 5px 15px;
      text-align: right;
    }
  }

}

.teksti-linkki {
  margin-left: 5px;
  font-size: 14px;
}

.labeled-checkboxes {
  position: relative;
  label {
    margin-bottom: 0;
  }
  input[type=checkbox] {
    position: absolute;
    top: 4px;
    left: 4px;
  }
  .lc-label {
    float: left;
    display: inline-block;
    padding-left: 26px;
  }
}

.reset-filters {
  display: block;
  width: 100%;
  //text-align: right;
  margin-bottom: 10px;
}

.depth1 {
  margin-left: 20px;
}
.depth2 {
  margin-left: 40px;
}
.depth3 {
  margin-left: 60px;
}
