.selaus {
    @media (max-width: $screen-sm-max) {
        h2, h3 {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .koostenakyma {
        p.koostekuvaus {
            padding: 3px;
        }
    }
}
