#global-spinner {
    &.ng-hide-add,
    &.ng-hide-remove {
        transition: opacity 0.2s;
    }
    &.ng-hide-add.ng-hide-add-active,
    &.ng-hide-remove {
        opacity: 0;
    }
    &.ng-hide-add,
    &.ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
    }
    position: fixed;
    background: transparent;
}

.small-spinner {
    margin-left: 7px;
}
