.tab-container {
  background: #F8f8f8;
  width: 105%;

  .nav-tabs {
    border-bottom: 0 !important;
  }
}

.sivunavi-sisalto {
  padding: 0;
}

#ep-tabs {
  margin-bottom: 15px;
  margin-left: -25px;
  margin-top: -12px;
  li > a {
    border-bottom: none;
    font-size: 13px;
    border-radius: 0px;
    padding-top: 16px;
    padding-right: 19px;
    padding-left: 19px;
    padding-bottom: 16px;
    background: #ffffff;
    color: #000000;

    &:hover {
      padding-top: 17px;
      padding-right: 20px;
      padding-left: 20px;
      border: 0;
      background: #2abdea;
      color: white;
    }

    &:active {
      border-color: rgb(146, 204, 224);
      background: #149ecb;
      color: white;
    }
  }
}

.tab-active > a {
  padding-top: 17px !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  border: 0px !important;
  background: #149ecb !important;
  color: white !important;
}

//color legend

  .legend-container {
    padding-top: 15px;
    width: 400px;
  }

  .legend-label {
    vertical-align: top;
    margin-left: 10px;
    font-size: 12px;
    padding-bottom: 3px;
    display: inline-block;
    position: relative;
  }

  .colorbox {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    border-left: 8px;
    border-right: 20px;
    display: inline-block;
    position: relative;
  }
  .spacer {
    width: 40px;
    display: inline-block;
  }
  .syventava {
    background-color: rgb(178, 155, 202);
  }

  .pakollinen {
    background-color: rgb(136, 211, 228);
  }

  .soveltava {
    background-color: rgb(252, 242, 129);
  }
