.sivunavi-sisalto {
  padding: 0px;
}

#ep-tabs {
  margin-bottom: 15px;
  margin-left: -25px;
  margin-top: -12px;
  background: red;
  li > a {
    border-radius: 0;
    border: 0px;
    padding-top: 15px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;

    &:hover {
      border-color: rgb(146, 204, 224);
      font-size: 13px;
      background: #149ecb;
      color: white;
    }

    &:active {
      border-color: rgb(146, 204, 224);
      font-size: 13px;
      background: #149ecb;
      color: white;
    }
  }
}
