.tiedote {
    .tiedote-tiedot {
        color: #777;
    }
    .tiedote-leipateksti {
        margin-top: 20px;
        margin-bottom: 40px;
    }
    .tiedote-perusteprojekti {
        color: #777;
    }
    ul {
        padding: 0;
    }
}

.uutiset {
    ul {
        list-style-type: none;
        padding: 0;
    }
}
