.opintopolku-header {
  a:hover {
    text-decoration: none;
  }
  background-color: $brand-secondary;
  line-height: 20px;
  font-size: 15px;
  color: white;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      padding: 5px 20px;
      display: inline-block;
      a {
        color: white;
      }
      &.active {
        background-color: $ylanavi-color;
      }
    }
  }
  .header-kielenvaihto {
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-weight: 700;
    font-size: 13px;
    a {
      color: white;
    }
  }
}

.ylanavigaatio {
  padding-left: 0;
  padding-right: 0;
  background-color: $ylanavi-color;
}
.ylanavigaatio-sub {
  padding-left: 0;
  padding-right: 0;
  background-color: $content-bg-color;
}

.ylanavi-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  li {
    padding: 16px;
    display: inline-block;
    &.active {
      background-color: $content-bg-color;
      a {
        color: black;
      }
    }
  }
}

.ylanavi-container {
  width: 100%;
  & a {
    color: white;
    font-size: 110%;
  }
}

.ylanavi-container-sub {
  width: 100%;
  .ylanavi-list {
    li {
      padding: 11px 16px;
      &.active {
        background-color: $content-bg-color;
        a {
          color: black;
        }
      }
    }
  }
  & a {
    color: $brand-primary;
    font-size: 100%;
  }
}
