input.form-control::-ms-clear {
  display: none;
}

$backtotop-size: 48px;
#backtotop {
  &.ng-hide-add, &.ng-hide-remove {
    transition: 0.2s linear all;
  }
  &.ng-hide-add.ng-hide-add-active, &.ng-hide-remove {
    opacity: 0;
  }
  &.ng-hide-add, &.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
  }
  position: fixed;
  top: 5px;
  right: 5px;
  a {
    cursor: pointer;
    .glyphicon {
      margin-right: 2px;
    }
    display: block;
    text-align: center;
    border: 2px solid rgba(0,0,0,0.8);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    font-size: $backtotop-size*0.6;
    line-height: $backtotop-size;
    width: $backtotop-size;
    height: $backtotop-size;
    &:hover, &:focus, &:active, & *:hover, & *:focus, & *:active {
      text-decoration: none;
    }
  }
}

.rajaus-clear {
  cursor: pointer;
}

.action-link {
  outline: 0;
  cursor: pointer;
  &:hover {
    outline: 0;
  }
  &:active, &:focus {
    outline: 0;
    text-decoration: none;
    color: $brand-primary;
  }
}

a[href] {
  outline: 0;
}

a:focus {
  text-decoration: none;
}

body {
  height: 100%;
  background-color: $content-bg-color;
}

.sisalto-container {
  margin-bottom: 100px;
}

.inner-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $screen-lg;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (max-width: $screen-sm) {
  .sisalto-container {
    margin-bottom: 15px;
  }
  .inner-container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

/* aseta myös bootstrapin $font-size-base samaksi */
body {
  font-size: 14px !important;
  color: $ep-text-default;
}

/* ikoni + linkkiteksti */
.iconlink > .glyphicon, a > *[icon-role] > .glyphicon {
  margin-right: 5px;
}

.clickable {
  cursor: pointer;
}

h4.sparse {
  margin-top: 20px;
}

.breadcrumb {
  padding-left: 0;
  li {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    a {
      color: darken($brand-primary, 5%);
      &:hover {
        color: $brand-secondary;
      }
    }
  }
  li:not(:last-child) {
    max-width: 40em;
  }
}

.peruste-otsikko {
  margin-top: 30px;
  margin-bottom: 10px;
}

hr {
  color: $brand-primary;
}

@media (max-width: $screen-sm) {
  .table-responsive {
    border: none;
  }
}

// Mobiilissa marginaalit poistettu vasemmalta ja oikealta
@media (max-width: $screen-sm-max) {
  [class*="col-"] {
    padding-left: 0;
    padding-right: 0;
  }
  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .container {
    width: 100%;
    max-width: none;
    padding: 0;
  }
  .container-fluid {
    width: 100%;
    max-width: none;
    padding: 0;
  }

  .breadcrumb {
    padding-left: $sisalto-padding;
    padding-right: $sisalto-padding;
  }
  .peruste-otsikko {
    padding-left: $sisalto-padding;
    padding-right: $sisalto-padding;
  }

  .breadcrumb {
    li {
      max-width: 80vw;
    }
    li:not(:last-child) {
      max-width: 80vw;
    }
  }
}
