<!-- arviointi.html -->

<table class="table table-bordered perusopetuksen-arviointi ">
  <thead>
    <tr>
      <th ng-bind="atavoite.arvioinninKuvaus || 'arvioinnin-kohde' | kaanna"></th>
      <th ng-bind="atavoite.arvioinninOsaamisenKuvaus || 'arvion-hyva-osaaminen' | kaanna"></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="arviointi in model">
      <td>
        <span>{{arviointi.arvioinninKohde | kaanna}}</span>
      </td>
      <td>
        <span>{{arviointi.hyvanOsaamisenKuvaus | kaanna}}</span>
      </td>
    </tr>
  </tbody>
</table>
