table.table.table-bordered.perusopetuksen-arviointi
  thead
    tr
      th(ng-bind="'osaamisen-kuvaus' | kaanna")
      th(ng-bind="'arvion-kuvaus' | kaanna")
  tbody
    tr(ng-repeat='arviointi in model | orderBy:"-arvosana"')
      td
        span {{'osaamisen-kuvaus-arvosanalle_' + arviointi.arvosana | kaanna}}
      td
        span {{arviointi.osaamisenKuvaus | kaanna}}
