html
  body
    span.ohje
      // partials/ohje.html
      span.popover-element(uib-popover-html='textObject | kaanna', popover-title="{{ title || 'ohje' | kaanna }}", popover-trigger='show', popover-placement="{{suunta || 'right'}}", ng-mouseenter='show(true, true)', ng-click='show(!tt_isOpen)', ng-class="{open: tt_isOpen, badge: ohje !== 'false'}")
        span(ng-transclude='')
        span(ng-if="ohje !== 'false'") ?
